<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <title>ArtBider Auction Houses</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">

    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="/static/css/owl-carousel.css">

    <link rel="stylesheet" href="/static/css/lightbox.css">
    <link rel="stylesheet" href="/static/css/jquery.dropdown.min.css">
    <link rel="stylesheet" href="/static/css/new-style.css">


    <style type="text/css">
        .button {
            width: 150px;
            padding: 10px;
            background-color: #FF8C00;
            box-shadow: -8px 8px 10px 3px rgba(0, 0, 0, 0.2);
            font-weight: bold;
            text-decoration: none;
        }

        #cover {
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.6);
            z-index: 5;
            width: 100%;
            height: 100%;
            display: none;
        }

        #adminScreen {
            height: 680px;
            width: 640px;
            margin: 0 auto;
            position: relative;
            z-index: 10;
            display: none;
            background: url(login.png) no-repeat;
            border: 5px solid #cccccc;
            border-radius: 10px;
        }

        #adminScreen:target,
        #adminScreen:target+#cover {
            display: block;
            opacity: 2;
        }

        .cancel {
            display: block;
            position: absolute;
            top: 3px;
            right: 2px;
            background: rgb(245, 245, 245);
            color: black;
            height: 30px;
            width: 35px;
            font-size: 30px;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
        }
    </style>

    <script src="/static/js/editfromfront.js"></script>
    <script src="/static/js/eolicoauth.js"></script>

</head>

<body>

    <!-- Sign up Modal -->
    <div class="modal fade z-index signup-modal" id="exampleModal-signup" tabindex="2" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-logo">
                        <a href="index.html">
                            <img src="/static/images/logo1.png" alt="" class="img-fluid" width="150" />
                        </a>
                    </div>
                    <button type="button" class="close close-modals" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-head">
                        <h3>Sign up to see full auction records — for free</h3>
                    </div>
                    <div class="modal-form">
                        <form method="post" action="/login/registration/" name="frmsignup" id="frmsignup">
                            <label style="color:red;" id="errormsg"></label> {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Username</label>
                                <input type="text" class="form-control" id="regiUsername" name="username"
                                    placeholder="Enter your full name" />
                            </div>
                            <div class="form-group">
                                <label for="emailid">Email</label>
                                <input type="text" class="form-control" id="emailid" name="emailid"
                                    placeholder="Enter your email address" />
                            </div>
                            <div class="form-group">
                                <label for="password1">Password</label>
                                <input type="password" class="form-control" id="password1" name="password1"
                                    placeholder="Enter a password" />
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <p>Password must be at least 8 characters.</p>
                            </div>
                            <div class="form-group">
                                <label for="password2">Confirm Password</label>
                                <input type="password" class="form-control" id="password2" name="password2"
                                    placeholder="Re-type password" />
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <div class="form-group">
                                <div class="check-input">
                                    <span>
                                        <input type="checkbox" name="agree" id="agree" value="" />
                                    </span>
                                    <p>I agree to the <a href="terms.html" target="_blank">Terms of Use</a>, <a
                                            href="privacy-policy.html" target="_blank">Privacy Policy</a>, <a
                                            href="conditions-of-sale.html" target="_blank">Conditions of Sale</a> and to
                                        receiving emails from ArtBidder.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" value="signup" name="btnsignup" class="btn btn-slider"
                                    onclick="javascript:doregister();">Sign up</button>
                            </div>
                            <!--
                            <div class="form-group">
                                <p class="or text-center">or</p>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-apple" aria-hidden="true"></i> Continue with Apple</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-google" aria-hidden="true"></i> Continue with Google</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-facebook" aria-hidden="true"></i> Continue with Facebook</a>
                            </div>
			    -->
                            <div class="form-group text-center">
                                <p>Already have an account? <a href="javascript:void(0)" data-dismiss="modal"
                                        data-toggle="modal" data-target="#exampleModal-login">Log In</a></p>
                            </div>
                            <div class="form-group text-center">
                                <p>This site is protected by reCAPTCHA and the Google <a
                                        href="privacy-policy.html">Privacy Policy</a> and <a href="terms.html">Terms of
                                        Service</a> apply.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign up Modal -->
    <!-- Sign in Modal -->
    <div class="modal fade z-index signup-modal" id="exampleModal-login" tabindex="1" role="dialog"
        aria-labelledby="exampleModalLabel-login" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-logo">
                        <a href="index.html">
                            <img src="/static/images/logo1.png" alt="" class="img-fluid" width="150" />
                        </a>
                    </div>
                    <button type="button" class="close close-modals" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-head">
                        <h3>Login</h3>
                    </div>
                    <div class="modal-form">
                        <form method="post" action='/login/dologin/' name='frmlogin' id='frmlogin'>
                            <label style="color:red;" id="errormsg"></label> {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" name='username' id="loginUsername"
                                    placeholder="Enter your username" />
                            </div>
                            <div class="form-group">
                                <label for="password">password</label>
                                <input type="password" class="form-control" name='passwd' id="passwd"
                                    placeholder="Enter your password" />
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <!-- <div class="form-group">
                                <div class="check-input">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal-passwprd">Forgot Password?</a>
                                </div>
                            </div> -->
                            <div class="form-group">
                                <button type="button" value="submit" name="" class="btn btn-slider"
                                    onclick="javascript:dologin();">Log in</button>
                            </div>
                            <!--
                            <div class="form-group">
                                <p class="or text-center">or</p>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-apple" aria-hidden="true"></i> Continue with Apple</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-google" aria-hidden="true"></i> Continue with Google</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-facebook" aria-hidden="true"></i> Continue with Facebook</a>
                            </div>
			    -->
                            <div class="form-group text-center">
                                <p>Don't have an account? <a href="javascript:void(0)" data-dismiss="modal"
                                        data-toggle="modal" data-target="#exampleModal-signup">Sign up</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign in Modal -->
    <!-- Sign in Modal -->
    <div class="modal fade z-index signup-modal" id="exampleModal-passwprd" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel-passwprd" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-logo">
                        <a href="index.html">
                            <img src="/static/images/logo1.png" alt="" class="img-fluid" width="150" />
                        </a>
                    </div>
                    <button type="button" class="close close-modals" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-head">
                        <h3>Reset your password</h3>
                    </div>
                    <div class="modal-form">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="email">password</label>
                                <input type="text" class="form-control" id="password" placeholder="Enter a password" />
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <div class="form-group">
                                <button type="submit" value="submit" name="" class="btn btn-slider">Send me reset
                                    instructions</button>
                            </div>
                            <div class="form-group text-center">
                                <p>Don’t need to reset? <a href="javascript:void(0)" data-toggle="modal"
                                        data-target="#exampleModal-login">login</a> or <a href="javascript:void(0)"
                                        data-toggle="modal" data-target="#exampleModal">Sign up</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign in Modal -->

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- <nav class="main-nav">

                        <a href="/login/index/" class="logo">
                            <img src="/static/images/logo1.png">
                        </a>
                        
                        <ul class="nav">
                            
                            <li class="scroll-to-section"><a href="/login/dashboard/">Dashboard</a></li>
			    <li class="scroll-to-section"><a href="/artist/index/">Artists</a></li>
			    <li class="scroll-to-section"><a href="/auctionhouse/index/" class="active">Auction Houses</a></li>
			    <li class="scroll-to-section"><a href="/auction/index/">Auctions</a></li>
			    <li class="scroll-to-section"><a href="/price/database/">Price Database</a></li>
                            <li class="scroll-to-section"><a href="/price/plans/">Plans</a></li>
			    {% if not user.is_authenticated %}
				<li><button type="button" class="btn btn-info btn-round" data-toggle="modal" data-target="#exampleModal-login" aria-controls="exampleModal-login">Login</button></li>
		   	    {% else %}
				<li><a href="/login/logout/">Logout</a></li>
			    {% endif %}

			    
                            
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>

                    </nav> -->
                    <nav class="navbar navbar-expand-lg navbar-light p-0 main-nav">
                        <!-- <a class="navbar-brand" href="/login/dashboard/"> -->
                        <!-- <img src="static/images/newLogo.png"> -->
                        <!-- ARTBIDDER -->
                        <!-- </a> -->
                        <div class="navbar-brand">
                            <a class="navbar-brand" href="/">
                                <img src="/static/images/email-logo.jpeg" style="height: 50px;" alt="">
                            </a>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarToggler10"
                                aria-controls="myNavbarToggler10" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="myNavbarToggler10">
                            <ul class="navbar-nav mr-0">
                                <li class="nav-item scroll-to-section">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item scroll-to-section">
                                    <a class="nav-link" href="/artist/index/">Artists</a>
                                </li>
                                <li class="nav-item scroll-to-section">
                                    <a class="nav-link active" href="/auctionhouse/index/">Auction Houses</a>
                                </li>
                                <li class="nav-item scroll-to-section">
                                    <a class="nav-link" href="/auction/index/">Auctions</a>
                                </li>
                                <li class="nav-item scroll-to-section">
                                    <a class="nav-link" href="/price/database/">Price Database</a>
                                </li>
                                <li class="nav-item scroll-to-section">
                                    <a class="nav-link" href="/price/plans/">Price Plans</a>
                                </li>
                                <li class="nav-item scroll-to-section">
                                    <a class="nav-link" href="#">Galleries</a>
                                </li>
        
                                <li class="nav-item scroll-to-section">
                                    <a class="nav-link" href="#">Shows</a>
                                </li>
        
                                <li class="nav-item scroll-to-section">
                                    <a class="nav-link" href="#"> News</a>
                                </li>
        
                            </ul>
                            <ul class="navbar-nav sm-icons mr-0">
                                {% if not user.is_authenticated %}
                                <!-- <li class="nav-item"><a class="nav-link" href="/login/dashboard/">@Username</a></li> -->
                                <li class="nav-item"><button type="button" class="btn btn-login btn-round" data-toggle="modal" data-target="#exampleModal-login" aria-controls="exampleModal-login">Login</button></li>
                                {% else %}
                                <li class="nav-item"><a class="nav-link" href="/login/dashboard/">@{{username}}</a></li>
                                <li class="nav-item">
                                    <button class="btn text-light btn-primary px-4" style="border-radius: 20px;" onclick='javascript:logout();'>Logout</button>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <!-- <section class="inner-top-banner"></section> -->

    <!-- ***** Main Banner Area End ***** -->
    <!-- <section class="section gal-section gal-dtl-sec" id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center">
                        <div class="gal-logo-box">
                            <a href="/auctionhouse/details/?ahid={{ahid}}" class="">
                                <img src="{{auctioninfo.coverimage}}">
                                <h2>{{auctionhousename}}</h2>
                            </a>
                            <p>{{auctionhouselocation}}, {{auctionhousecountry}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <section class="category-tabs mrt-90">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="tabbable-responsive tabbable-responsive-new">
                        <div class="tabbable">
                            <ul class="nav nav-tabs" id="gal-Tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link  active" id="Overview-tab" data-toggle="tab" href="#Overview"
                                        role="tab" aria-controls="Overview" aria-selected="false">Upcoming Auctions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Events-tab" data-toggle="tab" href="#Events" role="tab" aria-controls="Events" aria-selected="true">Past Auctions</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="Works-tab" data-toggle="tab" href="#Works" role="tab"
                                        aria-controls="Works" aria-selected="false">Past Auctions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="cate-tabs-content mrt-90">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="Overview" role="tabpanel"
                                    aria-labelledby="Overview-tab">

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="section-heading section-heading-2 pdb-50">
                                                <h2>Upcoming Auctions</h2>
                                                <span>
                                                    <a href="">View All</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    {% if upcomingauctions|length == 0 %}
                                    <div class="row align-items-end" style='text-align:center;justify:center;'>
                                        <h6>There are no past auctions for this auction house as of now.</h6>
                                    </div>
                                    {% else %}
                                    <div class="row align-items-end">
                                        {% for auction in upcomingauctions %}
                                        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="img-box">
                                                <a href="/auction/showauction/?aucid={{auction.aucid}}"><img
                                                        src="{{auction.auctionimage}}" alt=""></a>
                                                <a href="/auction/showauction/?aucid={{auction.aucid}}"
                                                    style="color:#000000;">
                                                    <h4>{{auction.auctionname}}</h4>
                                                    <h6>{{auction.auctionhousename}}</h6>
                                                    <h6>{{auction.aucperiod}}</h6>
                                                </a>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="tab-pane fade" id="Works" role="tabpanel" aria-labelledby="Contact-tab">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="section-heading section-heading-2 pdb-50">
                                                <h2>Past Auctions</h2>
                                                <span>
                                                    <a href="">View All</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    {% if pastauctions|length == 0 %}
                                    <div class="row align-items-end" style='text-align:center;justify:center;'>
                                        <h6>There are no past auctions for this auction house as of now.</h6>
                                    </div>
                                    {% else %}
                                    <div class="row align-items-end">
                                        {% for auction in pastauctions %}
                                        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="img-box">
                                                <a href="/auction/showauction/?aucid={{auction.aucid}}"><img
                                                        src="{{auction.auctionimage}}" alt=""></a>
                                                <a href="/auction/showauction/?aucid={{auction.aucid}}"
                                                    style="color:#000000;">
                                                    <h4>{{auction.auctionname}}</h4>
                                                    <h6>{{auction.auctionhousename}}</h6>
                                                    <h6>{{auction.aucperiod}}</h6>
                                                </a>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--<section>
         <section class="artists-details" style="padding-top: 140px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="thumb-img">
                            <img src="https://f000.backblazeb2.com/file/fineart-images/null" class="artist-img"
                                alt="img" id="auctionImage">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="artists-details-content">
                            <h4 class="mb-3" id="auctionHouseName">The European Art Sale Part I</h4>
                            <h6 class="mb-3">Action Details</h6>
                            <h5 id="auctionName">Sotheby's</h5>
                            <h5><span id="auctionHouseLocation">New York, USA</span></h5>
                            <h5><span id="auctionDate">27 Jan, 2023</span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
    </section> -->
    <section class="artists-details" style="padding-top: 120px;">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h1 id="auctionHouseHeaderId"></h1>
                </div>
            </div>
        </div>
    </section>
    
    <section class="category-tabs mt-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="tabbable d-flex align-items-center border-bottom justify-content-between">
                        <ul class="nav nav-tabs border-0" id="gal-Tab" role="tablist">
                            <li class="nav-item mr-3">
                                <button class="nav-link" id="Overview-tab" data-toggle="tab" role="tab" aria-controls="Overview" aria-selected="false" onclick="pastUpcomingAuction(event, 'upcoming', '');">Upcoming
                                    Auctions</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link active" id="Works-tab" data-toggle="tab" role="tab" aria-controls="Works" aria-selected="false" onclick="pastUpcomingAuction(event, 'past', '');">Past Auctions</button>
                            </li>
                        </ul>
                        <div class="page-show p-0">
                            <select class="custom-select" id="inputGroupSelect01" style="border: 0; background-color: transparent;" onchange="filterAuction(event);">
                                <option value="50"selected>Per Page 50</option>
                                <option value="100">Per Page 100</option>
                                <option value="150">Per Page 150</option>
                                <option value="200">Per Page 200</option>
                        </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="cate-tabs-content">
                        <div class="card-body">
                            <div class="tab-content" id="upcomingauctions">
                                <div class="tab-pane fade show active" id="Overview" role="tabpanel"
                                    aria-labelledby="Overview-tab">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                                            <div class="sidebar-left">
                                                <!-- <form method="" name='frmotherfilter' id='frmotherfilter' action=''> -->
                                                    <input type="hidden" name="csrfmiddlewaretoken" value="0tW5rfvBq4ZATXSUg0qnLlTgRuCF4xES6KOGQd8ARGv748a5CVBNuD6dogcl8lwx">
                                                    <div id="accordion" class="accordion">
                                                        <div class="card mb-0">
                                                            <div class="">
                                                                <h2 class="heading-style">Filtter</h2>
                                                            </div>
                                                            <div class="">
                                                                <div class="card-header mb-3" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                                    <a class="card-title">
                                                                        Auction Title
                                                                    </a>
                                                                </div>
                                                                <div id="collapseOne" class="collapse show mb-4" data-parent="#accordion">
                                                                    <input class="form-control" type="text" id="auctionTitleTextId" onblur="filterAuction(event)">
                                                                </div>
                                                            </div>
                                                            <div class="">
                                                                <div class="card-header mb-3" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                                    <a class="card-title">
                                                                    Sort By
                                                                </a>
                                                                </div>
                                                                <div id="collapseTwo" class="collapse show mb-4" data-parent="#accordion">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" id="defaultCheck1" onblur="filterAuction(event)">
                                                                        <label class="form-check-label" for="defaultCheck1">
                                                                        Sale Date
                                                                    </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- <div class="">
                                                                <div class="card-header mb-3" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                                    <a class="card-title">
                                                                    Auction House
                                                                </a>
                                                                </div>
                                                                <div id="collapseThree" class="collapse show mb-4" data-parent="#accordion">
                                                                    <div class="form-check mb-2">
                                                                        <input class="form-check-input forHousesCls" type="checkbox" value="Sotheby's" id="Sotheby" onblur="filterAuction(event)">
                                                                        <label class="form-check-label" for="Sotheby">Sotheby’s</label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input forHousesCls" type="checkbox" value="Christie's" id="Christie" onblur="filterAuction(event)">
                                                                        <label class="form-check-label" for="Christie">Christie’s</label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input forHousesCls" type="checkbox" value="Bonhams" id="Bonhams" onblur="filterAuction(event)">
                                                                        <label class="form-check-label" for="Bonhams">Bonhams</label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" value="" id="Sotheby">
                                                                        <label class="form-check-label" for="Sotheby">
                                                                        Sotheby’s
                                                                    </label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input forHousesCls" type="checkbox" value="Phillips" id="Phillips" onblur="filterAuction(event)">
                                                                        <label class="form-check-label" for="Phillips">Phillips</label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input" type="checkbox" value="Dorotheum" id="Dorotheum">
                                                                        <label class="form-check-label" for="Dorotheum">Dorotheum</label>
                                                                    </div>
                                                                    <button id="housesShowMoreIdBtn" data-start="0" class="show-more" onclick="getauctionHouses(event, 'houses')">Show More</button>
                                                                </div>
                                                            </div> -->
                                                            <div class="">
                                                                <div class="card-header mb-3" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                                                    <a class="card-title">Auction Location</a>
                                                                </div>
                                                                <div id="collapseFour" class="collapse show mb-4" data-parent="#accordion">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input forLocationsCls" type="checkbox" value="London" id="London" onblur="filterAuction(event)">
                                                                        <label class="form-check-label" for="London">London</label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input forLocationsCls" type="checkbox" value="New York" id="NewYork" onblur="filterAuction(event)">
                                                                        <label class="form-check-label" for="NewYork">New York</label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input forLocationsCls" type="checkbox" value="Paris" id="Paris" onblur="filterAuction(event)">
                                                                        <label class="form-check-label" for="Paris">Paris</label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input class="form-check-input forLocationsCls" type="checkbox" value="Milan" id="Milan" onblur="filterAuction(event)">
                                                                        <label class="form-check-label" for="Milan">Milan</label>
                                                                    </div>
                                                                    <button id="locationsShowMoreIdBtn" data-start="0" class="show-more" onclick="getauctionHouses(event, 'locations')">Show More</button>
                                                                </div>
                                                            </div>
                                                            <div class="card-header mb-3" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                                                <a class="card-title">
                                                                    Sale Date
                                                                </a>
                                                            </div>
                                                            <div id="collapseFive" class="collapse show" data-parent="#accordion">
                                                                <div>
                                                                    <label class="form-check-label">
                                                                        From 
                                                                    </label>
                                                                    <input class="form-control" type="date" id="fromDate" onblur="filterAuction(event)">
                                                                </div>
                                                                <div>
                                                                    <label class="form-check-label">
                                                                        To 
                                                                    </label>
                                                                    <input class="form-control" type="date" id="toDate" onblur="filterAuction(event)">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <!-- </form> -->
                                            </div>
                                        </div>
                                        <div id="Overview" class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                                            <div class="row" id="pastauctions">
                                                <!-- <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4 auctionData">
                                                    <div class="latest-artists">
                                                        <a href="/auction/details/?lid=10875566" class="latest-card">
                                                            <div class="thumb">
                                                                <img src="https://f000.backblazeb2.com/file/fineart-images/SothebysNewYorkN1114944953350_a.jpg"
                                                                    class="card-img" alt="img">
                                                            </div>
                                                            <div class="artist-card">
                                                                <h3>Title : <span>A Ship of the Russian Navy off the
                                                                        Coast</span></h3>
                                                                <h3>Artist : <span>Ivan Konstantinovich
                                                                        Aivazovsky</span></h3>
                                                                <h3 class="mb-3">Lot : 350</h3>

                                                                <h3>Medium : <span>oil on card</span></h3>
                                                                <h3 class="mb-3">Category : <span>paintings</span>
                                                                </h3>

                                                                <h3>The European Art Sale Part I</h3>
                                                                <h3><span>Sotheby's</span></h3>
                                                                <h3 class="mb-3"><span>27 Jan, 2023 | New York</span>
                                                                </h3>

                                                                <h3>Estimate : <span>Login to view</span></h3>
                                                                <h3>Price Sold : <span>Login to view</span></h3>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4 artworkData">
                                                    <div class="latest-artists">
                                                        <a href="/auction/details/?lid=10875567" class="latest-card">
                                                            <div class="thumb">
                                                                <img src="https://f000.backblazeb2.com/file/fineart-images/SothebysNewYorkN1114944953351_a.jpg"
                                                                    class="card-img" alt="img">
                                                            </div>
                                                            <div class="artist-card">
                                                                <h3>Title : <span>Rough Seas</span></h3>
                                                                <h3>Artist : <span>Montague Dawson</span></h3>
                                                                <h3 class="mb-3">Lot : 351</h3>

                                                                <h3>Medium : <span>oil on canvas</span></h3>
                                                                <h3 class="mb-3">Category : <span>paintings</span>
                                                                </h3>

                                                                <h3>The European Art Sale Part I</h3>
                                                                <h3><span>Sotheby's</span></h3>
                                                                <h3 class="mb-3"><span>27 Jan, 2023 | New York</span>
                                                                </h3>

                                                                <h3>Estimate : <span>Login to view</span></h3>
                                                                <h3>Price Sold : <span>Login to view</span></h3>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4 artworkData">
                                                    <div class="latest-artists">
                                                        <a href="/auction/details/?lid=10875568" class="latest-card">
                                                            <div class="thumb">
                                                                <img src="https://f000.backblazeb2.com/file/fineart-images/SothebysNewYorkN1114944953352_a.jpg"
                                                                    class="card-img" alt="img">
                                                            </div>
                                                            <div class="artist-card">
                                                                <h3>Title : <span>The Bonita of Boston</span></h3>
                                                                <h3>Artist : <span>Montague Dawson</span></h3>
                                                                <h3 class="mb-3">Lot : 352</h3>

                                                                <h3>Medium : <span>oil on canvas</span></h3>
                                                                <h3 class="mb-3">Category : <span>paintings</span>
                                                                </h3>

                                                                <h3>The European Art Sale Part I</h3>
                                                                <h3><span>Sotheby's</span></h3>
                                                                <h3 class="mb-3"><span>27 Jan, 2023 | New York</span>
                                                                </h3>

                                                                <h3>Estimate : <span>Login to view</span></h3>
                                                                <h3>Price Sold : <span>Login to view</span></h3>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="/static/images/CompanyLogo.png" alt="" style="height: 70px; width: 150px;">
                        </div>
                        <ul>
                            <li><a href="#">1234 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                            <li><a href="#">demo@company.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/auctionhouse/index/">Featured Auction Houses</a></li>
                        <li><a href="/login/index/">Home</a></li>
                        <li><a href="/auction/index/">Current Auctions</a></li>
                        <li><a href="/artist/index/">Trending Artists</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="/about/">About Us</a></li>
                        <li><a href="/gallery/index/">Galleries</a></li>
                        <li><a href="/museum/index/">Museums</a></li>
                        <li><a href="/contactus/">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="/faq/">FAQ's</a></li>
                        <li><a href="/termsofuse/">Terms of Use</a></li>
                        <li><a href="/privacy/">Privacy Policy</a></li>
                        <li><a href="/security/">Security</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022. All Rights Reserved.</p>

                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="/static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/js/owl-carousel.js"></script>
    <script src="/static/js/accordions.js"></script>
    <script src="/static/js/datepicker.js"></script>
    <script src="/static/js/scrollreveal.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/imgfix.min.js"></script>
    <script src="/static/js/slick.js"></script>
    <script src="/static/js/lightbox.js"></script>
    <script src="/static/js/isotope.js"></script>
    <script src="/static/js/jquery.dropdown.min.js"></script>

    <!-- Global Init -->
    <script src="/static/js/custom.js"></script>
    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "350px";
            //document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
    <script>
        /*https://www.jqueryscript.net/demo/Searchable-Multi-select-jQuery-Dropdown/*/
        $('.demo').dropdown({
            limitCount: 1,
            input: '<input type="text" maxLength="20" placeholder="Search">'
        });
    </script>
    <script>
        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });
    </script>
    <script src="/static/js/auctionHouseDetailsAjaxCall.js"></script>
</body>

</html>