<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Auction Houses</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">

    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/owl-carousel.css">

    <link rel="stylesheet" href="/static/css/lightbox.css">
    <link rel="stylesheet" href="/static/css/jquery.dropdown.min.css">

    <link rel="stylesheet" href="/static/css/newcarousel.css">

    <script type='text/javascript'>


    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    
</head>
    
<body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/login/index/" class="logo">
                            <img src="/static/images/logo1.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/gallery/index/">Galleries</a></li>
				 <li class="scroll-to-section"><a href="/museum/index/">Museums</a></li>
				 <li class="scroll-to-section"><a href="/artist/index/">Artists</a></li>
				 <li class="scroll-to-section"><a href="/auctionhouse/index/" class="active">Auction Houses</a></li>
				 <li class="scroll-to-section"><a href="/auction/index/">Auctions</a></li>
				 <li class="scroll-to-section"><a href="/price/database/">Price Database</a></li>
                            <!--<li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li>-->
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    
	   	<!-- Carousel -->
    <section class="testimonials">
	<div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="customers-testimonials" class="owl-carousel">
	    {% for d in carousel %}
            {% if d.datatype == "gallery" %}
            <div class="item">
              <div class="shadow-effect">
                <img class="img-responsive" src="{{d.img}}" alt="">
                <div class="item-details">
			<a class="btn btn-slider" href="/gallery/details/?gid={{d.data_id}}">
			<h5>{{d.title}}</h5>
			<p>{{d.text}}</p>
			</a>
		</div>
              </div>
            </div>
	    {% endif %}
	    {% if d.datatype == "gevent" %}
            <div class="item">
              <div class="shadow-effect">
                <img class="img-responsive" src="{{d.img}}" alt="">
                <div class="item-details">
			<a class="btn btn-slider" href="/gallery/eventdetails/?gevid={{d.data_id}}">
			<h5>{{d.title}}</h5>
			<p>{{d.text}}</p>
			</a>
		</div>
              </div>
            </div>
	    {% endif %}
	    {% if d.datatype == "museum" %}
            <div class="item">
              <div class="shadow-effect">
                <img class="img-responsive" src="{{d.img}}" alt="">
                <div class="item-details">
			<a class="btn btn-slider" href="/museum/details/?mid={{d.data_id}}">
			<h5>{{d.title}}</h5>
			<p>{{d.text}}</p>
			</a>
		</div>
              </div>
            </div>
	    {% endif %}
	    {% if d.datatype == "mevent" %}
            <div class="item">
              <div class="shadow-effect">
                <img class="img-responsive" src="{{d.img}}" alt="">
                <div class="item-details">
			<a class="btn btn-slider" href="/museum/eventdetails/?mevid={{d.data_id}}">
			<h5>{{d.title}}</h5>
			<p>{{d.text}}</p>
			</a>
		</div>
              </div>
            </div>
	    {% endif %}
	    {% endfor %}
          </div>
        </div>
      </div>
      </div>
    </section>
    <!-- END OF Carousels -->
    
    <!-- ***** Main Banner Area End ***** -->
    <section class="oth-works mrt-90">
        <div class="container max-container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading section-heading-2 mrb-50">
                        <h2>Featured Shows</h2>
                    </div>
                </div>
            </div>
	    
            <!-- <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <a href="">
                        <img src="/static/images/g1.jpg" alt="" />
                    </a>
                    <div class="fea-show">
                        <a href="">
                            <h3>Meakin + Parsons</h3>
                            <h4>Bridget Riley | Prints 1962 -2020</h4>
                            <p>Oxford, Mar 25–Apr 29</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <a href="">
                        <img src="/static/images/g1.jpg" alt="" />
                    </a>
                    <div class="fea-show">
                        <a href="">
                            <h3>Meakin + Parsons</h3>
                            <h4>Bridget Riley | Prints 1962 -2020</h4>
                            <p>Oxford, Mar 25–Apr 29</p>
                        </a>
                    </div>
                </div>
            </div> -->
            <div class="row featured-cat2 mrt-90">
		{% for show in featuredshows %}
		{% for auction in show.auctionslist %}
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <a href="{{auction.auctionurl}}">
                        <img src="{{auction.coverimage}}" alt="" />
                    </a>
                    <div class="fea-show align-items-end">
                        <a href="{{auction.auctionurl}}" style="color:#000000;">
                            <h3>{{auction.auctionname}}</h3>
                            <h4>{{show.housename}} | {{show.location}}</h4>
                            <p>{{auction.auctiondate}}</p>
                        </a>
                    </div>
                </div>
		{% endfor %}
		{% endfor %}
                
            </div>
	    <!-- 
            <div class="row featured-cat2 mrt-90">
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <a href="">
                        <img src="/static/images/g1.jpg" alt="" />
                    </a>
                    <div class="fea-show">
                        <a href="">
                            <h3>Meakin + Parsons</h3>
                            <h4>Bridget Riley | Prints 1962 -2020</h4>
                            <p>Oxford, Mar 25–Apr 29</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <a href="">
                        <img src="/static/images/g1.jpg" alt="" />
                    </a>
                    <div class="fea-show">
                        <a href="">
                            <h3>Meakin + Parsons</h3>
                            <h4>Bridget Riley | Prints 1962 -2020</h4>
                            <p>Oxford, Mar 25–Apr 29</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <a href="">
                        <img src="/static/images/g1.jpg" alt="" />
                    </a>
                    <div class="fea-show">
                        <a href="">
                            <h3>Meakin + Parsons</h3>
                            <h4>Bridget Riley | Prints 1962 -2020</h4>
                            <p>Oxford, Mar 25–Apr 29</p>
                        </a>
                    </div>
                </div>
            </div>
	    -->
        </div>
    </section>

    <section class="oth-works mrt-90">
        <div class="container max-container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading section-heading-2 mrb-50">
                        <h2>Current Museum & Gallery Shows</h2>
                    </div>
                    <!-- <div class="sub-head">
                        <h4>Prithvi Fine Art and Cultural Centre</h4>
                        <h5>Cosmic Kiss</h5>
                        <p>Mar 31 – Apr 6</p>
                    </div> -->
                </div>
            </div>
	    {% for auctionhousename, auctionslist in currentmngshows.items %}
	    <div class="sub-head">
                        <h4>{{auctionhousename}}</h4>
                        
            </div>
            <div class="row align-items-end">
		{% for auction in auctionslist %}
                <div class="column">
                    <div class="img-box">
			<a href='/auctionhouse/details/?aucid={{auction.aucid}}' style="color:#000000;">
                        <img src="{{auction.coverimage}}" style="width:100%">
                        <h4>{{auction.auctionname}}</h4>
                        <h6 style="padding-left:10px;">{{auction.auctiondate}}</h6>
                        <p style="padding-left:10px;">{{auction.location}}</p>
			</a>
                    </div>
                </div>
		{% endfor %}
                
            </div>
	    {% endfor %}
        </div>
    </section>
    <!-- 
    <section class="oth-works mrt-90">
        <div class="container max-container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-head">
                        <h4>Ruttkowski;68</h4>
                        <h5>Carolin Eidner 'The House that Jack Burnt's</h5>
                        <p>Mar 12 – Apr 6, Paris</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/wedding.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                </div>
                <div class="column">
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/underwater.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>

                </div>
                <div class="column">
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/wedding.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <section class="oth-works mrt-90 mrb-90">
        <div class="container max-container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-head">
                        <h4>The Liminal</h4>
                        <h5>Lorenzo Sandoval: LAS FORMAS QUE SOSTIENEN EL DISCURSO</h5>
                        <p>Feb 10 – Apr 6, Valencia</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/wedding.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/rocks.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>

                </div>
                <div class="column">
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/underwater.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/ocean.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>

                </div>
                <div class="column">
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/wedding.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/rocks.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>

                </div>
                <div class="column">
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/underwater.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="oth-works mrt-90">
        <div class="container max-container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-head">
                        <h4>uJung Art Center</h4>
                        <h5>Jeon Juhee Solo Exhibition</h5>
                        <p>Mar 23 – Apr 6, Seoul</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/wedding.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                </div>
                <div class="column">
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/underwater.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>

                </div>
                <div class="column">
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/wedding.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <section class="oth-works mrt-90 mrb-90">
        <div class="container max-container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="sub-head">
                        <h4>Proyecto H</h4>
                        <h5>Play of Pleats</h5>
                        <p>Feb 9 – Apr 6, Ciudad de México</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/wedding.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/rocks.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/falls2.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/paris.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/nature.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/mist.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/paris.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                </div>
                <div class="column">
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/underwater.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/ocean.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/wedding.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/mountainskies.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/rocks.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/underwater.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                </div>
                <div class="column">
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/wedding.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/rocks.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/falls2.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/paris.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/nature.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/mist.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/paris.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                </div>
                <div class="column">
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/underwater.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/ocean.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/wedding.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/mountainskies.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/rocks.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                    <div class="img-box">
                        <img src="https://www.w3schools.com//w3images/underwater.jpg" style="width:100%">
                        <h4>Name of Image</h4>
                        <h6>Some text and more</h6>
                        <p>Some text and some more more text</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->
    <section class="download-app">
        <div class="container max-container">
            <div class="row">
                <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4">
                    <div class="download-app">
                        <h4>Get More from Eolico—on the App</h4>
                        <div class="pl-st">
                            <a href=""><img src="/static/images/app-store.png" alt=""></a> <a href=""><img src="/static/images/google-play.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-7 col-lg-8 col-xl-8">
                    <img src="/static/images/download-app.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="/static/images/logo-white.png" alt="">
                        </div>
                        <ul>
                            <li><a href="#">1234 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                            <li><a href="#"><span class="__cf_email__" data-cfemail="bbdfded6d4fbd8d4d6cbdad5c295d8d4d6">[email&#160;protected]</span></a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/auctionhouse/index/">Featured Auction Houses</a></li>
                        <li><a href="/login/index/">Home</a></li>
                        <li><a href="/auction/index/">Current Auctions</a></li>
                        <li><a href="/artist/index/">Trending Artists</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="/about/">About Us</a></li>
                        <li><a href="/gallery/index/">Galleries</a></li>
                        <li><a href="/museum/index/">Museums</a></li>
                        <li><a href="/contactus/">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="/faq/">FAQ's</a></li>
                        <li><a href="/termsofuse/">Terms of Use</a></li>
                        <li><a href="/privacy/">Privacy Policy</a></li>
                        <li><a href="/security/">Security</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022. All Rights Reserved.</p>

                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/js/owl-carousel.js"></script>
    <script src="/static/js/accordions.js"></script>
    <script src="/static/js/datepicker.js"></script>
    <script src="/static/js/scrollreveal.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/imgfix.min.js"></script> 
    <script src="/static/js/slick.js"></script> 
    <script src="/static/js/lightbox.js"></script> 
    <script src="/static/js/isotope.js"></script> 
    <script src="/static/js/jquery.dropdown.min.js"></script> 
    <!-- Global Init -->
    <script src="/static/js/custom.js"></script>

    
    	<script>
	/*https://www.jqueryscript.net/demo/Searchable-Multi-select-jQuery-Dropdown/*/
	$('.demo').dropdown({
		limitCount: 1,
		input:'<input type="text" maxLength="20" placeholder="Search">'
	});

jQuery(document).ready(function($) {
"use strict";
$('#customers-testimonials').owlCarousel( {
		loop: true,
		center: true,
		items: 3,
		margin: 30,
		autoplay: true,
		dots:true,
    		nav:true,
		autoplayTimeout: 8500,
		smartSpeed: 450,
  		navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
		responsive: {
			0: {
				items: 1
			},
			768: {
				items: 2
			},
			1170: {
				items: 3
			}
		}
	});
});
	</script>
    	<script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    	</script>

</body>
</html>


