<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Eolico - Auctions</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">

    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="/static/css/owl-carousel.css">

    <link rel="stylesheet" href="/static/css/lightbox.css">
    <link rel="stylesheet" href="/static/css/jquery.dropdown.min.css">
	
    <style type="text/css">
    .button
    {
      width: 150px;
      padding: 10px;
      background-color: #FF8C00;
      box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
      font-weight:bold;
      text-decoration:none;
    }
    #cover{
      position:fixed;
      top:0;
      left:0;
      background:rgba(0,0,0,0.6);
      z-index:5;
      width:100%;
      height:100%;
      display:none;
    }
    #adminScreen
    {
      height:680px;
      width:640px;
      margin:0 auto;
      position:relative;
      z-index:10;
      display:none;
      background: url(login.png) no-repeat;
      border:5px solid #cccccc;
      border-radius:10px;
    }
    #adminScreen:target, #adminScreen:target + #cover{
      display:block;
      opacity:2;
    }
    .cancel
    {
      display:block;
      position:absolute;
      top:3px;
      right:2px;
      background:rgb(245,245,245);
      color:black;
      height:30px;
      width:35px;
      font-size:30px;
      text-decoration:none;
      text-align:center;
      font-weight:bold;
    }
    </style>

    <script src="/static/js/editfromfront.js"></script>

    <script>
    function filterresults(formelem){
	allformelements = document.frmotherfilter.elements;
	mediumpattern = /medium/i;
	sizepattern = /size/i;
	sizeunitpattern = /sizeunit/i;
	artistpattern = /artist/i;
        nationalitypattern = /nationality/i;
	mediumparam = "&medium=";
	nationalityparam = "&nationality=";
	sizeparam = "&size=";
	sizeunitparam = "&sizeunit=";
	artistparam = "&artist=";
	for(var i=0; i < allformelements.length; i++){
	    elemname = allformelements[i].name;
	    elemid = allformelements[i].id;
	    elemvalue = allformelements[i].value;
	    if(mediumpattern.test(elemid)){
		mediumelement = document.getElementById(elemid);
		if(mediumelement.checked == true){
		    mediumparam += elemvalue + "|";
		}
	    }
	    else if(nationalitypattern.test(elemid)){
		nationalityelement = document.getElementById(elemid);
		if(nationalityelement.checked == true){
		    nationalityparam += elemvalue + "|";
		}
	    }
	    else if(sizepattern.test(elemid)){
		sizeelement = document.getElementById(elemid);
		if(sizeelement.checked == true){
		    sizeparam += elemvalue + "|";
		}
	    }
	    else if(sizeunitpattern.test(elemid)){
		sizeunitelement = document.getElementById(elemid);
		if(sizeunitelement.checked == true){
		    sizeunitparam += elemvalue; // This can have only a single possible value.
		}
	    }
	    else if(artistpattern.test(elemid)){
		artistelement = document.getElementById(elemid);
		if(artistelement.checked == true){
		    artistparam += elemvalue + "|"; // This can have only a single possible value.
		}
	    }
	}
	// Create an xmlhttp request and send it to the endpoint on server.
	var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    context = JSON.parse(xmlhttp.responseText);
	    lotsdiv = document.getElementById('alllotsdiv');
	    lotsdiv.innerHTML = "";
	    auctext = "";
            searchlots = context['filteredlots'];
    	    adminuser = context['adminuser'];
	    for(var i=0; i < searchlots.length; i++){
		auctext += "<div class='column'><div class='img-box'><a href='/auction/details/?lid=" + searchlots[i].lid + "' style='color:#000000;'><img src='/media/artists/artworks/" + searchlots[i].aid + "/" + searchlots[i].image + "' style='width:100%'><h4>" + searchlots[i].artworkname + "</h4><h6>" + searchlots[i].artistname + "</h6><h6>" + searchlots[i].medium + "</h6><h6>" + searchlots[i].size + "</h6></a>";
                if(adminuser == "1"){
		    auctext += "<div><a style='color:#000000;bgcolor:#ffffff;padding-left:10px;' href='#adminScreen' onClick=\"javascript:t_editlot('" + searchlots[i].lid + "');\">Edit</a></div>";
		}
		auctext += "</div></div>";
	    }
	    lotsdiv.innerHTML = auctext;
	  }
	  };
	  csrf = document.frmotherfilter.csrfmiddlewaretoken.value;
          aucid = document.frmotherfilter.aucid.value;
	  postdata = "csrfmiddlewaretoken=" + csrf + "&aucid=" + aucid + mediumparam + artistparam + sizeparam + sizeunitparam + nationalityparam;
	  postdata = encodeURI(postdata);
	  //alert(postdata);
	  xmlhttp.open("POST", "/auction/morefilter/");
	  xmlhttp.setRequestHeader("X-CSRFToken", csrf);
	  xmlhttp.send(postdata);
    }
    </script>

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/login/index/" class="logo">
                            <img src="/static/images/logo1.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/gallery/index/">Galleries</a></li>
				 <li class="scroll-to-section"><a href="/museum/index/">Museums</a></li>
				 <li class="scroll-to-section"><a href="/artist/index/">Artists</a></li>
				 <li class="scroll-to-section"><a href="/auctionhouse/index/">Auction Houses</a></li>
				 <li class="scroll-to-section"><a href="/auction/index/" class="active">Auctions</a></li>
				 <li class="scroll-to-section"><a href="/price/database/">Price Database</a></li>
                            <!--<li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li>-->
                            
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <section class="inner-top-banner"></section>
	
    <!-- ***** Main Banner Area End ***** -->
	<section class="section gal-section gal-dtl-sec" id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center">
						<div class="gal-logo-box">
								<img src="/media/auctions/{{auctioninfo.ahid}}/{{auctioninfo.aucid}}/{{auctioninfo.coverimage}}">
								<h2>{{auctioninfo.auctionhouse}} - {{auctioninfo.auctionname}}</h2>
							<p>{{auctioninfo.auctionperiod}}</p>
							<p>{{auctioninfo.lotcount}} lots</p>
							<!-- <a href="/auctionhouse/details/?aucid={{auctioninfo.aucid}}" class="btn btn-slider">View</a> -->
						</div>
						{% if adminuser == 1 %}
						    <div><a style="color:#000000;bgcolor:#ffffff;" href='#adminScreen' onClick="javascript:t_editauction('{{auctioninfo.aucid}}');">Edit</a></div>
						{% endif %}
                    </div>
                </div>
            </div>
        </div>
		<div class="container">
            <!-- START TABS DIV -->
      <div class="tabbable-responsive">
        <div class="tabbable">
          <ul class="nav nav-tabs" id="gal-Tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="Overview-tab" data-toggle="tab" href="#Overview" role="tab" aria-controls="Overview" aria-selected="true">Overview</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" id="Events-tab" data-toggle="tab" href="#Events" role="tab" aria-controls="Events" aria-selected="false">Auctions</a>
            </li> -->
            
            <li class="nav-item">
              <a class="nav-link" id="Works-tab" data-toggle="tab" href="#Works" role="tab" aria-controls="Works" aria-selected="false" >Lots</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" id="Articles-tab" data-toggle="tab" href="#Articles" role="tab" aria-controls="Articles" aria-selected="false">Articles</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" id="Contact-tab" data-toggle="tab" href="#Contact" role="tab" aria-controls="Contact" aria-selected="false">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
	<div class="container">
    <div class="card-body">
      
      <div class="tab-content">
        <div class="tab-pane fade show active" id="Overview" role="tabpanel" aria-labelledby="Overview-tab">
			<div class="container">
				<div class="row gl-ov-row">
					<div class="col-md-7">
						<!-- <h6>Past Show</h6> -->
						<h2>{{auctioninfo.auctionhouse}}: {{auctioninfo.auctionname}}</h2>
						<h4>{{auctioninfo.auctionperiod}}</h4>
						<h6>Hosted by {{auctioninfo.auctionhouse}}</h6>
						<!-- <p></p> -->
						<!-- <a href="/auctionhouse/details/?aucid={{auctioninfo.aucid}}" class="btn btn-slider" >Read More</a> -->
						{% if adminuser == 1 %}
						    <div><a style="color:#000000;bgcolor:#ffffff;" href='#adminScreen' onClick="javascript:t_editauction('{{auctioninfo.aucid}}');">Edit</a></div>
						{% endif %}
					</div>
					<div class="col-md-5">
						<img src="/media/auctions/{{auctioninfo.ahid}}/{{auctioninfo.aucid}}/{{auctioninfo.coverimage}}" class="img-fluid"/>
					</div>
				</div>
				<!-- <div class="row gal-tab-row">
					<div class="col-lg-12 gl-abt">
						<div class="section-heading text-center">
							<h3>About</h3>
							<hr>
							<p>{{auctioninfo.description}}</p>
							<p><a href="{{auctioninfo.auctionurl}}" target="_bnalk" style="color:#000000;">{{auctioninfo.auctionname}}</a></p>
						</div>
					</div>
				</div> -->


				<div class="row gal-tab-row pst-ev">
				<div class="col-lg-12">
					   <div class="section-heading text-center">
							<h3>Select Lots</h3>
							<!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> -->
						<hr>
					   </div>
				</div>
				</div>
				
				<div class="row align-items-end">
				{% for lot in selectlots %}
				  <div class="column">
					<div class="img-box">
					<a href="/auction/details/?lid={{lot.lid}}"><img src="/media/artists/artworks/{{lot.aid}}/{{lot.image}}" alt=""></a>
					<a href="/auction/details/?lid={{lot.lid}}" style="color:#000000;">
					<h4>{{lot.lottitle}}</h4>
					<h6>{{lot.artist}}</h6>
					<h6>{{lot.medium}}</h6>
					</a>
					{% if adminuser == 1 %}
					    <div><a style="color:#000000;bgcolor:#ffffff;padding-left:10px;" href='#adminScreen' onClick="javascript:t_editlot('{{lot.lid}}');">Edit</a></div>
					{% endif %}
					</div>
				  </div>
				{% endfor %}  
				</div>
				<br>
				<div class="row articl-row">
					<div class="col-md-12">
						<div class="section-heading text-center">
							<!-- <h3>Articles</h3>
							<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
							<hr> -->
					   	</div>
					</div>
					<div class="col-lg-12">
					 <div class="men-item-carousel">
                        <!-- <div class="owl-men-item owl-carousel">
                            <div class="item">
                                <div class="thumb">
                                    <a href="#"><img src="/static/images/men-01.jpg" alt=""></a>
                                </div>
                                <div class="down-content">
									<a href="#">
										<h4>Cathy Tabbakh: Hello!</h4>
										<span>Court Tree Collective</span>
										<span>Feb 8 to May 15</span>
									</a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <a href="#"><img src="/static/images/men-02.jpg" alt=""></a>
                                </div>
                                <div class="down-content">
									<h4>Béchir Boussandel</h4>
									<span>Taymour Grahne Projects</span>
									<span>Feb 11 to Apr 15</span>
								</div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <a href="#"><img src="/static/images/men-03.jpg" alt=""></a>
                                </div>
                                <div class="down-content">
									<h4>Cathy Tabbakh: Hello!</h4>
									<span>Court Tree Collective</span>
									<span>Feb 8 to May 15</span>
								</div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="/static/images/men-04.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Finding Balance</h4>
                                    <span>Kristin Hjellegjerde Gallery</span>
									<span>Feb 10 to Mar 15</span>
                                </div>
                            </div>
                        </div> -->
                    </div>
				   </div>
				</div>
			</div>
        </div>
        <!-- <div class="tab-pane fade" id="Events" role="tabpanel" aria-labelledby="Events-tab">
          <div class="container">
			<div class="row gl-ov-row">
				<div class="col-md-7">
					<h2>{{auctioninfo.auctionname}}</h2>
					<h4>{{auctioninfo.auctiondate}}</h4>
					<h6>{{auctioninfo.auctionlocation}}</h6>
					<p>{{auctioninfo.description}}</p>
					<a href="/auctionhouse/details/?aucid={{auctioninfo.aucid}}" class="btn btn-slider" >Read More</a>
					{% if adminuser == 1 %}
					    <div><a style="color:#000000;bgcolor:#ffffff;" href='#adminScreen' onClick="javascript:t_editauction('{{auctioninfo.aucid}}');">Edit</a></div>
					{% endif %}
				</div>
				<div class="col-md-5">
					<img src="{{auctioninfo.coverimage}}" class="img-fluid"/>
				</div>
			</div>
			<div class="row gal-tab-row pst-ev">
				<div class="col-lg-12">
					   <div class="section-heading text-center">
							<h3>Other Auctions</h3>
						<hr>
					   </div>
				   </div>
			</div>
			<div class="row align-items-end">
				{% for auction in auctionslist %}
				  <div class="column">
					<div class="img-box">
					<a href="/auctionhouse/details/?aucid={{auction.aucid}}"><img src="{{auction.coverimage}}" alt="" class="img-fluid"></a>
					<a href="/auctionhouse/details/?aucid={{auction.aucid}}" style="color:#000000;">
					<h4>{{auction.auctionname}}</h4>
					<h6>{{auction.auctionlocation}}</h6>
					<h6>{{auction.auctiondate}}</h6>
					<p>{{auction.description}}</p>
					</a>
					{% if adminuser == 1 %}
					    <div><a style="color:#000000;bgcolor:#ffffff;padding-left:10px;" href='#adminScreen' onClick="javascript:t_editauction('{{auction.aucid}}');">Edit</a></div>
					{% endif %}
					</div>
				  </div>
				{% endfor %}  
			</div>
		  </div>
        </div> -->
        
        <div class="tab-pane fade" id="Works" role="tabpanel" aria-labelledby="Works-tab">
          <div id="mySidebar" class="sidebar">
			<div class="fixed-sidbr-header">
				<h5>Filter</h5>
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
			</div>
			<div id="accordion" class="accordion">
				<form method="POST" name='frmotherfilter' id='frmotherfilter' action=''>
				{% csrf_token %}
				<div class="card mb-0">
					<div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
						<a class="card-title">
							Artists
						</a>
					</div>
					<div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
						{% for artistname, artistid in allartists.items %}
						 <div class="form-check">
						  <label class="form-check-label" for="artist{{forloop.counter}}">
							<input type="checkbox" class="form-check-input" id="artist{{forloop.counter}}" name="artist{{forloop.counter}}" value="{{artistid}}" onchange="javascript:filterresults(this);">{{artistname}}
						  </label>
						</div>
						{% endfor %}
					</div>
					<!-- <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						<a class="card-title">
						  Rarity
						</a>
					</div>
					<div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
						<div class="form-check">
						  <label class="form-check-label" for="Unique">
							<input type="checkbox" class="form-check-input" id="Unique" name="option1" value="something" >Unique
						  </label>
						</div>
						<div class="form-check">
						  <label class="form-check-label" for="LimitedEdition">
							<input type="checkbox" class="form-check-input" id="LimitedEdition" name="option1" value="something" >Limited Edition
						  </label>
						</div>
						<div class="form-check">
						  <label class="form-check-label" for="OpenEdition">
							<input type="checkbox" class="form-check-input" id="OpenEdition" name="option1" value="something" >Open Edition
						  </label>
						</div>
					</div> -->
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						<a class="card-title">
						  Medium
						</a>
					</div>
					<div id="collapseThree" class="collapse" data-parent="#accordion" >
						<div class="card-body">
							<div class="form-check">
                                                            <label class="form-check-label" for="Design-tow">
                                                                <input type="checkbox" class="form-check-input" id="medium1" name="medium1" value="paper|etch|charcoal" onchange="javascript:filterresults(this);">Work on Paper
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="form-check-label" for="Sculpture-tow">
                                                                <input type="checkbox" class="form-check-input" id="medium2" name="medium2" value="stone|marble|bronze|brass|gold|wood" onchange="javascript:filterresults(this);">Sculpture
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="form-check-label" for="Painting-two">
                                                                <input type="checkbox" class="form-check-input" id="medium3" name="medium3" value="painting|oil|canvas" onchange="javascript:filterresults(this);">Painting
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="form-check-label" for="Installation">
                                                                <input type="checkbox" class="form-check-input" id="medium4" name="medium4" value="installation" onchange="javascript:filterresults(this);">Installation
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="form-check-label" for="photography">
                                                                <input type="checkbox" class="form-check-input" id="medium5" name="medium5" value="print|photo|celluloid" onchange="javascript:filterresults(this);">Photography
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="form-check-label" for="texttile-arts">
                                                                <input type="checkbox" class="form-check-input" id="medium6" name="medium6" value="textile|cloth|fabric" onchange="javascript:filterresults(this);">Textile arts
                                                            </label>
                                                        </div>
						</div>
					</div>
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
						<a class="card-title">
						  Size
						</a>
					</div>
					<div id="collapse4" class="collapse" data-parent="#accordion" >
						<div class="card-body">
							<div class="size-cm-in">
                                                            <div class="form-check">
                                                                <label class="form-check-label" for="cm-auction">
                                                                    <input type="radio" class="form-check-input" id="sizeunit1" name="dimension" value="cm" checked onclick="javascript:filterresults(this);">cm
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <label class="form-check-label" for="in-auction">
                                                                    <input type="radio" class="form-check-input" id="sizeunit2" name="dimension" value="in" onclick="javascript:filterresults(this);">in
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="form-check-label" for="SmallSize-tow">
                                                                <input type="checkbox" class="form-check-input" id="size1" name="sizevalue" value="small" onchange="javascript:filterresults(this);">Small (under 40cm)
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="form-check-label" for="Medium-tow">
                                                                <input type="checkbox" class="form-check-input" id="size2" name="sizevalue" value="medium" onchange="javascript:filterresults(this);">Medium (40 – 100cm)
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <label class="form-check-label" for="Large-tow">
                                                                <input type="checkbox" class="form-check-input" id="size3" name="sizevalue" value="large" onchange="javascript:filterresults(this);">Large (over 100cm)
                                                            </label>
                                                        </div>
						</div>
					</div>
					<!-- <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
						<a class="card-title">
						  Medium
						</a>
					</div>
					<div id="collapse5" class="collapse" data-parent="#accordion" >
						<div class="card-body">
							<div class="form-check">
							  <label class="form-check-label" for="Acrylic">
								<input type="checkbox" class="form-check-input" id="Acrylic" name="option1" value="something" >Acrylic
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Aluminum">
								<input type="checkbox" class="form-check-input" id="Aluminum" name="option1" value="something" >Aluminum
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Artpaper">
								<input type="checkbox" class="form-check-input" id="Artpaper" name="option1" value="something" >Art paper
							  </label>
							</div>
						</div>
					</div> -->
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
						<a class="card-title">
						  Artist Nationality
						</a>
					</div>
					<div id="collapse6" class="collapse" data-parent="#accordion" >
						<div class="card-body">
						    {% for nationality, c in nationalities.items %}
							<div class="form-check">
							  <label class="form-check-label" for="{{nationality}}">
								<input type="checkbox" class="form-check-input" id="nationality{{forloop.counter}}" name="nationality{{forloop.counter}}" value="{{nationality}}" onchange="javascript:filterresults(this);">{{nationality}}
							  </label>
							</div>
						    {% endfor %}
						</div>
					</div>
					<!-- <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
						<a class="card-title">
						  Time Period
						</a>
					</div>
					<div id="collapse7" class="collapse" data-parent="#accordion" >
						<div class="card-body">
							<div class="form-check">
							  <label class="form-check-label" for="time-2020">
								<input type="checkbox" class="form-check-input" id="time-2020" name="option1" value="something" >2020s
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="time-2010">
								<input type="checkbox" class="form-check-input" id="time-2010" name="option1" value="something" >2010s
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="time-2000">
								<input type="checkbox" class="form-check-input" id="time-2000" name="option1" value="something" >2000s
							  </label>
							</div>
						</div>
					</div>
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
						<a class="card-title">
						  Color
						</a>
					</div>
					<div id="collapse8" class="collapse" data-parent="#accordion" >
						<div class="card-body">
							<div class="form-check">
							  <label class="form-check-label" for="Color-red">
								<input type="checkbox" class="form-check-input" id="Color-red" name="option1" value="something" >Red <span class="color-span" style="background:red;"></span>
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Color-blue">
								<input type="checkbox" class="form-check-input" id="Color-blue" name="option1" value="something" >Blue <span class="color-span" style="background:blue;"></span>
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Color-green">
								<input type="checkbox" class="form-check-input" id="Color-green" name="option1" value="something" >Green <span class="color-span" style="background:green;"></span>
							  </label>
							</div>
						</div>
					</div> -->
				</div>
			</div>
			<input type='hidden' name='aucid' id='aucid' value="{{auctioninfo.aucid}}">
			</form>
			</div>

			<div id="main">
				<div class="work-top-pnl">
					<button class="openbtn" onclick="openNav()"> Filter</button>
					<!-- <div class="dropdown">Sort By:
						<select>
							<option value="1">Defult</option>
							<option value="2">Defult</option>
						</select>
					  </div> -->
				  </div>
			  <div class="row align-items-end" id="alllotsdiv">
			{% for lot in alllots %}
			  <div class="column">
				<div class="img-box">
				<a href='/auction/details/?lid={{lot.lid}}' style="color:#000000;">
				<img src="/media/artists/artworks/{{lot.aid}}/{{lot.image}}" style="width:100%">
				<h4>{{lot.lottitle}}</h4>
				<h6>{{lot.artist}}</h6>
				<h6>{{lot.medium}}</h6>
				<h6>{{lot.size}}</h6>
				<!-- <p>{{lot.description}}</p> -->
				</a>
				{% if adminuser == 1 %}
				    <div><a style="color:#000000;bgcolor:#ffffff;padding-left:10px;" href='#adminScreen' onClick="javascript:t_editlot('{{lot.lid}}');">Edit</a></div>
				{% endif %}
				</div>
			  </div>
			{% endfor %}
			  
			  </div>
			</div>
        </div>
        <!-- <div class="tab-pane fade" id="Articles" role="tabpanel" aria-labelledby="Articles-tab">
			<div class="row">
				<div class="col-lg-12">
					   <div class="section-heading text-center">
							<h3>Articles</h3>
							<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
						<hr>
					</div>
				</div>
			</div>
			<div class="row ">
				  <div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="/static/images/men-02.jpg" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>Béchir Boussandel</h4>
							<span>Taymour Grahne Projects</span>
							<span>Feb 11 to Apr 15</span>
						</div>
					</div>
				  </div>
				  <div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="/static/images/men-02.jpg" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>Béchir Boussandel</h4>
							<span>Taymour Grahne Projects</span>
							<span>Feb 11 to Apr 15</span>
						</div>
					</div>
				  </div>
				  <div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="/static/images/men-02.jpg" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>Béchir Boussandel</h4>
							<span>Taymour Grahne Projects</span>
							<span>Feb 11 to Apr 15</span>
						</div>
					</div>
				  </div>
				  <div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="/static/images/men-02.jpg" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>Béchir Boussandel</h4>
							<span>Taymour Grahne Projects</span>
							<span>Feb 11 to Apr 15</span>
						</div>
					</div>
				  </div>
				  <div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="/static/images/men-02.jpg" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>Béchir Boussandel</h4>
							<span>Taymour Grahne Projects</span>
							<span>Feb 11 to Apr 15</span>
						</div>
					</div>
				  </div>
				  <div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="/static/images/men-02.jpg" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>Béchir Boussandel</h4>
							<span>Taymour Grahne Projects</span>
							<span>Feb 11 to Apr 15</span>
						</div>
					</div>
				  </div>
				</div>
        </div> -->
        <div class="tab-pane fade" id="Contact" role="tabpanel" aria-labelledby="Contact-tab">
          <h5 class="card-title">Sixth Tab header</h5>
          <p class="card-text">Proin ornare purus vitae magna viverra suscipit. Etiam rutrum lorem cursus libero scelerisque lacinia. Praesent bibendum risus id aliquam finibus. Donec sed orci sodales, viverra dolor a, dignissim mi. Pellentesque nec lectus enim. Suspendisse eu ligula ac tortor mollis lobortis. Nulla a laoreet neque, sit amet luctus dolor. Nam facilisis at odio ac commodo. Nullam vehicula blandit dui, vel suscipit orci.</p>
        </div>
      </div>
		</div>
		</div>
	</section>

      <div id="adminScreen">
	  <a href="#" class="cancel">×</a>
	  <form name='frmedit' id='frmedit'>
	    {% csrf_token %}
          </form>
      </div>
      <div id="cover" >
      </div>

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="/static/images/logo-white.png" alt="">
                        </div>
                        <ul>
                            <li><a href="#">1234 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                            <li><a href="#">demo@company.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                 <div class="col-lg-3">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/auctionhouse/index/">Featured Auction Houses</a></li>
                        <li><a href="/login/index/">Home</a></li>
                        <li><a href="/auction/index/">Current Auctions</a></li>
                        <li><a href="/artist/index/">Trending Artists</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="/about/">About Us</a></li>
                        <li><a href="/gallery/index/">Galleries</a></li>
                        <li><a href="/museum/index/">Museums</a></li>
                        <li><a href="/contactus/">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="/faq/">FAQ's</a></li>
                        <li><a href="/termsofuse/">Terms of Use</a></li>
                        <li><a href="/privacy/">Privacy Policy</a></li>
                        <li><a href="/security/">Security</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022. All Rights Reserved.</p>
                       
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="/static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/js/owl-carousel.js"></script>
    <script src="/static/js/accordions.js"></script>
    <script src="/static/js/datepicker.js"></script>
    <script src="/static/js/scrollreveal.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/imgfix.min.js"></script> 
    <script src="/static/js/slick.js"></script> 
    <script src="/static/js/lightbox.js"></script> 
    <script src="/static/js/isotope.js"></script> 
    <script src="/static/js/jquery.dropdown.min.js"></script> 
    
    <!-- Global Init -->
    <script src="/static/js/custom.js"></script>
	<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "350px";
  //document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
	<script>
	/*https://www.jqueryscript.net/demo/Searchable-Multi-select-jQuery-Dropdown/*/
	$('.demo').dropdown({
		limitCount: 1,
		input:'<input type="text" maxLength="20" placeholder="Search">'
	});
		
	</script>
    <script>
		
        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>
