<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Eolico</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">

    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/owl-carousel.css">

    <link rel="stylesheet" href="/static/css/lightbox.css">
    <link rel="stylesheet" href="/static/css/jquery.dropdown.min.css">

    <link rel="stylesheet" href="/static/css/newcarousel.css">
    <link rel="stylesheet" href="/static/css/autocomplete.css">

    <style>
	.owl-prev, .owl-next {
        width: 15px;
        height: 100px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block !important;
        border:0px solid black;
    }
    .owl-prev { left: -20px; }
    .owl-next { right: -20px; }
    .owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}
 
    </style>

    <style>
    #frmsearchartists input[type=search]{width:430px !important;}
    </style>

    <style type="text/css">
    .button
    {
      width: 150px;
      padding: 10px;
      background-color: #FF8C00;
      box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
      font-weight:bold;
      text-decoration:none;
    }
    #cover{
      position:fixed;
      top:0;
      left:0;
      background:rgba(0,0,0,0.6);
      z-index:5;
      width:100%;
      height:100%;
      display:none;
    }
    #adminScreen
    {
      height:680px;
      width:640px;
      margin:0 auto;
      position:relative;
      z-index:10;
      display:none;
      background: url(login.png) no-repeat;
      border:5px solid #cccccc;
      border-radius:10px;
    }
    #adminScreen:target, #adminScreen:target + #cover{
      display:block;
      opacity:2;
    }
    .cancel
    {
      display:block;
      position:absolute;
      top:3px;
      right:2px;
      background:rgb(245,245,245);
      color:black;
      height:30px;
      width:35px;
      font-size:30px;
      text-decoration:none;
      text-align:center;
      font-weight:bold;
    }
    </style>
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="/static/js/editfromfront.js"></script>
    <script src="/static/js/eolicoauth.js"></script>
    <script src="/static/js/autocomplete.js"></script>
    <!-- Autocomplete is inspired by the content in https://www.w3schools.com/howto/howto_js_autocomplete.asp -->
    <script>
	artists = [
		{% for artistname in filterartists %}
		    "{{artistname}}",
		{% endfor %}
		]; // Should get populated during page load.
	
    </script> 
    <script>
	function searchartist(page=1){
	  searchkey = document.getElementById('artistsearch').value;
	  loaderspan = document.getElementById("loader");
	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    context = JSON.parse(xmlhttp.responseText);
	    featureddiv = document.getElementById('featuredartistsdiv');
	    featureddiv.innerHTML = "";
	    searchtext = "";
	    alldiv0 = document.getElementById('allartistsdiv0');
	    alldiv1 = document.getElementById('allartistsdiv1');
	    alldiv2 = document.getElementById('allartistsdiv2');
	    alldiv3 = document.getElementById('allartistsdiv3');
	    alldiv4 = document.getElementById('allartistsdiv4');
	    alldiv5 = document.getElementById('allartistsdiv5');
	    alldiv0.innerHTML = "";
	    alldiv1.innerHTML = "";
	    alldiv2.innerHTML = "";
 	    alldiv3.innerHTML = "";
	    alldiv4.innerHTML = "";
	    alldiv5.innerHTML = "";
            pageheaderdiv = document.getElementById('pageheader');
            pageheaderdiv.innerHTML = "<h2>Search Results for '" + searchkey + "'</h2><span>Browse over 100,000 artists</span>";
	    searchtext += "<div class='container'><div class='row'><div class='col-lg-12'><div class='section-heading section-heading-2'><span>&nbsp;</span></div></div></div><div class='row align-items-end'>";
            searchartists = context['featuredartists'];
    	    adminuser = context['adminuser'];
	    pages = context['pages'];
            for(var i=0; i < searchartists.length; i++){
                artistobj = searchartists[i];
		searchtext += "<div class='col-sm-12 col-md-6 col-lg-3 col-xl-3'><div class='artist-category'>";
                if(artistobj.atype == '1'){
		    searchtext += "<div class='thumb'><a href='/artist/details/?aid=" + artistobj.aid + "'><img src='" + artistobj.artworkimage + "'></a></div>";
		}
		else{
		    searchtext += "<div class='thumb'><a href='/artist/details/?aid=" + artistobj.aid + "'><img src='/media/artists/artworks/" + artistobj.aid + "/" + artistobj.artistimage + "'></a></div>";
		}
		searchtext += "<div class='down-content'><a href='/artist/details/?aid=" + artistobj.aid + "' style='color:#000000;'><h4>" + artistobj.artistname +"</h4>";
		if (artistobj.birthdate == ''){
		    searchtext += "<h6>" + artistobj.nationality + "</h6>";
		}
		else{
		    if (artistobj.deathdate == '0'){
		      searchtext += "<h6>" + artistobj.nationality + " b." + artistobj.birthdate + "</h6>";
		    }
		    else{
		      searchtext += "<h6>" + artistobj.nationality + ", " + artistobj.birthdate + " - " + artistobj.deathdate + "</h6>";
		    }
		}
		searchtext += "</a></div>";
		if(adminuser == 1){
		    searchtext += "<div><a style='color:#000000;bgcolor:#ffffff;' href='#adminScreen' onClick=\"javascript:t_editartist('" + artistobj.aid + "');\">Edit</a></div>";
		}
		searchtext += "</div></div>";
	    }
	    searchtext += "</div></div><br/>";
	    paginationcontent = "<div class='auction-pagination'><nav aria-label='Page navigation example'><ul class='pagination'><li class='page-item'>";
	    if(pages.prevpage >= 1){
		paginationcontent += "<a class='page-link' href='#' aria-label='Previous' onclick='javascript:searchartist(" + pages.prevpage + ");'><span aria-hidden='true'>Previous</span><span class='sr-only'>Previous</span></a>";
	    }
       	    paginationcontent += "</li>";
	    if(pages.displayedprevpage2 > 0){
		paginationcontent += "<li class='page-item'><a class='page-link' href='#' onclick='javascript:searchartist(" + pages.displayedprevpage2 + ");'>" + pages.displayedprevpage2 + "</a></li>";
	    }
	    if(pages.displayedprevpage1 > 0){
		paginationcontent += "<li class='page-item'><a class='page-link' href='#' onclick='javascript:searchartist(" + pages.displayedprevpage1 + ");'>" + pages.displayedprevpage1 + "</a></li>";
	    }
	    paginationcontent += "<li class='page-item'><a class='page-link' href='#'>" + pages.currentpage + "</a></li><li class='page-item'><a class='page-link' href='#' onclick='javascript:searchartist(" + pages.nextpage + ");'>" + pages.nextpage + "</a></li><li class='page-item'><a class='page-link' href='#' onclick='javascript:searchartist(" + pages.displayednextpage1 + ");'>" + pages.displayednextpage1 + "</a></li><li class='page-item'><a class='page-link' href='#' onclick='javascript:searchartist(" + pages.displayednextpage2 + ");'>" + pages.displayednextpage2 + "</a></li><li class='page-item'><a class='page-link' href='#' aria-label='Next' onclick='javascript:searchartist(" + pages.nextpage + ");'><span aria-hidden='true'>Next</span><span class='sr-only'>Next</span></a></li></ul></nav></div>";
	    paginationcontent += "</div>";
	    searchtext += paginationcontent;
	    featureddiv.innerHTML = searchtext;
	    loaderspan.innerHTML = "";
	    //featureddiv.innerHTML = featureddiv.innerHTML.replace("<div class=\"row align-items-end\"></div></div>", "<div class=\"row align-items-end\">");
	    //alert(featureddiv.innerHTML);
	  }
	  };
	  xmlhttp.open("GET", "/artist/search/?q=" + searchkey + "&page=" + page);
	  xmlhttp.send();
          loaderspan.innerHTML = "<img src='/static/images/loading.gif'>";
	}


	function showstats(aid, statsdivid){
	  statsdiv = document.getElementById(statsdivid);
	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    context = JSON.parse(xmlhttp.responseText);
	    divid = context['div_id'];
	    aid = context['aid'];
	    err = context['err'];
	    statsdiv = document.getElementById(divid);
            if(err == "nologin"){
		htmlcontent = context['stats'];
		statsdiv.innerHTML = htmlcontent;
	    }
	    else if(err == "noaid"){
		htmlcontent = context['stats'];
		statsdiv.innerHTML = htmlcontent;
	    }
	    else if(err == "nodiv"){
		htmlcontent = context['stats'];
		statsdiv.innerHTML = htmlcontent;
	    }
	    else if(err == "noartist"){
		htmlcontent = context['stats'];
		statsdiv.innerHTML = htmlcontent;
	    }
	    else if(err == ""){
	        htmlcontent = context['stats'] + "<h6><a href='#/' style='color:#000000;bgcolor:#ffffff;' onclick=\"javascript:hidestats(" + aid + ", '" + divid + "');\">Hide Stats</a></h6>";
	        statsdiv.innerHTML = htmlcontent;
	    }
	  }
	  };
	  xmlhttp.open("GET", "/artist/showstats/?aid=" + aid + "&div_id=" + statsdivid); // Need to keep track of the div id values. 
	  // Javascript runs separate threads for each call, so data is shared. So, javascript will not be able to keep track of data
	  // returned and the corresponding div it should be placed in.
	  xmlhttp.send();
          statsdiv.innerHTML = "<img src='/static/images/loading.gif'>";
	}

	function hidestats(aid, statsdivid){
	  statsdivelement = document.getElementById(statsdivid);
	  statsdivelement.innerHTML = "<h6><a href='#/' style='color:#000000;bgcolor:#ffffff;' onclick=\"javascript:showstats(" + aid + ", '" + statsdivid + "');\">Show Stats</a></h6>";
	}
    </script>

</head>
    
  <body onload="javascript:autocomplete(document.getElementById('artistsearch'), artists);">

  <!-- Sign up Modal -->
    <div class="modal fade z-index signup-modal" id="exampleModal-signup" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-logo">
                        <a href="index.html">
                            <img src="/static/images/logo1.png" alt="" class="img-fluid" width="150" />
                        </a>
                    </div>
                    <button type="button" class="close close-modals" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-head">
                        <h3>Sign up to see full auction records — for free</h3>
                    </div>
                    <div class="modal-form">
                        <form method="post" action="/login/registration/" name="frmsignup" id="frmsignup">
			    <label style="color:red;" id="errormsg"></label>
			    {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Username</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your full name" />
                            </div>
                            <div class="form-group">
                                <label for="emailid">Email</label>
                                <input type="text" class="form-control" id="emailid" name="emailid" placeholder="Enter your email address" />
                            </div>
                            <div class="form-group">
                                <label for="password1">Password</label>
                                <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter a password" />
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <p>Password must be at least 8 characters.</p>
                            </div>
			    <div class="form-group">
                                <label for="password2">Confirm Password</label>
                                <input type="password" class="form-control" id="password2" name="password2" placeholder="Re-type password" />
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <div class="form-group">
                                <div class="check-input">
                                    <span>
                                        <input type="checkbox" name="agree" id="agree" value="" />
                                    </span>
                                    <p>I agree to the <a href="terms.html" target="_blank">Terms of Use</a>, <a href="privacy-policy.html" target="_blank">Privacy Policy</a>, <a href="conditions-of-sale.html" target="_blank">Conditions of Sale</a>  and to receiving emails from Eolico.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" value="signup" name="btnsignup" class="btn btn-slider" onclick="javascript:doregister();">Sign up</button>
                            </div>
			    <!--
                            <div class="form-group">
                                <p class="or text-center">or</p>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-apple" aria-hidden="true"></i> Continue with Apple</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-google" aria-hidden="true"></i> Continue with Google</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-facebook" aria-hidden="true"></i> Continue with Facebook</a>
                            </div>
			    -->
                            <div class="form-group text-center">
                                <p>Already have an account? <a href="javascript:void(0)" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal-login">Log In</a></p>
                            </div>
                            <div class="form-group text-center">
                                <p>This site is protected by reCAPTCHA and the Google <a href="privacy-policy.html">Privacy Policy</a> and <a href="terms.html">Terms of Service</a> apply.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign up Modal -->

    <div class="modal fade z-index signup-modal" id="exampleModal-login" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel-login" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-logo">
                        <a href="index.html">
                            <img src="/static/images/logo1.png" alt="" class="img-fluid" width="150" />
                        </a>
                    </div>
                    <button type="button" class="close close-modals" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-head">
                        <h3>Login</h3>
                    </div>
                    <div class="modal-form">
                        <form method="post" action='/login/dologin/' name='frmlogin' id='frmlogin'>
			    <label style="color:red;" id="errormsg"></label>
			    {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" name='username' id="username" placeholder="Enter your username" />
                            </div>
                            <div class="form-group">
                                <label for="password">password</label>
                                <input type="password" class="form-control" name='passwd' id="passwd" placeholder="Enter your password" />
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <!-- <div class="form-group">
                                <div class="check-input">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal-passwprd">Forgot Password?</a>
                                </div>
                            </div> -->
                            <div class="form-group">
                                <button type="button" value="submit" name="" class="btn btn-slider" onclick="javascript:dologin();">Log in</button>
                            </div>
                            <div class="form-group">
                                <p class="or text-center">or</p>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-apple" aria-hidden="true"></i> Continue with Apple</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-google" aria-hidden="true"></i> Continue with Google</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-facebook" aria-hidden="true"></i> Continue with Facebook</a>
                            </div>
                            <div class="form-group text-center">
                                <p>Don't have an account? <a href="javascript:void(0)" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal-signup">Sign up</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign in Modal -->
    <div class="modal fade z-index signup-modal" id="exampleModal-passwprd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-passwprd" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-logo">
                        <a href="index.html">
                            <img src="/static/images/logo1.png" alt="" class="img-fluid" width="150" />
                        </a>
                    </div>
                    <button type="button" class="close close-modals" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-head">
                        <h3>Reset your password</h3>
                    </div>
                    <div class="modal-form">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="email">password</label>
                                <input type="text" class="form-control" id="password" placeholder="Enter a password" />
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <div class="form-group">
                                <button type="submit" value="submit" name="" class="btn btn-slider">Send me reset instructions</button>
                            </div>
                            <div class="form-group text-center">
                                <p>Don’t need to reset?  <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal-login">login</a> or <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal">Sign up</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign in Modal -->

      <!-- ***** Preloader Start ***** -->
      <div id="preloader">
          <div class="jumper">
              <div></div>
              <div></div>
              <div></div>
          </div>
      </div>
      <!-- ***** Preloader End ***** -->
      <!-- ***** Header Area Start ***** -->
      <header class="header-area header-sticky">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <nav class="main-nav">
                          <!-- ***** Logo Start ***** -->
                          <a href="/login/index/" class="logo">
                              <img src="/static/images/logo1.png">
                          </a>
                          <!-- ***** Logo End ***** -->
                          <!-- ***** Menu Start ***** -->
                          <ul class="nav">
                                 <!-- <li class="scroll-to-section"><a href="/gallery/index/">Galleries</a></li>
				 <li class="scroll-to-section"><a href="/museum/index/">Museums</a></li> -->
				 <li class="scroll-to-section"><a href="/artist/index/" class="active">Artists</a></li>
				 <li class="scroll-to-section"><a href="/auctionhouse/index/">Auction Houses</a></li>
				 <li class="scroll-to-section"><a href="/auction/index/">Auctions</a></li>
				 <li class="scroll-to-section"><a href="/price/database/">Price Database</a></li>

				 {% if not user.is_authenticated %}
				    <li><button type="button" class="btn btn-info btn-round" data-toggle="modal" data-target="#exampleModal-login" aria-controls="exampleModal-login">Login</button></li>
				 {% else %}
				    <li><a href="/login/logout/">Logout</a></li>
				 {% endif %}

			    <!-- <li><a class="nav-link" id="Login-tab" data-toggle="modal" href="#exampleModal-signup" role="tab" aria-controls="exampleModal-signup" aria-selected="false">Sign up</a></li> -->
				
			    <!-- <li><a class="nav-link" id="Login-tab" data-toggle="modal" href="#exampleModal-login" role="tab" aria-controls="exampleModal-login" aria-selected="false">Login</a></li> -->

                              <!--<li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li>-->


                          </ul>
                          <a class='menu-trigger'>
                              <span>Menu</span>
                          </a>
                          <!-- ***** Menu End ***** -->
                      </nav>
                  </div>
              </div>
          </div>
      </header>
      <!-- ***** Header Area End ***** -->
      <!-- ***** Main Banner Area Start ***** -->
      <!----<section class="featured-artist-slider">
        <div class="container max-container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div id="Top-owl-carousel" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="thumb">
                                <a href="#"><img src="/static/images/g1.jpg" alt=""></a>
                            </div>
                            <div class="down-content">
                                <a href="#">
                                    <h4>Maison Gerard</h4>
                                    <span>New York 1995</span>
                                </a><a class="btn btn-slider" href="#">Follow</a>

                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <a href="#"><img src="/static/images/g1.jpg" alt=""></a>
                            </div>
                            <div class="down-content">
                                <a href="#">
                                    <h4>Maison Gerard</h4>
                                    <span>New York 1984</span>
                                </a><a class="btn btn-slider" href="#">Follow</a>

                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <a href="#"><img src="/static/images/g1.jpg" alt=""></a>
                            </div>
                            <div class="down-content">
                                <a href="#">
                                    <h4>Maison Gerard</h4>
                                    <span>New York 1988</span>
                                </a><a class="btn btn-slider" href="#">Follow</a>

                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <a href="#"><img src="/static/images/g1.jpg" alt=""></a>
                            </div>
                            <div class="down-content">
                                <a href="#">
                                    <h4>Maison Gerard</h4>
                                    <span>New York 1995</span>
                                </a><a class="btn btn-slider" href="#">Follow</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
         	<!-- Carousel -->
    <section class="testimonials">
	<div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="customers-testimonials" class="owl-carousel owl-theme">
	    {% for d in carousel %}
            {% if d.datatype == "gallery" %}
            <div class="item">
              <div class="shadow-effect">
                <img class="img-responsive" src="{{d.img}}" alt="">
                <div class="item-details">
			<a class="btn btn-slider" href="/gallery/details/?gid={{d.data_id}}">
			<h5>{{d.title}}</h5>
			<p>{{d.text}}</p>
			</a>
			{% if adminuser == 1 %}
			    <br/><a style="color:#000000;bgcolor:#ffffff;" href='#adminScreen' onClick="javascript:t_editgallery({{d.data_id}});">Edit</a>
			{% endif %}
		</div>
              </div>
            </div>
	    {% endif %}
	    {% if d.datatype == "gevent" %}
            <div class="item">
              <div class="shadow-effect">
                <img class="img-responsive" src="{{d.img}}" alt="">
                <div class="item-details">
			<a class="btn btn-slider" href="/gallery/eventdetails/?gevid={{d.data_id}}">
			<h5>{{d.title}}</h5>
			<p>{{d.text}}</p>
			</a>
			{% if adminuser == 1 %}
			    <br/><a style="color:#000000;bgcolor:#ffffff;" href='#adminScreen' onClick="javascript:t_editgevent({{d.data_id}});">Edit</a>
			{% endif %}
		</div>
              </div>
            </div>
	    {% endif %}
	    {% if d.datatype == "museum" %}
            <div class="item">
              <div class="shadow-effect">
                <img class="img-responsive" src="{{d.img}}" alt="">
                <div class="item-details">
			<a class="btn btn-slider" href="/museum/details/?mid={{d.data_id}}">
			<h5>{{d.title}}</h5>
			<p>{{d.text}}</p>
			</a>
			{% if adminuser == 1 %}
			    <br/><a style="color:#000000;bgcolor:#ffffff;" href='#adminScreen' onClick="javascript:t_editmuseum({{d.data_id}});">Edit</a>
			{% endif %}
		</div>
              </div>
            </div>
	    {% endif %}
	    {% if d.datatype == "mevent" %}
            <div class="item">
              <div class="shadow-effect">
                <img class="img-responsive" src="{{d.img}}" alt="">
                <div class="item-details">
			<a class="btn btn-slider" href="/museum/eventdetails/?mevid={{d.data_id}}">
			<h5>{{d.title}}</h5>
			<p>{{d.text}}</p>
			</a>
			{% if adminuser == 1 %}
			    <br/><a style="color:#000000;bgcolor:#ffffff;" href='#adminScreen' onClick="javascript:t_editmevent({{d.data_id}});">Edit</a>
			{% endif %}
		</div>
              </div>
            </div>
	    {% endif %}
	    {% endfor %}
          </div>
        </div>
	
	<div class="owl-controls">
        <div class="owl-nav">
            <div class="owl-prev"></div>
            <div class="owl-next"></div>
        </div>
    	</div>

      </div>
      </div>
    </section>
    <!-- END OF Carousels -->
      <!------ Featured Artist ------->
      <section class="section gal-section" id="">
      	<div class="container">
	    <div class="row">
                  <div class="col-lg-12">
                      <div class="section-heading section-heading-2">
                          <!-- <h2>Emerging Art</h2> -->
                          <span>
			      <form autocomplete="off" name='frmsearchartists' id='frmsearchartists' method='POST' action="">
				  {% csrf_token %}
				  <div class="autocomplete">
				    <span class="input-group"><input type="search" class='form-control' name='artistsearch' id='artistsearch' maxLength="200" placeholder="Search over 5,00,000 artists" style="width:300px;"><button type="button" class="btn btn-primary" onclick='javascript:searchartist();'><i class="fa fa-search"></i></button><span id="loader"></span></span>
				  </div>
			      </form>
                              <!-- <a href="">View All</a> -->
                          </span>
                      </div>
                  </div>
              </div>
	</div>
      </section>
      <section class="featured-artist">
          <div class="container">
              <div class="row d-flex">
                  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <div class="section-heading" id='pageheader'>
                          <h2>Featured Artists</h2>
                          <span>Browse over 100,000 artists</span>
                      </div>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <ul class="text-end">
                          <li><a href="/artist/index/?page=a">a</a></li>
                          <li><a href="/artist/index/?page=b">b</a></li>
                          <li><a href="/artist/index/?page=c">c</a></li>
                          <li><a href="/artist/index/?page=d">d</a></li>
                          <li><a href="/artist/index/?page=e">e</a></li>
                          <li><a href="/artist/index/?page=f">f</a></li>
                          <li><a href="/artist/index/?page=g">g</a></li>
                          <li><a href="/artist/index/?page=h">h</a></li>
                          <li><a href="/artist/index/?page=i">i</a></li>
                          <li><a href="/artist/index/?page=j">j</a></li>
                          <li><a href="/artist/index/?page=k">k</a></li>
                          <li><a href="/artist/index/?page=l">l</a></li>
                          <li><a href="/artist/index/?page=m">m</a></li>
                          <li><a href="/artist/index/?page=n">n</a></li>
                          <li><a href="/artist/index/?page=o">o</a></li>
                          <li><a href="/artist/index/?page=p">p</a></li>
                          <li><a href="/artist/index/?page=q">q</a></li>
                          <li><a href="/artist/index/?page=r">r</a></li>
                          <li><a href="/artist/index/?page=s">s</a></li>
                          <li><a href="/artist/index/?page=t">t</a></li>
                          <li><a href="/artist/index/?page=u">u</a></li>
                          <li><a href="/artist/index/?page=v">v</a></li>
                          <li><a href="/artist/index/?page=w">w</a></li>
                          <li><a href="/artist/index/?page=x">x</a></li>
                          <li><a href="/artist/index/?page=y">y</a></li>
                          <li><a href="/artist/index/?page=z">z</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>
      <!------ Featured Artist ------->
      <!-- ***** Main Banner Area End ***** -->
      <section class="section gal-section br-none" id='featuredartistsdiv'>
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="section-heading section-heading-2">
                          <!-- <h2>Emerging Art</h2> -->
                          <span>
                              <!-- <a href="">View All</a> -->
                          </span>
                      </div>
                  </div>
              </div>
              <div class="row align-items-end">
		  {% for artistobj in featuredartists %}
                  <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                      <div class="artist-category">
			  {% if artistobj.atype == '1' %}
                          <div class="img-box">
                              <a href="/artist/artworkdetails/?awid={{artistobj.awid}}"><img src="/media/artists/artworks/{{artistobj.aid}}/{{artistobj.artworkimage}}" alt=""></a>
			  {% else %}
			  <div class="img-box">
                              <a href="/artist/details/?aid={{artistobj.aid}}"><img src="/media/artists/{{artistobj.aid}}/{{artistobj.artistimage}}" alt=""></a>
			  {% endif %}
                          
                              <a href="/artist/details/?aid={{artistobj.aid}}" style="color:#000000;">
                                  <h4>{{artistobj.artistname}}</h4>
				<!-- 
				{% if artistobj.birthdate == '' %}
                                  <h6>{{artistobj.nationality}}</h6>
				{% else %}
				  <h6>{{artistobj.nationality}}</h6>
				  <h6>{{artistobj.birthdeath}}</h6>
				{% endif %}
				-->
				<h6>Total Sold: US$&nbsp;{{artistobj.totalsold}}</h6>
                              </a>
			      {% if not user.is_authenticated %}
				<h6><a style="color:#000000;bgcolor:#ffffff;" data-toggle="modal" href="#exampleModal-login" aria-controls="exampleModal-login">Login to view</a></h6>
			      {% else %}
				<div id='statsview_feat_{{forloop.counter}}'>
				<h6><a href='#/' style="color:#000000;bgcolor:#ffffff;" onclick="javascript:showstats({{artistobj.aid}}, 'statsview_feat_{{forloop.counter}}');">Show Stats</a></h6>
				</div>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;" onclick="javascript:follow({{artistobj.aid}});">Follow</a></h6>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;" onclick="javascript:addtofavourites('artist', {{artistobj.aid}});">Add to Favourites</a></h6>
			      {% endif %}
			      
                          </div>
			  {% if adminuser == 1 %}
			      <div><a style="color:#000000;bgcolor:#ffffff;" href='#adminScreen' onClick="javascript:t_editartist('{{artistobj.aid}}');">Edit</a></div>
		          {% endif %}
                      </div>
                  </div>
		  {% endfor %}
              </div>
          </div>
      </section>

      <section class="section gal-section br-none pdt-0" id='allartistsdiv0'>
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="section-heading section-heading-2">
                          <!-- <h2>Contemporary Chinese Art</h2> -->
                          <span>
                              <!-- <a href="">View All</a> -->
                          </span>
                      </div>
                  </div>
              </div>
              <div class="row align-items-end">
                  {% for artistobj in allartists.0 %}
                  <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                      <div class="artist-category align-items-end">
                          <div class="img-box">
                              <a href="/artist/artworkdetails/?awid={{artistobj.awid}}"><img src="/media/artists/artworks/{{artistobj.aid}}/{{artistobj.artworkimage}}" alt=""></a>
                              <a href="/artist/details/?aid={{artistobj.aid}}" style="color:#000000;">
                                  <h4>{{artistobj.artistname}}</h4>
				<!-- 
				{% if artistobj.birthdate == '' %}
                                  <h6>{{artistobj.nationality}}</h6>
				{% else %}
				  <h6>{{artistobj.nationality}}</h6>
				  <h6>{{artistobj.birthdeath}}</h6>
				{% endif %}
				-->
                              </a>
			      {% if not user.is_authenticated %}
				<h6><a style="color:#000000;bgcolor:#ffffff;" data-toggle="modal" href="#exampleModal-login" aria-controls="exampleModal-login">Login to view</a></h6>
			      {% else %}
				<div id='statsview_1_{{forloop.counter}}'>
				<h6><a href='#/' style="color:#000000;bgcolor:#ffffff;" onclick="javascript:showstats({{artistobj.aid}}, 'statsview_1_{{forloop.counter}}');">Show Stats</a></h6>
				</div>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;" onclick="javascript:follow({{artistobj.aid}});">Follow</a></h6>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;" onclick="javascript:addtofavourites('artist', {{artistobj.aid}});">Add to Favourites</a></h6>
			      {% endif %}
				<!-- <a class="btn btn-slider" href="#">Follow</a> -->
                          </div>
			  {% if adminuser == 1 %}
			      <div><a style="color:#000000;bgcolor:#ffffff;" href='#adminScreen' onClick="javascript:t_editartist('{{artistobj.aid}}');">Edit</a></div>
		          {% endif %}
                      </div>
                  </div>
		  {% endfor %}
                  
              </div>
          </div>
      </section>
      <section class="section gal-section br-none pdt-0" id='allartistsdiv1'>
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="section-heading section-heading-2">
                          <!-- <h2>Abstract Sculpture</h2> -->
                          <span>
                              <!-- <a href="">View All</a> -->
                          </span>
                      </div>
                  </div>
              </div>
              <div class="row align-items-end">
                  {% for artistobj in allartists.1 %}
                  <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                      <div class="artist-category align-items-end">
                          <div class="img-box">
                              <a href="/artist/artworkdetails/?awid={{artistobj.awid}}"><img src="/media/artists/artworks/{{artistobj.aid}}/{{artistobj.artworkimage}}" alt=""></a>
                              <a href="/artist/details/?aid={{artistobj.aid}}" style="color:#000000;">
                                  <h4>{{artistobj.artistname}}</h4>
				<!-- 
                                {% if artistobj.birthdate == '' %}
                                  <h6>{{artistobj.nationality}}</h6>
				{% else %}
				  <h6>{{artistobj.nationality}}</h6>
				  <h6>{{artistobj.birthdeath}}</h6>
				{% endif %}
				-->
                              </a>
			      {% if not user.is_authenticated %}
				<h6><a style="color:#000000;bgcolor:#ffffff;" data-toggle="modal" href="#exampleModal-login" aria-controls="exampleModal-login">Login to view</a></h6>
			      {% else %}
				<div id='statsview_2_{{forloop.counter}}'>
				<h6><a href='#/' style="color:#000000;bgcolor:#ffffff;" onclick="javascript:showstats({{artistobj.aid}}, 'statsview_2_{{forloop.counter}}');">Show Stats</a></h6>
				</div>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;" onclick="javascript:follow({{artistobj.aid}});">Follow</a></h6>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;" onclick="javascript:addtofavourites('artist', {{artistobj.aid}});">Add to Favourites</a></h6>
			      {% endif %}
	 		      <!-- <a class="btn btn-slider" href="#">Follow</a> -->
                          </div>
			  {% if adminuser == 1 %}
			      <div><a style="color:#000000;bgcolor:#ffffff;" href='#adminScreen' onClick="javascript:t_editartist('{{artistobj.aid}}');">Edit</a></div>
		          {% endif %}
                      </div>
                  </div>
		  {% endfor %}
                  
              </div>
          </div>
      </section>
      <section class="section gal-section br-none pdt-0" id='allartistsdiv2'>
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="section-heading section-heading-2">
                          <!-- <h2>Post-War European Art</h2> -->
                          <span>
                              <!-- <a href="">View All</a> -->
                          </span>
                      </div>
                  </div>
              </div>
              <div class="row align-items-end">
                  {% for artistobj in allartists.2 %}
                  <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                      <div class="artist-category align-items-end">
                          <div class="img-box">
                              <a href="/artist/artworkdetails/?awid={{artistobj.awid}}"><img src="/media/artists/artworks/{{artistobj.aid}}/{{artistobj.artworkimage}}" alt=""></a>
                              <a href="/artist/details/?aid={{artistobj.aid}}" style="color:#000000;">
                                  <h4>{{artistobj.artistname}}</h4>
				<!--
                                {% if artistobj.birthdate == '' %}
                                  <h6>{{artistobj.nationality}}</h6>
				{% else %}
				  <h6>{{artistobj.nationality}}</h6>
				  <h6>{{artistobj.birthdeath}}</h6>
				{% endif %}
				-->
                              </a>
			      {% if not user.is_authenticated %}
				<h6><a style="color:#000000;bgcolor:#ffffff;" data-toggle="modal" href="#exampleModal-login" aria-controls="exampleModal-login">Login to view</a></h6>
			      {% else %}
				<div id='statsview_3_{{forloop.counter}}'>
				<h6><a href='#/' style="color:#000000;bgcolor:#ffffff;" onclick="javascript:showstats({{artistobj.aid}}, 'statsview_3_{{forloop.counter}}');">Show Stats</a></h6>
				</div>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;" onclick="javascript:follow({{artistobj.aid}});">Follow</a></h6>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;" onclick="javascript:addtofavourites('artist', {{artistobj.aid}});">Add to Favourites</a></h6>
			      {% endif %}
			      <!-- <a class="btn btn-slider" href="#">Follow</a> -->
                          </div>
			  {% if adminuser == 1 %}
			      <div><a style="color:#000000;bgcolor:#ffffff;" href='#adminScreen' onClick="javascript:t_editartist('{{artistobj.aid}}');">Edit</a></div>
		          {% endif %}
                      </div>
                  </div>
		  {% endfor %}
                  
              </div>
          </div>
      </section>
      <section class="section gal-section br-none pdt-0" id='allartistsdiv3'>
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="section-heading section-heading-2">
                          <!-- <h2>Contemporary Furniture and Design</h2> -->
                          <span>
                              <!-- <a href="">View All</a> -->
                          </span>
                      </div>
                  </div>
              </div>
              <div class="row align-items-end">
                  {% for artistobj in allartists.3 %}
                  <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                      <div class="artist-category align-items-end">
                         <div class="img-box">
                              <a href="/artist/artworkdetails/?awid={{artistobj.awid}}"><img src="/media/artists/artworks/{{artistobj.aid}}/{{artistobj.artworkimage}}" alt=""></a>
                              <a href="/artist/details/?aid={{artistobj.aid}}" style="color:#000000;">
                                  <h4>{{artistobj.artistname}}</h4>
				<!--
                                {% if artistobj.birthdate == '' %}
                                  <h6>{{artistobj.nationality}}</h6>
				{% else %}
				  <h6>{{artistobj.nationality}}</h6>
				  <h6>{{artistobj.birthdeath}}</h6>
				{% endif %}
				-->
                              </a>
			      {% if not user.is_authenticated %}
				<h6><a style="color:#000000;bgcolor:#ffffff;" data-toggle="modal" href="#exampleModal-login" aria-controls="exampleModal-login">Login to view</a></h6>
			      {% else %}
				<div id='statsview_4_{{forloop.counter}}'>
				<h6><a href='#/' style="color:#000000;bgcolor:#ffffff;" onclick="javascript:showstats({{artistobj.aid}}, 'statsview_4_{{forloop.counter}}');">Show Stats</a></h6>
				</div>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;" onclick="javascript:follow({{artistobj.aid}});">Follow</a></h6>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;" onclick="javascript:addtofavourites('artist', {{artistobj.aid}});">Add to Favourites</a></h6>
			      {% endif %}
			      <!-- <a class="btn btn-slider" href="#">Follow</a> -->
                          </div>
			  {% if adminuser == 1 %}
			      <div><a style="color:#000000;bgcolor:#ffffff;" href='#adminScreen' onClick="javascript:t_editartist('{{artistobj.aid}}');">Edit</a></div>
		          {% endif %}
                      </div>
                  </div>
		  {% endfor %}
                  
              </div>
          </div>
      </section>
      <section class="section gal-section br-none pdt-0" id='allartistsdiv4'>
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="section-heading section-heading-2">
                          <!-- <h2>Contemporary Conceptualism</h2> -->
                          <span>
                              <!-- <a href="">View All</a> -->
                          </span>
                      </div>
                  </div>
              </div>
              <div class="row align-items-end">
                  {% for artistobj in allartists.4 %}
                  <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                      <div class="artist-category align-items-end">
                          <div class="img-box">
                              <a href="/artist/artworkdetails/?awid={{artistobj.awid}}"><img src="/media/artists/artworks/{{artistobj.aid}}/{{artistobj.artworkimage}}" alt=""></a>
                              <a href="/artist/details/?aid={{artistobj.aid}}" style="color:#000000;">
                                  <h4>{{artistobj.artistname}}</h4>
				<!--
                                {% if artistobj.birthdate == '' %}
                                  <h6>{{artistobj.nationality}}</h6>
				{% else %}
				  <h6>{{artistobj.nationality}}</h6>
				  <h6>{{artistobj.birthdeath}}</h6>
				{% endif %}
				-->
                              </a>
			      {% if not user.is_authenticated %}
				<h6><a style="color:#000000;bgcolor:#ffffff;" data-toggle="modal" href="#exampleModal-login" aria-controls="exampleModal-login">Login to view</a></h6>
			      {% else %}
				<div id='statsview_5_{{forloop.counter}}'>
				<h6><a href='#/' style="color:#000000;bgcolor:#ffffff;" onclick="javascript:showstats({{artistobj.aid}}, 'statsview_5_{{forloop.counter}}');">Show Stats</a></h6>
				</div>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;" onclick="javascript:follow({{artistobj.aid}});">Follow</a></h6>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;" onclick="javascript:addtofavourites('artist', {{artistobj.aid}});">Add to Favourites</a></h6>
			      {% endif %}
			      <!-- <a class="btn btn-slider" href="#">Follow</a> -->
                          </div>
			  {% if adminuser == 1 %}
			      <div><a style="color:#000000;bgcolor:#ffffff;" href='#adminScreen' onClick="javascript:t_editartist('{{artistobj.aid}}');">Edit</a></div>
		          {% endif %}
                      </div>
                  </div>
		  {% endfor %}
              </div>
          </div>
      </section>
      <section class="section gal-section br-none pdt-0" id='allartistsdiv5'>
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="section-heading section-heading-2">
                          <!-- <h2>East Village Art</h2> -->
                          <span>
                              <!-- <a href="">View All</a> -->
                          </span>
                      </div>
                  </div>
              </div>
              <div class="row align-items-end">
                  {% for artistobj in allartists.5 %}
                  <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                      <div class="artist-category align-items-end">
                          <div class="img-box">
                              <a href="/artist/artworkdetails/?awid={{artistobj.awid}}"><img src="/media/artists/artworks/{{artistobj.aid}}/{{artistobj.artworkimage}}" alt=""></a>
                              <a href="/artist/details/?aid={{artistobj.aid}}" style="color:#000000;">
                                  <h4>{{artistobj.artistname}}</h4>
				<!--
                                {% if artistobj.birthdate == '' %}
                                  <h6>{{artistobj.nationality}}</h6>
				{% else %}
				  <h6>{{artistobj.nationality}}</h6>
				  <h6>{{artistobj.birthdeath}}</h6>
				{% endif %}
				-->
                              </a>
			      {% if not user.is_authenticated %}
				<h6><a style="color:#000000;bgcolor:#ffffff;" data-toggle="modal" href="#exampleModal-login" aria-controls="exampleModal-login">Login to view</a></h6>
			      {% else %}
				<div id='statsview_6_{{forloop.counter}}'>
				<h6><a href='#/' style="color:#000000;bgcolor:#ffffff;" onclick="javascript:showstats({{artistobj.aid}}, 'statsview_6_{{forloop.counter}}');">Show Stats</a></h6>
				</div>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;" onclick="javascript:follow({{artistobj.aid}});">Follow</a></h6>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;" onclick="javascript:addtofavourites('artist', {{artistobj.aid}});">Add to Favourites</a></h6>
			      {% endif %}
			      <!-- <a class="btn btn-slider" href="#">Follow</a> -->
                          </div>
			  {% if adminuser == 1 %}
			      <div><a style="color:#000000;bgcolor:#ffffff;" href='#adminScreen' onClick="javascript:t_editartist('{{artistobj.aid}}');">Edit</a></div>
		          {% endif %}
                      </div>
                  </div>
		  {% endfor %}
                  
              </div>
          </div>
      </section>
      <section class="download-app">
          <div class="container max-container">
              <div class="row">
                  <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4">
                      <div class="download-app">
                          <h4>Get More from Eolico—on the App</h4>
                          <div class="pl-st">
                              <a href=""><img src="/static/images/app-store.png" alt=""></a> <a href=""><img src="/static/images/google-play.png" alt=""></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-12 col-md-7 col-lg-8 col-xl-8">
                      <img src="/static/images/download-app.jpg" alt="">
                  </div>
              </div>
          </div>
      </section>

      <div id="adminScreen">
	  <a href="#" class="cancel">×</a>
	  <form name='frmedit' id='frmedit'>
	    {% csrf_token %}
          </form>
      </div>
      <div id="cover" >
      </div>
      

      <!-- ***** Footer Start ***** -->
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-lg-3">
                      <div class="first-item">
                          <div class="logo">
                              <img src="/static/images/logo-white.png" alt="">
                          </div>
                          <ul>
                              <li><a href="#">1234 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                              <li><a href="#"><span class="__cf_email__" data-cfemail="e98d8c8486a98a868499888790c78a8684">[email&#160;protected]</span></a></li>
                              <li><a href="#">010-020-0340</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-3">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/auctionhouse/index/">Featured Auction Houses</a></li>
                        <li><a href="/login/index/">Home</a></li>
                        <li><a href="/auction/index/">Current Auctions</a></li>
                        <li><a href="/artist/index/">Trending Artists</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="/about/">About Us</a></li>
                        <li><a href="/gallery/index/">Galleries</a></li>
                        <li><a href="/museum/index/">Museums</a></li>
                        <li><a href="/contactus/">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="/faq/">FAQ's</a></li>
                        <li><a href="/termsofuse/">Terms of Use</a></li>
                        <li><a href="/privacy/">Privacy Policy</a></li>
                        <li><a href="/security/">Security</a></li>
                    </ul>
                </div>
                  <div class="col-lg-12">
                      <div class="under-footer">
                          <p>Copyright © 2022. All Rights Reserved.</p>

                          <ul>
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </footer>


      <!-- jQuery -->
      <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/static/js/jquery-2.1.0.min.js"></script>

      <!-- Bootstrap -->
      <script src="/static/js/popper.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>

      <!-- Plugins -->
      <script src="/static/js/owl-carousel.js"></script>
      <script src="/static/js/accordions.js"></script>
      <script src="/static/js/datepicker.js"></script>
      <script src="/static/js/scrollreveal.min.js"></script>
      <script src="/static/js/waypoints.min.js"></script>
      <script src="/static/js/jquery.counterup.min.js"></script>
      <script src="/static/js/imgfix.min.js"></script>
      <script src="/static/js/slick.js"></script>
      <script src="/static/js/lightbox.js"></script>
      <script src="/static/js/isotope.js"></script>
      <script src="/static/js/jquery.dropdown.min.js"></script>

      <!-- Global Init -->
      <script src="/static/js/custom.js"></script>

      <script>
          /*https://www.jqueryscript.net/demo/Searchable-Multi-select-jQuery-Dropdown/*/
          $('.demo').dropdown({
              limitCount: 1,
              input: '<input type="text" maxLength="20" placeholder="Search">'
          });
         
jQuery(document).ready(function($) {
	"use strict";
	$('#customers-testimonials').owlCarousel( {
		loop: true,
		center: true,
		items: 3,
		margin: 30,
		autoplay: true,
		dots:true,
    		nav:true,
		autoplayTimeout: 8500,
		smartSpeed: 450,
  		navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
		responsive: {
			0: {
				items: 1
			},
			768: {
				items: 2
			},
			1170: {
				items: 3
			}
		}
	});
});
      </script>
      <script>

          $(function () {
              var selectedClass = "";
              $("p").click(function () {
                  selectedClass = $(this).attr("data-rel");
                  $("#portfolio").fadeTo(50, 0.1);
                  $("#portfolio div").not("." + selectedClass).fadeOut();
                  setTimeout(function () {
                      $("." + selectedClass).fadeIn();
                      $("#portfolio").fadeTo(50, 1);
                  }, 500);

              });
          });

      </script>

  </body>
</html>
