<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Focus Admin: Artist Form </title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="/static/admincss/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/static/admincss/lib/themify-icons.css" rel="stylesheet">
    <link href="/static/admincss/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="/static/admincss/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admincss/lib/helper.css" rel="stylesheet">
    <link href="/static/admincss/style.css" rel="stylesheet">
</head>

<body>

<div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Here</span></h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Form-Basic</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
		
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
			<!-- /# column -->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Artists Search Box</h4>
                                    
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form name='frmsearchartists' method='POST' action='/gallery/searchartists/'>
					    {% csrf_token %}
                                            <div class="form-group">
                                                
                                                <div class="input-group input-group-default">
                                                    <span class="input-group-btn"><button class="btn btn-primary" type="submit"><i class="ti-search"></i></button></span>
                                                    <input type="text" placeholder="Search Artists" name="btnartistsearch" class="form-control">
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-title">
                                    <h3>Add New Artist</h3>
                                    
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form name='frmartists' method='POST' action='/admin/artists/'>
					    {% csrf_token %}
					    <div class="card-title">
                                    		<h4>Artist Name</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default " placeholder="Artist Name" name='artistname'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Event Name</h4>
                                	    </div>
                                            <div class="form-group">
						<select name='seleventname' class="form-control input-default">
						<option value=''>Select Event </option>
						{% for ename, eid in eventsdict.items %}
						<option value='{{eid}}'>{{ename}}</option>
						{% endfor %}
						</select>
                                            </div>
					    <div class="card-title">
                                    		<h4>Artist Nationality</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default" placeholder="Nationality" name='artistnationality'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Artist Birth Year</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default" placeholder="Birth Year" name='artistbirth'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Artist Death Year</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default" placeholder="Death Year" name='artistdeath'>
                                            </div>                                          
					    <div class="card-title">
                                    		<h4>Gender</h4>
                                	    </div>
                                            <div class="form-group">
						<select name='selgender' class="form-control input-default">
						<option value=''>Select gender </option>
						<option value='male'>Male</option>
						<option value='female'>Female</option>
						<option value='none'>Can't Decide</option>
						</select>
                                            </div>
					    <div class="card-title">
                                    		<h4>Artist Cover Image</h4>
                                	    </div>
					    <div class="form-group">
						<input type='file' name='artistcoverimage' class="form-control input-default">
					    </div>
					    <div class="card-title">
                                    		<h4>Artist Large Image</h4>
                                	    </div>
					    <div class="form-group">
						<input type='file' name='artistlargeimage' class="form-control input-default">
					    </div>
					    <div class="card-title">
                                    		<h4>Artist Profile URL</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default" placeholder="Profile URL" name='artistprofileurl'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Artist Priority</h4>
                                	    </div>
                                            <div class="form-group">
                                                <select name='selgeventpriority' class="form-control input-default">
						<option value=''>Select type </option>
						<option value='1'>1 </option>
						<option value='2'>2 </option>
						<option value='3'>3 </option>
						<option value='4'>4 </option>
						<option value='5'>5 </option>
						</select>
                                            </div>
					    					    
					    <div class="form-group">
						<input type='button' name='addnewartist' class="form-control input-default" value='Add Artist' onclick='javascript:addartist();'>
					    </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /# row -->


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>2018 © Admin Board. - <a href="#">example.com</a></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>





    
    <!-- jquery vendor -->
    <script src="/static/adminjs/lib/jquery.min.js"></script>
    <script src="/static/adminjs/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="/static/adminjs/lib/menubar/sidebar.js"></script>
    <script src="/static/adminjs/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->
    
    <!-- bootstrap -->


    <script src="/static/adminjs/lib/bootstrap.min.js"></script><script src="/static/adminjs/scripts.js"></script>
    <!-- scripit init-->





</body>

</html>
