<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Eolico Admin: Lots Form </title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="/static/admincss/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/static/admincss/lib/themify-icons.css" rel="stylesheet">
    <link href="/static/admincss/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="/static/admincss/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admincss/lib/helper.css" rel="stylesheet">
    <link href="/static/admincss/style.css" rel="stylesheet">

    <style>
	img {
	  border: 1px solid #ddd; /* Gray border */
	  border-radius: 4px;  /* Rounded border */
	  padding: 5px; /* Some padding */
	  width: 150px; /* Set a small width */
	}

	/* Add a hover effect (blue shadow) */
	img:hover {
	  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	}
    </style>

    <script type='text/javascript'>
	function addlot(){
	  csrf = document.frmlot.csrfmiddlewaretoken.value;
	  lotnm = document.frmlot.lottitle.value;
	  artistnm = document.frmlot.artistname.value;
	  auchouseid = document.frmlot.selauctionhousename.options[document.frmlot.selauctionhousename.options.selectedIndex].value;
	  auctionid = document.frmlot.selauctionname.options[document.frmlot.selauctionname.options.selectedIndex].value;
	  abirth = document.frmlot.artistbirth.value;
	  adeath = document.frmlot.artistdeath.value;
	  anationality = document.frmlot.artistnationality.value;
	  medium = document.frmlot.medium.value;
	  sz = document.frmlot.size.value;
	  lotdesc = document.frmlot.lotdescription.value;
	  //lotsig = document.frmlot.signature.value;
	  //lotauth = document.frmlot.authenticity.value;
	  lotestimate = document.frmlot.estimate.value;
	  lotsoldprice = document.frmlot.soldprice.value;
	  lotprovenance = document.frmlot.provenance.value;
	  lotliterature = document.frmlot.literature.value;
	  lotexhibitions = document.frmlot.exhibitions.value;
          lotcat = document.frmlot.sellotcategory.options[document.frmlot.sellotcategory.options.selectedIndex].value;
          if(lotcat == ""){
            lotcat = document.frmlot.lotcategory.value;
          }
          currency = document.frmlot.sellotcurrency.options[document.frmlot.sellotcurrency.options.selectedIndex].value;
          if(currency == ""){
            currency = document.frmlot.lotcurrency.value;
          }
	  loturl = document.frmlot.loturl.value;
	  lotpriority = document.frmlot.sellotpriority.options[document.frmlot.sellotpriority.options.selectedIndex].value;
	  let formData = new FormData();
	  if(document.getElementById("lotimage1").files.length > 0){
	  let lotimage1 = document.getElementById("lotimage1").files[0];
	  formData.append("lotimage1", lotimage1);
	  }
	  if(document.getElementById("lotimage2").files.length > 0){
	  let lotimage2 = document.getElementById("lotimage2").files[0];
	  formData.append("lotimage2", lotimage2); 
	  }
	  if(document.getElementById("lotimage3").files.length > 0){
	  let lotimage3 = document.getElementById("lotimage3").files[0];
	  formData.append("lotimage3", lotimage3); 
	  }
	  if(document.getElementById("lotimage4").files.length > 0){
	  let lotimage4 = document.getElementById("lotimage4").files[0];
	  formData.append("lotimage4", lotimage4); 
	  }
	  formData.append("lottitle", lotnm); 
	  formData.append("artistname", artistnm); 
	  formData.append("selauctionhousename", auchouseid); 
 	  formData.append("selauctionname", auctionid); 
	  formData.append("artistbirth", abirth); 
	  formData.append("artistdeath", adeath); 
	  formData.append("artistnationality", anationality);
	  formData.append("medium", medium); 
	  formData.append("size", sz); 
	  formData.append("lotdescription", lotdesc); 
	  //formData.append("signature", lotsig); 
	  //formData.append("authenticity", lotauth); 
	  formData.append("estimate", lotestimate); 
	  formData.append("soldprice", lotsoldprice); 
	  formData.append("provenance", lotprovenance); 
	  formData.append("literature", lotliterature); 
	  formData.append("exhibitions", lotexhibitions); 
	  formData.append("loturl", loturl); 
	  formData.append("sellotcategory", lotcat); 
	  formData.append("sellotcurrency", currency); 
	  formData.append("sellotpriority", lotpriority); 
	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    //alert(xmlhttp.responseText);
	    statusdiv = document.getElementById('lotstatus');
	    statusdiv.innerHTML = "<p style='color:0000AA'>" + xmlhttp.responseText + "</p>";
	    setTimeout(function() {
    		document.location.href = document.location.href;
	    }, 5000);
	  }
	  };
	  xmlhttp.open("POST", "/admin/lots/");
	  xmlhttp.setRequestHeader("X-CSRFToken", csrf);
	  xmlhttp.send(formData);
	}

	function populateauctions(){
	  selectedauchouseid = document.frmlot.selauctionhousename.options[document.frmlot.selauctionhousename.options.selectedIndex].value;
	  csrf = document.frmlot.csrfmiddlewaretoken.value;
	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
          postdata = "ahid=" + selectedauchouseid + "&csrfmiddlewaretoken=" + csrf;
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    // create the options
	    auctionsdict = JSON.parse(xmlhttp.responseText);
	    var select = document.getElementById("selauctionname");
	    select.options.length = 0;
	    for (const [auctionname, auctionid] of Object.entries(auctionsdict)){
	    	var option = document.createElement("option");
	    	option.text = auctionname;
	    	option.value = auctionid;
	    	select.appendChild(option);
	    }
	  }
	  };
	  xmlhttp.open("POST", '/admin/getauctions/', true);
	  xmlhttp.setRequestHeader("X-CSRFToken", csrf);
	  //alert(postdata);
	  xmlhttp.send(postdata);
	}


	function searchlotsbykeyword(){
	  keyword = document.frmsearchlots.btnlotssearch.value;
	  //alert(keyword);
 	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    lotform = document.getElementById('frmlot');
	    lotform.innerHTML = "";
	    gform = "";
	    lotsdict = JSON.parse(xmlhttp.responseText);
	    for (const [lottitle, lotid] of Object.entries(lotsdict)){
	    	gform += "<div class='card-title'><a href='#' onclick='javascript:editlot(" + lotid + ")'>" +  lottitle + "</a></div>";
	    }
	    lotform.innerHTML = gform;
	  }
	  };
	  xmlhttp.open("GET", '/admin/searchlots/?searchkey=' + encodeURI(keyword));
	  xmlhttp.send();
	}

	function editlot(lid){
	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    lotform = document.getElementById('frmlot');
	    lotform.innerHTML = "";
	    gform = "<input type='hidden' name='csrfmiddlewaretoken' value='" + document.frmsearchlots.csrfmiddlewaretoken.value + "'>";
	    context = JSON.parse(xmlhttp.responseText);
	    auctionsdict = context['auctionsdict'];
	    lot = context['lot'];
	    auctionhouses = context['auctionhousesdict'];
    	    alllotcategories = context['alllotcategories'];
	    allcurrencies = context['allcurrencies'];
	    gform += "<div class='card-title'><h4>Lot Title</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Lot Title' name='lottitle' value='" + lot['lottitle'] + "'></div>";
	    gform += "<div class='card-title'><h4>Auction House Name</h4></div><div class='form-group'>";
	    gform += "<select name='selauctionhousename' id ='selauctionhousename' class='form-control input-default' onchange='javascript:populateauctions();'><option value=''>Select Auction House </option>";
	    for (const [ahname, ahid] of Object.entries(auctionhouses)){
		if(lot['auctionhouse'] == ahid){
		gform += "<option value='" + ahid + "' selected>" + ahname + "</option>";
		}
		else{
		gform += "<option value='" + ahid + "'>" + ahname + "</option>";
		}
	    }
	    gform += "</select></div>";
	    gform += "<div class='card-title'><h4>Auction</h4></div><div class='form-group'>";
	    gform += "<select name='selauctionname' id ='selauctionname' class='form-control input-default'><option value=''>Select Auction </option>";
	    for (const [aucname, aucid] of Object.entries(auctionsdict)){
		if(lot['auction'] == aucid){
		gform += "<option value='" + aucid + "' selected>" + aucname + "</option>";
		}
		else{
		gform += "<option value='" + aucid + "'>" + aucname + "</option>";
		}
	    }
	    gform += "</select></div>";
	    gform += "<div class='card-title'><h4>Artist Name</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Artist Name' name='artistname' value='" + lot['artistname'] + "'></div>";
	    gform += "<div class='card-title'><h4>Artist Birth Year</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Artist Birth Year' name='artistbirth' value='" + lot['artistbirth'] + "'></div>";
	    gform += "<div class='card-title'><h4>Artist Death Year</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Artist Death Year' name='artistdeath' value='" + lot['artistdeath'] + "'></div>";
	    gform += "<div class='card-title'><h4>Artist Nationality</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Artist Nationality' name='artistnationality' value='" + lot['artistnationality'] + "'></div>";
	    gform += "<div class='card-title'><h4>Medium</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Medium' name='medium' value='" + lot['medium'] + "'></div>";
	    gform += "<div class='card-title'><h4>Size</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Size' name='size' value='" + lot['size'] + "'></div>";
	    gform += "<div class='card-title'><h4>Lot Category </h4></div><div class='form-group'><select name='sellotcategory' id='sellotcategory' class='form-control input-default'><option value=''>Select Category </option>";
	    for(var i=0; i < alllotcategories.length; i++){
		if(lot['lotcategory'] == alllotcategories[i]){
		    gform += "<option value='" + alllotcategories[i] + "' selected>" + alllotcategories[i] + "</option>";
		}
		else{
		    gform += "<option value='" + alllotcategories[i] + "'>" + alllotcategories[i] + "</option>";
		}
	    }
	    gform += "<option value=''>None of the above</option></select><input type='text' class='form-control input-default' placeholder='Lot Category' name='lotcategory'></div>";
	    gform += "<div class='card-title'><h4>Description</h4></div><div class='form-group'><textarea class='form-control input-default ' name='lotdescription'>" + lot['description'] + "</textarea></div>";
	    //gform += "<div class='card-title'><h4>Signature</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Signature' name='signature' value='" + lot['signature'] + "'></div>";
	    //gform += "<div class='card-title'><h4>Letter of Authenticity</h4></div><div class='form-group'><textarea class='form-control input-default ' name='authenticity'>" + lot['letterofauthenticity'] + "</textarea></div>";
	    gform += "<div class='card-title'><h4>Currency </h4></div><div class='form-group'><select name='sellotcurrency' id='sellotcurrency' class='form-control input-default'><option value=''>Select Currency </option>";
	    for(var i=0; i < allcurrencies.length; i++){
		if(lot['currency'] == allcurrencies[i]){
		    gform += "<option value='" + allcurrencies[i] + "' selected>" + allcurrencies[i] + "</option>";
		}
		else{
		    gform += "<option value='" + allcurrencies[i] + "'>" + allcurrencies[i] + "</option>";
		}
	    }
	    gform += "<option value=''>None of the above</option></select><input type='text' class='form-control input-default' placeholder='Lot Currency' name='lotcurrency'></div>";
	    gform += "<div class='card-title'><h4>Estimate</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Estimate' name='estimate' value='" + lot['estimate'] + "'></div>";
	    gform += "<div class='card-title'><h4>Sold Price</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Sold Price' name='soldprice' value='" + lot['soldprice'] + "'></div>";
	    gform += "<div class='card-title'><h4>Provenance</h4></div><div class='form-group'><textarea class='form-control input-default ' name='provenance'>" + lot['provenance'] + "</textarea></div>";
	    gform += "<div class='card-title'><h4>Literature</h4></div><div class='form-group'><textarea class='form-control input-default ' name='literature'>" + lot['literature'] + "</textarea></div>";
	    gform += "<div class='card-title'><h4>Exhibitions</h4></div><div class='form-group'><textarea class='form-control input-default ' name='exhibitions'>" + lot['exhibited'] + "</textarea></div>";
	    gform += "<div class='card-title'><h4>Lot URL</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Lot URL' name='loturl' value='" + lot['loturl'] + "'></div>";
	    gform += "<div class='card-title'><h4>Lot Image 1</h4></div><div class='form-group'><input type='file' name='lotimage1' id='lotimage1' class='form-control input-default'><a href='" + lot['lotimage1'] + "'><img src='" + lot['lotimage1'] + "'></a></div>";
	    gform += "<div class='card-title'><h4>Lot Image 2</h4></div><div class='form-group'><input type='file' name='lotimage2' id='lotimage2' class='form-control input-default'><a href='" + lot['lotimage2'] + "'><img src='" + lot['lotimage2'] + "'></a></div>";
	    gform += "<div class='card-title'><h4>Lot Image 3</h4></div><div class='form-group'><input type='file' name='lotimage3' id='lotimage3' class='form-control input-default'><a href='" + lot['lotimage3'] + "'><img src='" + lot['lotimage3'] + "'></a></div>";
	    gform += "<div class='card-title'><h4>Lot Image 4</h4></div><div class='form-group'><input type='file' name='lotimage4' id='lotimage4' class='form-control input-default'><a href='" + lot['lotimage4'] + "'><img src='" + lot['lotimage4'] + "'></a></div>";
	    gform += "<div class='card-title'><h4>Lot Priority</h4></div><div class='form-group'>";
	    gform += "<select name='sellotpriority' id='sellotpriority' class='form-control input-default'><option value=''>Select Priority </option>";
	    for(i=1; i <= 5; i++){
		if(lot['priority'] == i){
		gform += "<option value='" + i + "' selected>" + i + " </option>";
		}
		else{
		gform += "<option value='" + i + "'>" + i + " </option>";
		}
	    }
	    gform += "</select></div>";

	    gform += "<div class='card-title'><input type='button' name='editlot' class='form-control input-default' value='Save Lot' onclick='javascript:savelot();'></div>";
	    gform += "<div class='card-title' id='lotstatus'></div>";
	    gform += "<input type='hidden' name='lid' value='" + lot['id'] + "'>";
	    lotform.innerHTML = gform;
	  }
	  };
	  xmlhttp.open("GET", "/admin/editlots/?lid=" + lid);
	  xmlhttp.send();
	}


	function savelot(){
	  csrf = document.frmlot.csrfmiddlewaretoken.value;
	  lotnm = document.frmlot.lottitle.value;
	  artistnm = document.frmlot.artistname.value;
	  auchouseid = document.frmlot.selauctionhousename.options[document.frmlot.selauctionhousename.options.selectedIndex].value;
	  auctionid = document.frmlot.selauctionname.options[document.frmlot.selauctionname.options.selectedIndex].value;
	  abirth = document.frmlot.artistbirth.value;
	  adeath = document.frmlot.artistdeath.value;
	  anationality = document.frmlot.artistnationality.value;
	  medium = document.frmlot.medium.value;
	  sz = document.frmlot.size.value;
	  lotdesc = document.frmlot.lotdescription.value;
	  //lotsig = document.frmlot.signature.value;
	  //lotauth = document.frmlot.authenticity.value;
	  lotestimate = document.frmlot.estimate.value;
	  lotsoldprice = document.frmlot.soldprice.value;
	  lotprovenance = document.frmlot.provenance.value;
	  lotliterature = document.frmlot.literature.value;
	  lotexhibitions = document.frmlot.exhibitions.value;
          lotcat = document.frmlot.sellotcategory.options[document.frmlot.sellotcategory.options.selectedIndex].value;
          if(lotcat == ""){
            lotcat = document.frmlot.lotcategory.value;
          }
          currency = document.frmlot.sellotcurrency.options[document.frmlot.sellotcurrency.options.selectedIndex].value;
          if(currency == ""){
            currency = document.frmlot.lotcurrency.value;
          }
	  loturl = document.frmlot.loturl.value;
          lotid = document.frmlot.lid.value
	  lotpriority = document.frmlot.sellotpriority.options[document.frmlot.sellotpriority.options.selectedIndex].value;
	  let formData = new FormData();
	  if(document.getElementById("lotimage1").files.length > 0){
	  let lotimage1 = document.getElementById("lotimage1").files[0];
	  formData.append("lotimage1", lotimage1);
	  }
	  if(document.getElementById("lotimage2").files.length > 0){
	  let lotimage2 = document.getElementById("lotimage2").files[0];
	  formData.append("lotimage2", lotimage2); 
	  }
	  if(document.getElementById("lotimage3").files.length > 0){
	  let lotimage3 = document.getElementById("lotimage3").files[0];
	  formData.append("lotimage3", lotimage3); 
	  }
	  if(document.getElementById("lotimage4").files.length > 0){
	  let lotimage4 = document.getElementById("lotimage4").files[0];
	  formData.append("lotimage4", lotimage4); 
	  }
	  formData.append("lottitle", lotnm); 
	  formData.append("artistname", artistnm); 
	  formData.append("selauctionhousename", auchouseid); 
 	  formData.append("selauctionname", auctionid); 
	  formData.append("artistbirth", abirth); 
	  formData.append("artistdeath", adeath); 
	  formData.append("artistnationality", anationality);
	  formData.append("medium", medium); 
	  formData.append("size", sz); 
	  formData.append("lotdescription", lotdesc); 
	  //formData.append("signature", lotsig); 
	  //formData.append("authenticity", lotauth); 
	  formData.append("estimate", lotestimate); 
	  formData.append("soldprice", lotsoldprice); 
	  formData.append("provenance", lotprovenance); 
	  formData.append("literature", lotliterature); 
	  formData.append("exhibitions", lotexhibitions); 
	  formData.append("loturl", loturl); 
	  formData.append("sellotcategory", lotcat); 
	  formData.append("sellotcurrency", currency); 
	  formData.append("sellotpriority", lotpriority); 
	  formData.append("lid", lotid); 
	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    //alert(xmlhttp.responseText);
	    statusdiv = document.getElementById('lotstatus');
	    statusdiv.innerHTML = "<p style='color:0000AA'>" + xmlhttp.responseText + "</p>";
	    setTimeout(function() {
    		document.location.href = document.location.href;
	    }, 5000);
	  }
	  };
	  xmlhttp.open("POST", '/admin/savelots/');
	  xmlhttp.setRequestHeader("X-CSRFToken", csrf);
	  xmlhttp.send(formData);
	}

    </script>
    
</head>

<body>

<div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Here</span></h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-15 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="card">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/admin/dashboard/">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a href="/admin/artists/">Artists</a></li>
				    <li class="breadcrumb-item"><a href="/admin/galleries/">Galleries</a></li>
				    <li class="breadcrumb-item"><a href="/admin/gevents/">Gallery Events</a></li>
				    <li class="breadcrumb-item active"><a href="/admin/artworks/">Artworks</a></li>
				    <li class="breadcrumb-item"><a href="/admin/museums/">Museums</a></li>
				    <li class="breadcrumb-item"><a href="/admin/mevents/">Museum Events</a></li>
				    <li class="breadcrumb-item"><a href="/admin/museumpieces/">Museum Pieces</a></li>
				    <li class="breadcrumb-item"><a href="/admin/auctionhouses/">Auction Houses</a></li>
				    <li class="breadcrumb-item"><a href="/admin/auctions/">Auctions</a></li>
				    <li class="breadcrumb-item"><a href="/admin/lots/">Lots</a></li>
				    <li class="breadcrumb-item"><a href="/admin/prices/">Prices</a></li>
				    <li class="breadcrumb-item"><a href="/admin/webconfig/">Webconfig</a></li>
				    <li class="breadcrumb-item"><a href="/admin/carousel/">Carousel</a></li>
				    <li class="breadcrumb-item"><a href="/admin/logout/">Logout</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
		
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
			<!-- /# column -->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Lots Search Box</h4>
                                    
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form name='frmsearchlots' id='frmsearchlots' method='POST' action='/admin/searchlots/'>
					    {% csrf_token %}
                                            <div class="form-group">
                                                
                                                <div class="input-group input-group-default">
                                                    <span class="input-group-btn"><button class="btn btn-primary" type="button" onclick='javascript:searchlotsbykeyword();'><i class="ti-search"></i></button></span>
                                                    <input type="text" placeholder="Search Lots" name="btnlotssearch" class="form-control">
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-title">
                                    <h3>Add New Lot (Artwork in Auction)</h3>
                                    
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form name='frmlot' id='frmlot' method='POST' action='/admin/lots/'>
					    {% csrf_token %}
					    <div class="card-title">
                                    		<h4>Lot Title</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default " placeholder="Lot Title" name='lottitle'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Auction House </h4>
                                	    </div>
                                            <div class="form-group">
						<select name='selauctionhousename' id='selauctionhousename' class="form-control input-default" onchange='javascript:populateauctions();'>
						<option value=''>Select Auction House </option>
						{% for auchousename, auchouseid in auctionhousesdict.items %}
						<option value='{{auchouseid}}'>{{auchousename}}</option>
						{% endfor %}
						</select>
                                            </div>
					    <div class="card-title">
                                    		<h4>Auction </h4>
                                	    </div>
                                            <div class="form-group">
						<select name='selauctionname' id='selauctionname' class="form-control input-default">
						<option value=''>Select Auction </option>
						
						</select>
                                            </div>
					    <div class="card-title">
                                    		<h4>Artist Name</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default " placeholder="Artist Name" name='artistname'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Artist Birth Year</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default" placeholder="Birth Year" name='artistbirth'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Artist Death Year</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default" placeholder="Death Year" name='artistdeath'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Artist Nationality</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default" placeholder="Nationality" name='artistnationality'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Medium</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default" placeholder="Medium" name='medium'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Size</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default" placeholder="Size" name='size'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Lot Category </h4>
                                	    </div>
                                            <div class="form-group">
						<select name='sellotcategory' id='sellotcategory' class="form-control input-default">
						<option value=''>Select Category </option>
						{% for lotcat in alllotcategories %}
						<option value='{{lotcat}}'>{{lotcat}}</option>
						{% endfor %}
						<option value=''>None of the above</option>
						</select>
						<input type="text" class="form-control input-default" placeholder="Lot Category" name='lotcategory'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Description</h4>
                                	    </div>
                                            <div class="form-group">
                                                <textarea class="form-control input-default" name='lotdescription'></textarea>
                                            </div>
					    <!--
                                            <div class="card-title">
                                    		<h4>Signature</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default" placeholder="Signature" name='signature'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Letter of Authenticity</h4>
                                	    </div>
                                            <div class="form-group">
                                                <textarea class="form-control input-default" name='authenticity'></textarea>
                                            </div>
					    -->
					    <div class="card-title">
                                    		<h4>Currency </h4>
                                	    </div>
                                            <div class="form-group">
						<select name='sellotcurrency' id='sellotcurrency' class="form-control input-default">
						<option value=''>Select Currency </option>
						{% for cur in allcurrencies %}
						<option value='{{cur}}'>{{cur}}</option>
						{% endfor %}
						<option value=''>None of the above</option>
						</select>
						<input type="text" class="form-control input-default" placeholder="Lot Currency" name='lotcurrency'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Estimate</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default" placeholder="Estimate" name='estimate'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Sold Price</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default" placeholder="Sold Price" name='soldprice'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Provenance</h4>
                                	    </div>
                                            <div class="form-group">
                                                <textarea class="form-control input-default" name='provenance'></textarea>
                                            </div>
					    <div class="card-title">
                                    		<h4>Literature</h4>
                                	    </div>
                                            <div class="form-group">
                                                <textarea class="form-control input-default" name='literature'></textarea>
                                            </div>
					    <div class="card-title">
                                    		<h4>Exhibitions</h4>
                                	    </div>
                                            <div class="form-group">
                                                <textarea class="form-control input-default" name='exhibitions'></textarea>
                                            </div>
					    <div class="card-title">
                                    		<h4>Lot URL</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default" placeholder="Lot URL" name='loturl'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Lot Image #1</h4>
                                	    </div>
					    <div class="form-group">
						<input type='file' name='lotimage1' id='lotimage1' class="form-control input-default">
					    </div>
					    <div class="card-title">
                                    		<h4>Lot Image #2</h4>
                                	    </div>
					    <div class="form-group">
						<input type='file' name='lotimage2' id='lotimage2' class="form-control input-default">
					    </div>
					    <div class="card-title">
                                    		<h4>Lot Image #3</h4>
                                	    </div>
					    <div class="form-group">
						<input type='file' name='lotimage3' id='lotimage3' class="form-control input-default">
					    </div>
					    <div class="card-title">
                                    		<h4>Lot Image #4</h4>
                                	    </div>
					    <div class="form-group">
						<input type='file' name='lotimage4' id='lotimage4' class="form-control input-default">
					    </div>
					    <div class="card-title">
                                    		<h4>Lot Priority</h4>
                                	    </div>
                                            <div class="form-group">
                                                <select name='sellotpriority' class="form-control input-default">
						<option value=''>Select Priority </option>
						<option value='1'>1 </option>
						<option value='2'>2 </option>
						<option value='3'>3 </option>
						<option value='4'>4 </option>
						<option value='5'>5 </option>
						</select>
                                            </div>
					    
					    <div class="form-group">
						<input type='button' name='addnewlot' class="form-control input-default" value='Add Lot' onclick='javascript:addlot();'>
					    </div>
					    <div class="card-title" id='lotstatus'>
                                    		
                                	    </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /# row -->


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>2022 © Eolico Board. - <a href="#">eolico.com</a></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>





    
    <!-- jquery vendor -->
    <script src="/static/adminjs/lib/jquery.min.js"></script>
    <script src="/static/adminjs/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="/static/adminjs/lib/menubar/sidebar.js"></script>
    <script src="/static/adminjs/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->
    
    <!-- bootstrap -->


    <script src="/static/adminjs/lib/bootstrap.min.js"></script><script src="/static/adminjs/scripts.js"></script>
    <!-- scripit init-->





</body>

</html>
