<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Eolico Admin: Museum Event Form </title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="/static/admincss/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/static/admincss/lib/themify-icons.css" rel="stylesheet">
    <link href="/static/admincss/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="/static/admincss/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admincss/lib/helper.css" rel="stylesheet">
    <link href="/static/admincss/style.css" rel="stylesheet">

    <script type='text/javascript'>
	function addmevent(){
	  csrf = document.frmmevents.csrfmiddlewaretoken.value;
	  eventnm = document.frmmevents.meventname.value;
	  eventloc = document.frmmevents.meventlocation.value;
	  museumid = document.frmmevents.selmuseumname.options[document.frmmevents.selmuseumname.options.selectedIndex].value;
	  eventinfo = document.frmmevents.meventinfo.innerHTML;
	  eventtype = document.frmmevents.selmeventtype.options[document.frmmevents.selmeventtype.options.selectedIndex].value;
	  eventseltype = document.frmmevents.selmeventtype.options[document.frmmevents.selmeventtype.options.selectedIndex].value;
	  eventpr = document.frmmevents.selmeventpriority.options[document.frmmevents.selmeventpriority.options.selectedIndex].value;
	  eventstatus = document.frmmevents.selmeventstatus.options[document.frmmevents.selmeventstatus.options.selectedIndex].value;
	  meventcover = document.frmmevents.meventcoverimage.value;
	  eventstartdate = document.frmmevents.meventstartdate.value;
	  eventenddate = document.frmmevents.meventenddate.value;
	  let formData = new FormData();
	  let coverimage = document.getElementById("meventcoverimage").files[0];
	  formData.append("meventcoverimage", coverimage); 
	  if (eventseltype == ""){
	    eventseltype = document.frmmevents.meventtype.value;
	  }
	  formData.append("meventname", eventnm); 
	  formData.append("meventlocation", eventloc); 
	  formData.append("meventinfo", eventinfo); 
 	  formData.append("meventstartdate", eventstartdate); 
	  formData.append("meventenddate", eventenddate); 
	  formData.append("selmuseumname", museumid); 
	  formData.append("selmeventtype", eventseltype);
	  formData.append("selmeventstatus", eventstatus); 
	  formData.append("selmeventpriority", eventpr); 
	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    //alert(xmlhttp.responseText);
	    statusdiv = document.getElementById('mevstatus');
	    statusdiv.innerHTML = "<p style='color:0000AA'>" + xmlhttp.responseText + "</p>";
	    setTimeout(function() {
    		document.location.href = document.location.href;
	    }, 5000);
	  }
	  };
	  xmlhttp.open("POST", "/admin/mevents/");
	  xmlhttp.setRequestHeader("X-CSRFToken", csrf);
	  xmlhttp.send(formData);
	}

	function searcheventsbykeyword(){
	  keyword = document.frmsearchmevents.btnmeventssearch.value;
	  //alert(keyword);
 	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    gevform = document.getElementById('frmmevents');
	    gevform.innerHTML = "";
	    gform = "";
	    meventsdict = JSON.parse(xmlhttp.responseText);
	    for (const [evname, evid] of Object.entries(meventsdict)){
	    	gform += "<div class='card-title'><a href='#' onclick='javascript:editmevent(" + evid + ")'>" +  evname + "</a></div>";
	    }
	    gevform.innerHTML = gform;
	  }
	  };
	  xmlhttp.open("GET", '/admin/searchmevents/?searchkey=' + encodeURI(keyword));
	  xmlhttp.send();
	}


	function editmevent(mevid){
	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    mevform = document.getElementById('frmmevents');
	    mevform.innerHTML = "";
	    gform = "<input type='hidden' name='csrfmiddlewaretoken' value='" + document.frmsearchmevents.csrfmiddlewaretoken.value + "'>";
	    context = JSON.parse(xmlhttp.responseText);
	    meventsdict = context['mevent'];
	    meventtypes = context['meventtypes'];
	    museums = context['museumsdict'];
	    gform += "<div class='card-title'><h4>Event Name</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Event Name' name='meventname' value='" + meventsdict['eventname'] + "'></div>";
	    gform += "<div class='card-title'><h4>Museum Name</h4></div><div class='form-group'>";
	    gform += "<select name='selmuseumname' id ='selmuseumname' class='form-control input-default'><option value=''>Select museum </option>";
	    for (const [musname, musid] of Object.entries(museums)){
		if(meventsdict['museumname'] == musname){
		gform += "<option value='" + musid + "' selected>" + musname + "</option>";
		}
		else{
		gform += "<option value='" + musid + "'>" + musname + "</option>";
		}
	    }
	    gform += "</select></div>";
	    gform += "<div class='card-title'><h4>Event Location</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Event Location' name='meventlocation' value='" + meventsdict['location'] + "'></div>";
	    gform += "<div class='card-title'><h4>Event Info</h4></div><div class='form-group'><textarea class='form-control input-default ' name='meventinfo'>" + meventsdict['eventinfo'] + "</textarea></div>";
	    gform += "<div class='card-title'><h4>Event Type</h4></div><div class='form-group'>";
	    gform += "<select name='selmeventtype' id ='selmeventtype' class='form-control input-default'><option value=''>Select type </option>";
	    for(var i=0; i < meventtypes.length; i++){
		if(meventtypes[i] == meventsdict['eventtype']){
		gform += "<option value='" + meventtypes[i] + "' selected>" + meventtypes[i] + "</option>";
		}
		else{
		gform += "<option value='" + meventtypes[i] + "'>" + meventtypes[i] + "</option>";
		}
	    }
	    gform += "<option value='none'>None of the above</option></select><input type='text' class='form-control input-default' placeholder='Enter Event Type' name='meventtype'></div>";
	    gform += "<div class='card-title'><h4>Event Priority</h4></div><div class='form-group'>";
	    gform += "<select name='selmeventpriority' id='selmeventpriority' class='form-control input-default'><option value=''>Select Priority </option>";
	    for(i=1; i <= 5; i++){
		if(meventsdict['priority'] == i){
		gform += "<option value='" + i + "' selected>" + i + " </option>";
		}
		else{
		gform += "<option value='" + i + "'>" + i + " </option>";
		}
	    }
	    gform += "</select></div>";
	    gform += "<div class='card-title'><h4>Event Status</h4></div><div class='form-group'><select name='selmeventstatus' id='selmeventstatus' class='form-control input-default'><option value=''>Select Status </option>";
	    if(meventsdict['eventstatus'] == "upcoming"){
	        gform += "<option value='upcoming' selected>Upcoming </option>";
	    }
	    else{
		gform += "<option value='upcoming'>Upcoming </option>";
	    }
	    if(meventsdict['eventstatus'] == "ongoing"){
	        gform += "<option value='ongoing' selected>Ongoing </option>";
	    }
	    else{
		gform += "<option value='ongoing'>Ongoing </option>";
	    }
	    if(meventsdict['eventstatus'] == "past"){
	        gform += "<option value='past' selected>Past </option>";
	    }
	    else{
		gform += "<option value='past'>Past </option>";
	    }
	    gform += "</select></div>";
	    gform += "<div class='card-title'><h4>Event Start Date</h4></div><div class='form-group'><input type='date' class='form-control input-default ' placeholder='' name='meventstartdate' value='" + meventsdict['eventstartdate'] + "'></div>";
	    gform += "<div class='card-title'><h4>Event End Date</h4></div><div class='form-group'><input type='date' class='form-control input-default ' placeholder='' name='meventenddate' value='" + meventsdict['eventenddate'] + "'></div>";
	    gform += "<div class='card-title'><h4>Event Cover Image</h4></div><div class='form-group'><input type='file' name='meventcoverimage' id='meventcoverimage' class='form-control input-default'></div>";
	    gform += "<div class='card-title'><input type='button' name='editmevent' class='form-control input-default' value='Save Event' onclick='javascript:savemevent();'></div>";
	    gform += "<div class='card-title' id='mevstatus'></div>";
	    gform += "<input type='hidden' name='mevid' value='" + meventsdict['id'] + "'>";
	    mevform.innerHTML = gform;
	  }
	  };
	  xmlhttp.open("GET", "/admin/editmevent/?evid=" + mevid);
	  xmlhttp.send();
	}


	function savemevent(){
	  csrf = document.frmmevents.csrfmiddlewaretoken.value;
	  eventnm = document.frmmevents.meventname.value;
	  eventloc = document.frmmevents.meventlocation.value;
	  museumid = document.frmmevents.selmuseumname.options[document.frmmevents.selmuseumname.options.selectedIndex].value;
	  eventinfo = document.frmmevents.meventinfo.innerHTML;
	  eventtype = document.frmmevents.selmeventtype.options[document.frmmevents.selmeventtype.options.selectedIndex].value;
	  eventseltype = document.frmmevents.selmeventtype.options[document.frmmevents.selmeventtype.options.selectedIndex].value;
	  eventpr = document.frmmevents.selmeventpriority.options[document.frmmevents.selmeventpriority.options.selectedIndex].value;
	  eventstatus = document.frmmevents.selmeventstatus.options[document.frmmevents.selmeventstatus.options.selectedIndex].value;
	  meventcover = document.frmmevents.meventcoverimage.value;
	  eventstartdate = document.frmmevents.meventstartdate.value;
	  eventenddate = document.frmmevents.meventenddate.value;
	  mevid = document.frmmevents.mevid.value;
	  let formData = new FormData();
	  let coverimage = document.getElementById("meventcoverimage").files[0];
	  formData.append("meventcoverimage", coverimage); 
	  if (eventseltype == ""){
	    eventseltype = document.frmmevents.meventtype.value;
	  }
	  formData.append("meventname", eventnm); 
	  formData.append("meventlocation", eventloc); 
	  formData.append("meventinfo", eventinfo); 
 	  formData.append("meventstartdate", eventstartdate); 
	  formData.append("meventenddate", eventenddate); 
	  formData.append("selmuseumname", museumid); 
	  formData.append("selmeventtype", eventseltype);
	  formData.append("selmeventstatus", eventstatus); 
	  formData.append("selmeventpriority", eventpr); 
	  formData.append("mevid", mevid); 
	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    //alert(xmlhttp.responseText);
	    statusdiv = document.getElementById('mevstatus');
	    statusdiv.innerHTML = "<p style='color:0000AA'>" + xmlhttp.responseText + "</p>";
	    setTimeout(function() {
    		document.location.href = document.location.href;
	    }, 5000);
	  }
	  };
	  xmlhttp.open("POST", '/admin/savemevent/');
	  xmlhttp.setRequestHeader("X-CSRFToken", csrf);
	  xmlhttp.send(formData);
	}
    </script>
</head>

<body>

<div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Here</span></h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-15 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="card">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/admin/dashboard/">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a href="/admin/artists/">Artists</a></li>
				    <li class="breadcrumb-item"><a href="/admin/galleries/">Galleries</a></li>
				    <li class="breadcrumb-item"><a href="/admin/gevents/">Gallery Events</a></li>
				    <li class="breadcrumb-item"><a href="/admin/artworks/">Artworks</a></li>
				    <li class="breadcrumb-item"><a href="/admin/museums/">Museums</a></li>
				    <li class="breadcrumb-item active"><a href="/admin/mevents/">Museum Events</a></li>
				    <li class="breadcrumb-item"><a href="/admin/museumpieces/">Museum Pieces</a></li>
				    <li class="breadcrumb-item"><a href="/admin/auctionhouses/">Auction Houses</a></li>
				    <li class="breadcrumb-item"><a href="/admin/auctions/">Auctions</a></li>
				    <li class="breadcrumb-item"><a href="/admin/lots/">Lots</a></li>
				    <li class="breadcrumb-item"><a href="/admin/prices/">Prices</a></li>
				    <li class="breadcrumb-item"><a href="/admin/webconfig/">Webconfig</a></li>
				    <li class="breadcrumb-item"><a href="/admin/carousel/">Carousel</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
		
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
			<!-- /# column -->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Museum Events Search Box</h4>
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form name='frmsearchmevents' method='POST' action='/admin/searchmevents/'>
					    {% csrf_token %}
                                            <div class="form-group">
                                                
                                                <div class="input-group input-group-default">
                                                    <span class="input-group-btn"><button class="btn btn-primary" type="button" onclick='javascript:searcheventsbykeyword();'><i class="ti-search"></i></button></span>
                                                    <input type="text" placeholder="Search Events" name="btnmeventssearch" class="form-control">
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-title">
                                    <h3>Add New Museum Event</h3>
                                    
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form name='frmmevents' id='frmmevents' method='POST' action='/admin/mevents/'>
					    {% csrf_token %}
					    <div class="card-title">
                                    		<h4>Event Name</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default " placeholder="Event Name" name='meventname'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Museum Name</h4>
                                	    </div>
                                            <div class="form-group">
						<select name='selmuseumname' id='selmuseumname' class="form-control input-default">
						<option value=''>Select Museum </option>
						{% for mname, mid in museumsdict.items %}
						<option value='{{mid}}'>{{mname}}</option>
						{% endfor %}
						</select>
                                            </div>
					    <div class="card-title">
                                    		<h4>Event Location</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default" placeholder="Event Location" name='meventlocation'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Event Info</h4>
                                	    </div>
                                            <div class="form-group">
                                                <textarea class="form-control input-default" name='meventinfo'></textarea>
                                            </div>
                                            
					    <div class="card-title">
                                    		<h4>Event Type</h4>
                                	    </div>
                                            <div class="form-group">
						<select name='selmeventtype' id='selmeventtype' class="form-control input-default">
						<option value=''>Select type </option>
						{% for metype in allevents %}
						<option value='{{metype}}'>{{metype}}</option>
						{% endfor %}
						<option value='none'>None of the above</option>
						</select>
                                                <input type="text" class="form-control input-default" placeholder="Enter Event Type" name='meventtype'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Event Priority</h4>
                                	    </div>
                                            <div class="form-group">
                                                <select name='selmeventpriority' id='selmeventpriority' class="form-control input-default">
						<option value=''>Select priority </option>
						<option value='1'>1 </option>
						<option value='2'>2 </option>
						<option value='3'>3 </option>
						<option value='4'>4 </option>
						<option value='5'>5 </option>
						</select>
                                            </div>
					    <div class="card-title">
                                    		<h4>Event Status</h4>
                                	    </div>
                                            <div class="form-group">
                                                <select name='selmeventstatus' class="form-control input-default">
						<option value=''>Select Status </option>
						<option value='upcoming'>Upcoming </option>
						<option value='ongoing'>Ongoing </option>
						<option value='past'>Past </option>
						</select>
                                            </div>
					    <div class="card-title">
                                    		<h4>Event Start Date</h4>
                                	    </div>
					    <div class="form-group">
						<input type='date' name='meventstartdate' class="form-control input-default">
					    </div>
					    <div class="card-title">
                                    		<h4>Event End Date</h4>
                                	    </div>
					    <div class="form-group">
						<input type='date' name='meventenddate' class="form-control input-default">
					    </div>
					    <div class="card-title">
                                    		<h4>Event Cover Image</h4>
                                	    </div>
					    <div class="form-group">
						<input type='file' name='meventcoverimage' id='meventcoverimage' class="form-control input-default">
					    </div>
					    <div class="form-group">
						<input type='button' name='addnewmevent' class="form-control input-default" value='Add Event' onclick='javascript:addmevent();'>
					    </div>
					    <div class="card-title" id='mevstatus'>
                                    		
                                	    </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /# row -->


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>2022 © Eolico Board. - <a href="#">eolico.com</a></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>





    
    <!-- jquery vendor -->
    <script src="/static/adminjs/lib/jquery.min.js"></script>
    <script src="/static/adminjs/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="/static/adminjs/lib/menubar/sidebar.js"></script>
    <script src="/static/adminjs/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->
    
    <!-- bootstrap -->


    <script src="/static/adminjs/lib/bootstrap.min.js"></script><script src="/static/adminjs/scripts.js"></script>
    <!-- scripit init-->





</body>

</html>
