<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Eolico Admin: Museum Form </title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="/static/admincss/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/static/admincss/lib/themify-icons.css" rel="stylesheet">
    <link href="/static/admincss/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="/static/admincss/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admincss/lib/helper.css" rel="stylesheet">
    <link href="/static/admincss/style.css" rel="stylesheet">

    <script type='text/javascript'>
	function addmuseum(){
	  csrf = document.frmmuseum.csrfmiddlewaretoken.value;
	  museumnm = document.frmmuseum.museumname.value;
	  museumloc = document.frmmuseum.museumlocation.value;
	  museumdesc = document.frmmuseum.museumdescription.innerHTML;
	  museumweburl = document.frmmuseum.museumwebsite.value;
	  museumseltype = document.frmmuseum.selmuseumtype.options[document.frmmuseum.selmuseumtype.options.selectedIndex].value;
	  museumpr = document.frmmuseum.selmuseumpriority.options[document.frmmuseum.selmuseumpriority.options.selectedIndex].value;
	  museumcover = document.frmmuseum.museumcoverimage.value;
	  let formData = new FormData();
	  //alert(formData);
	  let coverimage = document.getElementById("museumcoverimage").files[0];
	  formData.append("museumcoverimage", coverimage); 
	  formData.append("museumname", museumnm); 
	  formData.append("museumlocation", museumloc); 
	  formData.append("museumdescription", museumdesc); 
 	  formData.append("museumwebsite", museumweburl); 
	  formData.append("selmuseumpriority", museumpr); 
	  if (museumseltype == ""){
	    museumseltype = document.frmmuseum.museumtype.value;
	  }
	  formData.append("selmuseumtype", museumseltype); 
	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    //alert(xmlhttp.responseText);
	    statusdiv = document.getElementById('musstatus');
	    statusdiv.innerHTML = "<p style='color:0000AA'>" + xmlhttp.responseText + "</p>";
	    setTimeout(function() {
    		document.location.href = document.location.href;
	    }, 5000);
	  }
	  };
	  xmlhttp.open("POST", '/admin/museums/');
	  xmlhttp.setRequestHeader("X-CSRFToken", csrf);
	  xmlhttp.send(formData);
	}


	function searchmuseumsbykeyword(){
	  keyword = document.frmsearchmuseum.btnmuseumsearch.value;
	  //alert(keyword);
 	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    musform = document.getElementById('frmmuseum');
	    musform.innerHTML = "";
	    gform = "";
	    museumsdict = JSON.parse(xmlhttp.responseText);
	    for (const [musname, musid] of Object.entries(museumsdict)){
	    	gform += "<div class='card-title'><a href='#' onclick='javascript:editmuseum(" + musid + ")'>" +  musname + "</a></div>";
	    }
	    musform.innerHTML = gform;
	  }
	  };
	  xmlhttp.open("GET", '/admin/searchmuseum/?searchkey=' + encodeURI(keyword));
	  xmlhttp.send();
	}


	function savemuseum(){
	  csrf = document.frmmuseum.csrfmiddlewaretoken.value;
	  museumnm = document.frmmuseum.museumname.value;
	  museumloc = document.frmmuseum.museumlocation.value;
	  museumdesc = document.frmmuseum.museumdescription.value;
	  museumweburl = document.frmmuseum.museumwebsite.value;
	  //museumseltype = document.frmmuseum.selmuseumtype.options[document.frmmuseum.selmuseumtype.options.selectedIndex].value;
	  museumseltype = document.getElementById('selmuseumtype').value;
	  //museumpr = document.frmmuseum.selmuseumpriority.options[document.frmmuseum.selmuseumpriority.options.selectedIndex].value;
  	  museumpr = document.getElementById('selmuseumpriority').value;
	  museumcover = document.frmmuseum.museumcoverimage.value;
	  musid = document.frmmuseum.mid.value;
	  let formData = new FormData();
	  //alert(formData);
	  let coverimage = document.getElementById("museumcoverimage").files[0];
	  formData.append("museumcoverimage", coverimage); 
	  formData.append("museumname", museumnm); 
	  formData.append("museumlocation", museumloc); 
	  formData.append("museumdescription", museumdesc); 
 	  formData.append("museumwebsite", museumweburl); 
	  formData.append("selmuseumpriority", museumpr); 
	  if (museumseltype == ""){
	    museumseltype = document.frmmuseum.museumtype.value;
	  }
	  formData.append("selmuseumtype", museumseltype);
	  formData.append("mid", musid);
	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    //alert(xmlhttp.responseText);
	    statusdiv = document.getElementById('musstatus');
	    statusdiv.innerHTML = "<p style='color:0000AA'>" + xmlhttp.responseText + "</p>";
	    setTimeout(function() {
    		document.location.href = document.location.href;
	    }, 5000);
	  }
	  };
	  xmlhttp.open("POST", '/admin/savemuseum/');
	  xmlhttp.setRequestHeader("X-CSRFToken", csrf);
	  xmlhttp.send(formData);
	}


	function editmuseum(mid){
	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    musform = document.getElementById('frmmuseum');
	    musform.innerHTML = "";
	    gform = "<input type='hidden' name='csrfmiddlewaretoken' value='" + document.frmsearchmuseum.csrfmiddlewaretoken.value + "'>";
	    context = JSON.parse(xmlhttp.responseText);
	    museumdict = context['museum'];
	    museumtypes = context['museumtypes'];
	    gform += "<div class='card-title'><h4>Museum Name</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Museum Name' name='museumname' value='" + museumdict['museumname'] + "'></div>";
	    gform += "<div class='card-title'><h4>Museum Location</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Museum Location' name='museumlocation' value='" + museumdict['location'] + "'></div>";
	    gform += "<div class='card-title'><h4>Museum Description</h4></div><div class='form-group'><textarea class='form-control input-default ' name='museumdescription'>" + museumdict['description'] + "</textarea></div>";
	    gform += "<div class='card-title'><h4>Museum Website</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Museum Website' name='museumwebsite' value='" + museumdict['website'] + "'></div>";
	    gform += "<div class='card-title'><h4>Museum Type</h4></div><div class='form-group'>";
	    gform += "<select name='selmuseumtype' id ='selmuseumtype' class='form-control input-default'><option value=''>Select type </option>";
	    for(var i=0; i < museumtypes.length; i++){
		if(museumtypes[i] == museumdict['museumtype']){
		gform += "<option value='" + museumtypes[i] + "' selected>" + museumtypes[i] + "</option>";
		}
		else{
		gform += "<option value='" + museumtypes[i] + "'>" + museumtypes[i] + "</option>";
		}
	    }
	    gform += "</select></div>";
	    gform += "<div class='card-title'><h4>Museum Priority</h4></div><div class='form-group'>";
	    gform += "<select name='selmuseumpriority' id='selmuseumpriority' class='form-control input-default'><option value=''>Select priority </option>";
	    for(i=1; i <= 5; i++){
		if(museumdict['priority'] == i){
		gform += "<option value='" + i + "' selected>" + i + " </option>";
		}
		else{
		gform += "<option value='" + i + "'>" + i + " </option>";
		}
	    }
	    gform += "</select></div>";
	    gform += "<div class='card-title'><h4>Museum Cover Image</h4></div><div class='form-group'><input type='file' name='museumcoverimage' id='museumcoverimage' class='form-control input-default'></div>";
	    gform += "<div class='card-title'><input type='button' name='addnewmuseum' class='form-control input-default' value='Save Museum' onclick='javascript:savemuseum();'></div>";
	    gform += "<div class='card-title' id='musstatus'></div>";
	    gform += "<input type='hidden' name='mid' value='" + museumdict['id'] + "'>";
	    musform.innerHTML = gform;
	  }
	  };
	  xmlhttp.open("GET", "/admin/editmuseum/?mid=" + mid);
	  xmlhttp.send();
	}
    </script>
</head>

<body>

<div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Here</span></h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-15 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="card">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/admin/dashboard/">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a href="/admin/artists/">Artists</a></li>
				    <li class="breadcrumb-item"><a href="/admin/galleries/">Galleries</a></li>
				    <li class="breadcrumb-item"><a href="/admin/gevents/">Gallery Events</a></li>
				    <li class="breadcrumb-item"><a href="/admin/artworks/">Artworks</a></li>
				    <li class="breadcrumb-item active"><a href="/admin/museums/">Museums</a></li>
				    <li class="breadcrumb-item"><a href="/admin/mevents/">Museum Events</a></li>
				    <li class="breadcrumb-item"><a href="/admin/museumpieces/">Museum Pieces</a></li>
				    <li class="breadcrumb-item"><a href="/admin/auctionhouses/">Auction Houses</a></li>
				    <li class="breadcrumb-item"><a href="/admin/auctions/">Auctions</a></li>
				    <li class="breadcrumb-item"><a href="/admin/lots/">Lots</a></li>
				    <li class="breadcrumb-item"><a href="/admin/prices/">Prices</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
		
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
			<!-- /# column -->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Museum Search Box</h4>
                                    
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form name='frmsearchmuseum' method='POST' action='/admin/searchmuseum/'>
                                            <div class="form-group">
                                                {% csrf_token %}
                                                <div class="input-group input-group-default">
                                                    <span class="input-group-btn"><button class="btn btn-primary" type="button" onclick='javascript:searchmuseumsbykeyword();'><i class="ti-search"></i></button></span>
                                                    <input type="text" placeholder="Search Museums" name="btnmuseumsearch" class="form-control">
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-title">
                                    <h3>Add New Museum</h3>
                                    
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form name='frmmuseum' method='POST' action='/admin/museums/' id='frmmuseum'>
					    {% csrf_token %}
					    <div class="card-title">
                                    		<h4>Museum Name</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default " placeholder="Museum Name" name='museumname'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Museum Location</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default" placeholder="Museum Location" name='museumlocation'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Museum Description</h4>
                                	    </div>
                                            <div class="form-group">
                                                <textarea class="form-control input-default" name='museumdescription'></textarea>
                                            </div>
                                            <div class="card-title">
                                    		<h4>Museum Website</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default" placeholder="Museum Website" name='museumwebsite'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Museum Type</h4>
                                	    </div>
                                            <div class="form-group">
						<select name='selmuseumtype' class="form-control input-default">
						<option value=''>Select type </option>
						{% for mtype in museumtypes %}
						<option value='{{mtype}}'>{{mtype}}</option>
						{% endfor %}
						</select>
                                                <input type="text" class="form-control input-default" placeholder="Enter Museum Type" name='museumtype'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Museum Priority</h4>
                                	    </div>
                                            <div class="form-group">
                                                <select name='selmuseumpriority' id='selmuseumpriority' class="form-control input-default">
						<option value=''>Select priority </option>
						<option value='1'>1 </option>
						<option value='2'>2 </option>
						<option value='3'>3 </option>
						<option value='4'>4 </option>
						<option value='5'>5 </option>
						</select>
                                            </div>
					    <div class="card-title">
                                    		<h4>Museum Cover Image</h4>
                                	    </div>
					    <div class="form-group">
						<input type='file' name='museumcoverimage' id='museumcoverimage' class="form-control input-default">
					    </div>
					    <div class="form-group">
						<input type='button' name='addnewmuseum' class="form-control input-default" value='Add Museum' onclick='javascript:addmuseum();'>
					    </div>
					    <div class="card-title" id='musstatus'>
                                    		
                                	    </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /# row -->


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>2022 © Eolico Board. - <a href="#">eolico.com</a></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>





    
    <!-- jquery vendor -->
    <script src="/static/adminjs/lib/jquery.min.js"></script>
    <script src="/static/adminjs/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="/static/adminjs/lib/menubar/sidebar.js"></script>
    <script src="/static/adminjs/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->
    
    <!-- bootstrap -->


    <script src="/static/adminjs/lib/bootstrap.min.js"></script><script src="/static/adminjs/scripts.js"></script>
    <!-- scripit init-->





</body>

</html>
