<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Eolico Admin: Webconfig Form </title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="/static/admincss/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/static/admincss/lib/themify-icons.css" rel="stylesheet">
    <link href="/static/admincss/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="/static/admincss/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admincss/lib/helper.css" rel="stylesheet">
    <link href="/static/admincss/style.css" rel="stylesheet">

    <script type='text/javascript'>
	function addwebconfig(){
	  csrf = document.frmwebconfig.csrfmiddlewaretoken.value;
	  webconfignm = document.frmwebconfig.webconfigname.value;
	  webconfigval = document.frmwebconfig.webconfigvalue.value;
	  webconfigdesc = document.frmwebconfig.webconfigdescription.value;
	  webconfigpth = document.frmwebconfig.webconfigpath.value;
	  webconfigpgname = document.frmwebconfig.webconfigpagename.value;
	  let formData = new FormData();
	  //alert(formData);
	  formData.append("webconfigname", webconfignm); 
	  formData.append("webconfigvalue", webconfigval); 
	  formData.append("webconfigdescription", webconfigdesc); 
 	  formData.append("webconfigpath", webconfigpth); 
	  formData.append("webconfigpagename", webconfigpgname); 
	  if (webconfignm == "" || webconfigval == ""){
	    alert("Config name and value parameters are required.");
	    exit;
	  }
	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    //alert(xmlhttp.responseText);
	    statusdiv = document.getElementById('wcstatus');
	    statusdiv.innerHTML = "<p style='color:0000AA'>" + xmlhttp.responseText + "</p>";
	    setTimeout(function() {
    		document.location.href = document.location.href;
	    }, 5000);
	  }
	  };
	  xmlhttp.open("POST", '/admin/webconfig/');
	  xmlhttp.setRequestHeader("X-CSRFToken", csrf);
	  xmlhttp.send(formData);
	}


	function searchwebconfigbykeyword(){
	  keyword = document.frmsearchwebconfig.btnwebconfigsearch.value;
	  //alert(keyword);
 	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    wcform = document.getElementById('frmwebconfig');
	    wcform.innerHTML = "";
	    gform = "";
	    webconfigdict = JSON.parse(xmlhttp.responseText);
	    for (const [cfgname, cfgid] of Object.entries(webconfigdict)){
	    	gform += "<div class='card-title'><a href='#' onclick='javascript:editwebconfig(" + cfgid + ")'>" +  cfgname + "</a></div>";
	    }
	    wcform.innerHTML = gform;
	  }
	  };
	  xmlhttp.open("GET", '/admin/searchwebconfig/?searchkey=' + encodeURI(keyword));
	  xmlhttp.send();
	}


	function savewebconfig(){
	  csrf = document.frmwebconfig.csrfmiddlewaretoken.value;
	  webconfignm = document.frmwebconfig.webconfigname.value;
	  webconfigval = document.frmwebconfig.webconfigvalue.value;
	  webconfigpth = document.frmwebconfig.webconfigpath.value;
	  webconfigpgname = document.frmwebconfig.webconfigpagename.value;
	  webconfigdesc = document.frmwebconfig.webconfigdescription.value;
	  webconfigid = document.frmwebconfig.wcid.value;
	  let formData = new FormData();
	  //alert(formData);
	  formData.append("webconfigname", webconfignm); 
	  formData.append("webconfigvalue", webconfigval); 
	  formData.append("webconfigpath", webconfigpth); 
 	  formData.append("webconfigpagename", webconfigpgname); 
	  formData.append("webconfigdescription", webconfigdesc); 
	  formData.append("wcid", webconfigid);
	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    //alert(xmlhttp.responseText);
	    statusdiv = document.getElementById('wcstatus');
	    statusdiv.innerHTML = "<p style='color:0000AA'>" + xmlhttp.responseText + "</p>";
	    setTimeout(function() {
    		document.location.href = document.location.href;
	    }, 5000);
	  }
	  };
	  xmlhttp.open("POST", '/admin/savewebconfig/');
	  xmlhttp.setRequestHeader("X-CSRFToken", csrf);
	  xmlhttp.send(formData);
	}


	function editwebconfig(wcid){
	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    hdrdiv = document.getElementById("adminheader");
	    hdrdiv.innerHTML = "<h3>Edit Config Param</h3>";
	    wcform = document.getElementById('frmwebconfig');
	    wcform.innerHTML = "";
	    gform = "<input type='hidden' name='csrfmiddlewaretoken' value='" + document.frmsearchwebconfig.csrfmiddlewaretoken.value + "'>";
	    context = JSON.parse(xmlhttp.responseText);
	    console.log(JSON.stringify(context));
	    wcdict = context['webconfig'];
	    gform += "<div class='card-title'><h4>Config Name</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Config Name' name='webconfigname' value='" + wcdict['webconfigname'] + "'></div>";
	    gform += "<div class='card-title'><h4>Config Value</h4></div><div class='form-group'><textarea class='form-control input-default ' name='webconfigvalue'>" + wcdict['webconfigvalue'] + "</textarea></div>";
	    gform += "<div class='card-title'><h4>Page Path (Web)</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Page Path' name='webconfigpath' value='" + wcdict['webconfigpath'] + "'></div>";
	    gform += "<div class='card-title'><h4>Page Name</h4></div><div class='form-group'><input type='text' class='form-control input-default ' placeholder='Page Name' name='webconfigpagename' value='" + wcdict['webconfigpagename'] + "'></div>";
	    gform += "<div class='card-title'><h4>Config Description</h4></div><div class='form-group'><textarea class='form-control input-default ' name='webconfigdescription'>" + wcdict['webconfigdescription'] + "</textarea></div>";
	    
	    gform += "<div class='card-title'><input type='button' name='addnewwebconfig' class='form-control input-default' value='Save Config Param' onclick='javascript:savewebconfig();'></div>";
	    gform += "<div class='card-title' id='wcstatus'></div>";
	    gform += "<input type='hidden' name='wcid' value='" + wcdict['id'] + "'>";
	    wcform.innerHTML = gform;
	  }
	  };
	  xmlhttp.open("GET", "/admin/editwebconfig/?wcid=" + wcid);
	  xmlhttp.send();
	}
    </script>
</head>

<body>

<div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Hello, <span>Welcome Here</span></h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-15 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="card">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/admin/dashboard/">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a href="/admin/artists/">Artists</a></li>
				    <li class="breadcrumb-item"><a href="/admin/galleries/">Galleries</a></li>
				    <li class="breadcrumb-item"><a href="/admin/gevents/">Gallery Events</a></li>
				    <li class="breadcrumb-item"><a href="/admin/artworks/">Artworks</a></li>
				    <li class="breadcrumb-item"><a href="/admin/museums/">Museums</a></li>
				    <li class="breadcrumb-item"><a href="/admin/mevents/">Museum Events</a></li>
				    <li class="breadcrumb-item"><a href="/admin/museumpieces/">Museum Pieces</a></li>
				    <li class="breadcrumb-item"><a href="/admin/auctionhouses/">Auction Houses</a></li>
				    <li class="breadcrumb-item"><a href="/admin/auctions/">Auctions</a></li>
				    <li class="breadcrumb-item"><a href="/admin/lots/">Lots</a></li>
				    <li class="breadcrumb-item"><a href="/admin/prices/">Prices</a></li>
				    <li class="breadcrumb-item active"><a href="/admin/webconfig/">Webconfig</a></li>
				    <li class="breadcrumb-item"><a href="/admin/carousel/">Carousel</a></li>
				    <li class="breadcrumb-item"><a href="/admin/logout/">Logout</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
		
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
			<!-- /# column -->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Website Config Parameter Search Box</h4>
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form name='frmsearchwebconfig' method='POST' action='/admin/searchwebconfig/'>
                                            <div class="form-group">
                                                {% csrf_token %}
                                                <div class="input-group input-group-default">
                                                    <span class="input-group-btn"><button class="btn btn-primary" type="button" onclick='javascript:searchwebconfigbykeyword();'><i class="ti-search"></i></button></span>
                                                    <input type="text" placeholder="Search Web Config" name="btnwebconfigsearch" class="form-control">
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-title" id="adminheader">
                                    <h3>Add New Config Param</h3>
                                    
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form name='frmwebconfig' method='POST' action='/admin/webconfig/' id='frmwebconfig'>
					    {% csrf_token %}
					    <div class="card-title">
                                    		<h4>Config Name</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default " placeholder="Config Name" name='webconfigname'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Config Value</h4>
                                	    </div>
                                            <div class="form-group">
                                                <textarea class="form-control input-default" name='webconfigvalue'></textarea>
                                            </div>
					    <div class="card-title">
                                    		<h4>Page Path (Web)</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default" placeholder="Page Path" name='webconfigpath'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Page Name</h4>
                                	    </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-default" placeholder="Page Name" name='webconfigpagename'>
                                            </div>
					    <div class="card-title">
                                    		<h4>Config Description</h4>
                                	    </div>
                                            <div class="form-group">
                                                <textarea class="form-control input-default" name='webconfigdescription'></textarea>
                                            </div>
                                            					    
					    <div class="form-group">
						<input type='button' name='addnewwebconfig' class="form-control input-default" value='Add Config Param' onclick='javascript:addwebconfig();'>
					    </div>
					    <div class="card-title" id='wcstatus'>
                                    		
                                	    </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /# row -->


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>2022 © Eolico Board. - <a href="#">eolico.com</a></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>





    
    <!-- jquery vendor -->
    <script src="/static/adminjs/lib/jquery.min.js"></script>
    <script src="/static/adminjs/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="/static/adminjs/lib/menubar/sidebar.js"></script>
    <script src="/static/adminjs/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->
    
    <!-- bootstrap -->


    <script src="/static/adminjs/lib/bootstrap.min.js"></script><script src="/static/adminjs/scripts.js"></script>
    <!-- scripit init-->





</body>

</html>
