<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>ArtBidder Home</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/owl-carousel.css">
    <link rel="stylesheet" href="/static/css/lightbox.css">
    <link rel="stylesheet" href="/static/css/jquery.dropdown.min.css">

    <link rel="stylesheet" href="/static/css/newcarousel.css">

	<style>
		.slide-cap{
			position: absolute;
			top: 5%;
			left: 13%;
			width: 28%;
		}
		.rit-cap{
			position: absolute;
			top: 5%;
			right: 15%;
			width: 30%;
		}
		#Top-owl-carousel p{
			margin-top:5px;
		}
		<!-- Adding scaling factor -->
		.item {
		  transform: scale(.6);
		}
		.btn-slider{
			border:1px solid #333;
			border-radius:0px;
			margin-top:5px;
			margin-bottom:10px;
			padding: 5px 5px;
			letter-spacing:2px;
		}
		.btn-slider:hover{
			background: #f1f0ef;
		}
		#Top-owl-carousel .owl-nav{
			text-align: center;
			margin-top: 15px;
		}
		#Top-owl-carousel .owl-nav .owl-prev{
			margin-right:10px;
		}
		#Top-owl-carousel .owl-nav .owl-next{
			margin-left:10px;
		}
		#Top-owl-carousel .owl-nav .owl-prev:focus,
		#Top-owl-carousel .owl-nav .owl-next:focus{
			outline:none;
		}
		
		.wrapper {
			 margin: 10vh;
		}
 .card {
	 border: none;
	 //transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
	 overflow: hidden;
	 border-radius: 20px;
	 min-height: 450px;
	 box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}
 @media (max-width: 768px) {
	 .card {
		 min-height: 350px;
	}
}
 @media (max-width: 420px) {
	 .card {
		 min-height: 300px;
	}
}
 .card.card-has-bg {
	 //transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
	 background-size: 120%;
	 background-repeat: no-repeat;
	 background-position: center center;
}
 .card.card-has-bg:before {
	 content: '';
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 background: inherit;
	 -webkit-filter: grayscale(1);
	 -moz-filter: grayscale(100%);
	 -ms-filter: grayscale(100%);
	 -o-filter: grayscale(100%);
	 filter: grayscale(100%);
}
 .card.card-has-bg:hover {
	 //transform: scale(0.98);
	 box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
	 background-size: 120%;
	 //transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
 .card.card-has-bg:hover .card-img-overlay {
	 //transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
	 background: #234f6d;
	 background: linear-gradient(0deg, rgba(4, 69, 114, 0.5) 0%, rgba(4, 69, 114, 1) 100%);
}
 .card .card-footer {
	 background: none;
	 border-top: none;
}
 .card .card-footer .media img {
	 border: solid 3px rgba(234, 95, 0, 0.3);
}
 .card .card-meta {
	 color: orange;
}
 .card .card-body {
	 //transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
 .card:hover {
	 cursor: pointer;
	 //transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
 .card:hover .card-body {
	 //margin-top: 30px;
	 //transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
 .card .card-img-overlay {
	 transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
	 background: #c2a476;
	 background: linear-gradient(0deg, rgba(35, 79, 109, 0.3785889355742297) 0%, rgba(69, 95, 113, 1) 100%);
}
.wrapper .section-heading{
	margin-bottom: 60px;
}
.btn-box{
	margin-top: 30px;
	}

footer .under-footer a {
    color: #717171;
}
footer .under-footer a:hover {
    color: #c2a476;
}
 
	</style>

    <style>
	.owl-prev, .owl-next {
        width: 15px;
        height: 100px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block !important;
        border:0px solid black;
    }
    .owl-prev { left: -20px; }
    .owl-next { right: -20px; }
    .owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}
 
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <style type="text/css">
    .button
    {
      width: 150px;
      padding: 10px;
      background-color: #FF8C00;
      box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
      font-weight:bold;
      text-decoration:none;
    }
    #cover{
      position:fixed;
      top:0;
      left:0;
      background:rgba(0,0,0,0.6);
      z-index:5;
      width:100%;
      height:100%;
      display:none;
    }
    #adminScreen
    {
      height:680px;
      width:640px;
      margin:0 auto;
      position:relative;
      z-index:10;
      display:none;
      background: url(login.png) no-repeat;
      border:5px solid #cccccc;
      border-radius:10px;
    }
    #adminScreen:target, #adminScreen:target + #cover{
      display:block;
      opacity:2;
    }
    .cancel
    {
      display:block;
      position:absolute;
      top:3px;
      right:2px;
      background:rgb(245,245,245);
      color:black;
      height:30px;
      width:35px;
      font-size:30px;
      text-decoration:none;
      text-align:center;
      font-weight:bold;
    }
    </style>

    <script src="/static/js/editfromfront.js"></script>
    <script src="/static/js/eolicoauth.js"></script>

    <script>
    function showstats(aid, statsdivid){
	  statsdiv = document.getElementById(statsdivid);
	  var xmlhttp;
	  if (window.XMLHttpRequest){
	    xmlhttp=new XMLHttpRequest();
	  }
	  else{
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  // Register the handler
	  xmlhttp.onreadystatechange = function(){
	  if(xmlhttp.readyState == 4 && xmlhttp.status==200){
	    context = JSON.parse(xmlhttp.responseText);
	    divid = context['div_id'];
	    aid = context['aid'];
	    err = context['err'];
	    statsdiv = document.getElementById(divid);
            if(err == "nologin"){
		htmlcontent = context['stats'];
		statsdiv.innerHTML = htmlcontent;
	    }
	    else if(err == "noaid"){
		htmlcontent = context['stats'];
		statsdiv.innerHTML = htmlcontent;
	    }
	    else if(err == "nodiv"){
		htmlcontent = context['stats'];
		statsdiv.innerHTML = htmlcontent;
	    }
	    else if(err == "noartist"){
		htmlcontent = context['stats'];
		statsdiv.innerHTML = htmlcontent;
	    }
	    else if(err == ""){
	        htmlcontent = context['stats'] + "<h6><a href='#/' style='color:#000000;bgcolor:#ffffff;' onclick=\"javascript:hidestats(" + aid + ", '" + divid + "');\">Hide Stats</a></h6>";
	        statsdiv.innerHTML = htmlcontent;
	    }
	  }
	  };
	  xmlhttp.open("GET", "/artist/showstats/?aid=" + aid + "&div_id=" + statsdivid); // Need to keep track of the div id values. 
	  // Javascript runs separate threads for each call, so data is shared. So, javascript will not be able to keep track of data
	  // returned and the corresponding div it should be placed in.
	  xmlhttp.send();
          statsdiv.innerHTML = "<img src='/static/images/loading.gif' style='height:20px;width:20px;'>";
	}

	function hidestats(aid, statsdivid){
	  statsdivelement = document.getElementById(statsdivid);
	  statsdivelement.innerHTML = "<h6><a href='#/' style='color:#000000;bgcolor:#ffffff;' onclick=\"javascript:showstats(" + aid + ", '" + statsdivid + "');\">Show Stats</a></h6>";
	}
    </script>

    </head>
    
    <body>

    <!-- Sign up Modal -->
    <div class="modal fade z-index signup-modal" id="exampleModal-signup" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-logo">
                        <a href="index.html">
                            <img src="/static/images/logo1.png" alt="" class="img-fluid" width="150" />
                        </a>
                    </div>
                    <button type="button" class="close close-modals" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-head">
                        <h3>Sign up to see full auction records — for free</h3>
                    </div>
                    <div class="modal-form">
                        <form method="post" action="/login/registration/" name="frmsignup" id="frmsignup">
			    <label style="color:red;" id="errormsg"></label>
			    {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Username</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your full name" />
                            </div>
                            <div class="form-group">
                                <label for="emailid">Email</label>
                                <input type="text" class="form-control" id="emailid" name="emailid" placeholder="Enter your email address" />
                            </div>
                            <div class="form-group">
                                <label for="password1">Password</label>
                                <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter a password" />
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <p>Password must be at least 8 characters.</p>
                            </div>
			    <div class="form-group">
                                <label for="password2">Confirm Password</label>
                                <input type="password" class="form-control" id="password2" name="password2" placeholder="Re-type password" />
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <div class="form-group">
                                <div class="check-input">
                                    <span>
                                        <input type="checkbox" name="agree" id="agree" value="" />
                                    </span>
                                    <p>I agree to the <a href="terms.html" target="_blank">Terms of Use</a>, <a href="privacy-policy.html" target="_blank">Privacy Policy</a>, <a href="conditions-of-sale.html" target="_blank">Conditions of Sale</a>  and to receiving emails from ArtBidder.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" value="signup" name="btnsignup" class="btn btn-slider" onclick="javascript:doregister();">Sign up</button>
                            </div>
			    <!--
                            <div class="form-group">
                                <p class="or text-center">or</p>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-apple" aria-hidden="true"></i> Continue with Apple</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-google" aria-hidden="true"></i> Continue with Google</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-facebook" aria-hidden="true"></i> Continue with Facebook</a>
                            </div>
			    -->
                            <div class="form-group text-center">
                                <p>Already have an account? <a href="javascript:void(0)" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal-login">Log In</a></p>
                            </div>
                            <div class="form-group text-center">
                                <p>This site is protected by reCAPTCHA and the Google <a href="privacy-policy.html">Privacy Policy</a> and <a href="terms.html">Terms of Service</a> apply.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign up Modal -->
    <!-- Sign in Modal -->
    <div class="modal fade z-index signup-modal" id="exampleModal-login" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel-login" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-logo">
                        <a href="index.html">
                            <img src="/static/images/logo1.png" alt="" class="img-fluid" width="150" />
                        </a>
                    </div>
                    <button type="button" class="close close-modals" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-head">
                        <h3>Login</h3>
                    </div>
                    <div class="modal-form">
                        <form method="post" action='/login/dologin/' name='frmlogin' id='frmlogin'>
			    <label style="color:red;" id="errormsg"></label>
			    {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" name='username' id="username" placeholder="Enter your username" />
                            </div>
                            <div class="form-group">
                                <label for="password">password</label>
                                <input type="password" class="form-control" name='passwd' id="passwd" placeholder="Enter your password" />
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <!-- <div class="form-group">
                                <div class="check-input">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal-passwprd">Forgot Password?</a>
                                </div>
                            </div> -->
                            <div class="form-group">
                                <button type="button" value="submit" name="" class="btn btn-slider" onclick="javascript:dologin();">Log in</button>
                            </div>
                            <div class="form-group">
                                <p class="or text-center">or</p>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-apple" aria-hidden="true"></i> Continue with Apple</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-google" aria-hidden="true"></i> Continue with Google</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-facebook" aria-hidden="true"></i> Continue with Facebook</a>
                            </div>
                            <div class="form-group text-center">
                                <p>Don't have an account? <a href="javascript:void(0)" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal-signup">Sign up</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign in Modal -->
    <!-- Sign in Modal -->
    <div class="modal fade z-index signup-modal" id="exampleModal-passwprd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-passwprd" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-logo">
                        <a href="index.html">
                            <img src="/static/images/logo1.png" alt="" class="img-fluid" width="150" />
                        </a>
                    </div>
                    <button type="button" class="close close-modals" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-head">
                        <h3>Reset your password</h3>
                    </div>
                    <div class="modal-form">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="email">password</label>
                                <input type="text" class="form-control" id="password" placeholder="Enter a password" />
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <div class="form-group">
                                <button type="submit" value="submit" name="" class="btn btn-slider">Send me reset instructions</button>
                            </div>
                            <div class="form-group text-center">
                                <p>Don’t need to reset?  <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal-login">login</a> or <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal">Sign up</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign in Modal -->
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/login/index/" class="logo">
                            <!-- <img src="/static/images/logo1.png"> -->
			    ARTBIDDER
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                         <!-- <li class="scroll-to-section"><a href="/gallery/index/">Galleries</a></li>
			 <li class="scroll-to-section"><a href="/museum/index/">Museums</a></li> -->
                         <li class="scroll-to-section"><a href="/login/dashboard/">Dashboard</a></li>
			 <li class="scroll-to-section"><a href="/artist/index/">Artists</a></li>
			 <li class="scroll-to-section"><a href="/auctionhouse/index/">Auction Houses</a></li>
			 <li class="scroll-to-section"><a href="/auction/index/">Auctions</a></li>
			 <li class="scroll-to-section"><a href="/price/database/">Price Database</a></li>
                         <li class="scroll-to-section"><a href="/price/plans/">Plans</a></li>

			 {% if not user.is_authenticated %}
			    <li><button type="button" class="btn btn-info btn-round" data-toggle="modal" data-target="#exampleModal-login" aria-controls="exampleModal-login">Login</button></li>
			{% else %}
			    <li><a href="/login/logout/">Logout</a></li>
			{% endif %}

			    <!-- <li><a class="nav-link" id="Login-tab" data-toggle="modal" href="#exampleModal-signup" role="tab" aria-controls="exampleModal-signup" aria-selected="false">Sign up</a></li> -->
				
			    <!-- <li><a class="nav-link" id="Login-tab" data-toggle="modal" href="#exampleModal-login" role="tab" aria-controls="exampleModal-login" aria-selected="false">Login</a></li> -->

                            <!--<li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li>-->
                            
                            
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <!--
	<div id="Top-owl-carousel" class="owl-carousel owl-theme">
		<div class="item"><img src="/static/images/slider-bg-1.jpg" class="img-fluid" alt=""><div class="slide-cap"><h2>Aliquam tincidunt dolor</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit. Fusce facilisis</p><a class="btn btn-slider" href="#">Explore</a></div></div>
		<div class="item"><img src="/static/images/slider-bg-2.jpg" class="img-fluid" alt=""><div class="rit-cap"><h2>Phasellus placerat</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit. Fusce facilisis</p><a class="btn btn-slider" href="#">Explore</a></div></div>
		<div class="item"><img src="/static/images/slider-bg-3.jpg" class="img-fluid" alt=""><div class="slide-cap"><h2>Maecenas molestie</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit. Fusce facilisis</p><a class="btn btn-slider" href="#">Explore</a></div></div>
		
	</div>
    -->


<!-- ------------------------------------------------------------------------------------------  -->

   	<!-- Carousel -->
    <section class="testimonials" style='display:block;padding-top:100px;margin-top:20;'>
     <div class="container">
      <div class="row">
        <!-- <div class="col-sm-12">
          <div id="customers-testimonials" class="owl-carousel owl-theme">
	    {% for d in carousel %}
            <div class="item">
              <div class="shadow-effect">
                <img class="img-responsive" src="{{d.artworkimage}}" alt="">
                <div class="item-details">
			<a class="btn btn-slider" href="/artist/artworkdetails/?awid={{d.artworkid}}">
			<h5>{{d.artworkname}}</h5>
			<p>{{d.medium}}</p>
			</a>
		</div>
              </div>
            </div>
	    {% endfor %}
          </div>
        </div> -->
      </div>
     </div>
    </section>
    <!-- END OF Carousels -->

    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Main Area Starts ***** -->
    <!-- ***** Explore Area Ends ***** -->
    

    {% if favourites.items|length > 0 %}
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center">
                        <h2>My Favourites</h2>
                        <!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> -->
						<hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
			<div class="row align-items-end">
			{% for favname, favdata in favourites.items %}
		        <div class="column">
		            <div class="img-box">
				{% if favdata.0 == "artist" %}
				<a href="/artist/details/?aid={{favdata.3}}"><img src="{{favdata.1}}" alt=""></a>
		                <a href="/artist/details/?aid={{favdata.3}}" style="color:#000000;">
					<h4>{{favname}}</h4>
					<h6>{{favdata.2}}</h6>
					<!-- <h6>{{favdata.4}}</h6> -->
				</a>
				{% if adminuser == 1 %}
				    <div><a style="color:#000000;bgcolor:#ffffff;padding-left:10px;" href='#adminScreen' onClick="javascript:t_editmuseum('{{favdata.3}}');">Edit</a></div>
				{% endif %}
				{% endif %}
				{% if favdata.0 == "artwork" %}
				<a href="/artist/artworkdetails/?awid={{favdata.5}}"><img src="{{favdata.1}}" alt=""></a>
		                <a href="/artist/artworkdetails/?awid={{favdata.5}}" style="color:#000000;">
					<h4>{{favname}}</h4>
					<h6>{{favdata.4}}</h6>
					<h6>{{favdata.3}}</h6>
				</a>
				{% if adminuser == 1 %}
				    <div><a style="color:#000000;bgcolor:#ffffff;padding-left:10px;" href='#adminScreen' onClick="javascript:t_editartwork('{{favdata.3}}');">Edit</a></div>
				{% endif %}
				{% endif %}
				{% if favdata.0 == "auction" %}
				<a href="/auction/showauction/?aucid={{favdata.3}}"><img src="{{favdata.4}}" alt=""></a>
		                <a href="/auction/showauction/?aucid={{favdata.3}}" style="color:#000000;">
					<h4>{{favname}}</h4>
					<h6>{{favdata.1}}</h6>
					<h6>{{favdata.2}}</h6>
				</a>
				{% if adminuser == 1 %}
				    <div><a style="color:#000000;bgcolor:#ffffff;padding-left:10px;" href='#adminScreen' onClick="javascript:t_editauction('{{favdata.3}}');">Edit</a></div>
				{% endif %}
				{% endif %}
		            </div>
		        </div>
			{% endfor %}
		    	</div>
			<!--
                        <div class="owl-men-item owl-carousel">
                            {% for ename, edata in events.items %}
                            <div class="item">
                                <div class="thumb">
                                    <a href="/gallery/eventdetails/?gevid={{edata.3}}"><img src="{{edata.4}}" alt=""></a>
                                </div>
                                <div class="down-content">
									<a href="/gallery/eventdetails/?gevid={{edata.3}}">
										<h4>{{ename}}</h4>
										<span>{{edata.1}}</span>
										<span>{{edata.2}}</span>
									</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
			-->
			<div class="container">
			    <div class="row">
			    	<div class="col-lg-12">
				    <a class="btn btn-slider" href="/login/morefavourites/">View More</a>
			    	</div>
			    </div>
			</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!-- ***** Men Area Ends ***** -->
	<!-- ***** Explore Area Starts ***** -->
    <!-- <section class="section wrapper" id="explore">
        <div class="container">
			<div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center">
                        <h2>Market News</h2>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
						<hr>
                    </div>
                </div>
            </div>
		   <div class="row">
			  <div class="col-md-4">
				 <div class="card text-white card-has-bg click-col" style="background-image:url('/static/images/men-03.jpg');">
					<img class="card-img d-none" src="/static/images/men-03.jpg" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
					<div class="card-img-overlay d-flex flex-column">
					   <div class="card-body">
						  <small class="card-meta mb-2">Art Market</small>
						  <h4 class="card-title mt-0 "><a class="text-white" herf="#">This New Code of Conduct for Collectors Aims to Encourage More Ethical Art Buying</a></h4>
						  <small><i class="far fa-clock"></i> October 15, 2020</small>
					   </div>
					   <div class="card-footer">
						  <div class="media">
							
							 <div class="media-body">
								<h6 class="my-0 text-white d-block">By: Harley Wong</h6>
								
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
			  </div>
			  <div class="col-md-4">
				 <div class="card text-white card-has-bg click-col" style="background-image:url('/static/images/men-01.jpg');">
					<img class="card-img d-none" src="/static/images/men-01.jpg" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
					<div class="card-img-overlay d-flex flex-column">
					   <div class="card-body">
						  <small class="card-meta mb-2">Art</small>
						  <h4 class="card-title mt-0 "><a class="text-white" herf="#">An-My Lê’s Ghostly Photographs Capture the Complex Consequences of War</a></h4>
						  <small><i class="far fa-clock"></i> October 25, 2020</small>
					   </div>
					   <div class="card-footer">
						  <div class="media">
							
							 <div class="media-body">
								<h6 class="my-0 text-white d-block">By: Leah Gallant</h6>
								
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
			  </div>
			  
			  <div class="col-md-4">
				 <div class="card text-white card-has-bg click-col" style="background-image:url('/static/images/men-03.jpg');">
					<img class="card-img d-none" src="/static/images/men-03.jpg" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
					<div class="card-img-overlay d-flex flex-column">
					   <div class="card-body">
						  <small class="card-meta mb-2">Art Market</small>
						  <h4 class="card-title mt-0 "><a class="text-white" herf="#">This New Code of Conduct for Collectors Aims to Encourage More Ethical Art Buying</a></h4>
						  <small><i class="far fa-clock"></i> October 15, 2020</small>
					   </div>
					   <div class="card-footer">
						  <div class="media">
							
							 <div class="media-body">
								<h6 class="my-0 text-white d-block">By: Harley Wong</h6>
								
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
			  </div>
		   </div>
		</div>
		<div class="btn-box text-center">
			<a class="btn btn-slider" href="#">Explore</a>
		</div>
    </section> -->
	
    <section class="section" id="women">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center">
                        <h2>Trending Artists</h2>
                        <!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> -->
						<hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
			<div class="row align-items-end">
			{% for aname, adata in artists.items %}
		        <div class="column">
		            <div class="img-box">
				<a href="/artist/details/?aid={{adata.4}}"><img src="{{adata.2}}" alt=""></a>
		                <a href="/artist/details/?aid={{adata.4}}" style="color:#000000;">
					<h4>{{aname}}</h4>
					<h6>{{adata.3}}</h6>

				</a>
				{% if not user.is_authenticated %}
				<h6><a style="color:#000000;bgcolor:#ffffff;" data-toggle="modal" href="#exampleModal-login" aria-controls="exampleModal-login">Login to view</a></h6>
			        {% else %}
				<div id='statsview_2_{{forloop.counter}}'>
				<h6><a href='#/' style="color:#000000;bgcolor:#ffffff;" onclick="javascript:showstats({{adata.4}}, 'statsview_2_{{forloop.counter}}');">Show Stats</a></h6>
				</div>
				{% if adata.5 == 0 %}
				<div id='follow_2_{{forloop.counter}}'>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;" onclick="javascript:follow({{adata.4}}, 'follow_2_{{forloop.counter}}');">Follow</a></h6>
				</div>
				{% else %}
				<div id='follow_2_{{forloop.counter}}'>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;" onclick="javascript:unfollow({{adata.4}}, 'follow_2_{{forloop.counter}}');">Following</a></h6>
				</div>
				{% endif %}
				{% if adata.6 == 0 %}
				<div id='favourite_2_{{forloop.counter}}'>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;" onclick="javascript:addtofavourites('artist', {{adata.4}}, 'favourite_2_{{forloop.counter}}');">Add to Favourites</a></h6>
				</div>
				{% else %}
				<div id='favourite_2_{{forloop.counter}}'>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;">My Favourite</a></h6>
				</div>
				{% endif %}
			      {% endif %}
				{% if adminuser == 1 %}
				    <div><a style="color:#000000;bgcolor:#ffffff;padding-left:10px;" href='#adminScreen' onClick="javascript:t_editartist('{{adata.4}}');">Edit</a></div>
				{% endif %}
		            </div>
		        </div>
			{% endfor %}
		    	</div>

			<!--
                        <div class="owl-men-item owl-carousel">
                            {% for aname, adata in artists.items %}
                            <div class="item">
                                <div class="thumb">
                                    <a href="/artist/details/?aid={{adata.4}}"><img src="{{adata.2}}" alt=""></a>
                                </div>
                                <div class="down-content">
									<a href="/artist/details/?aid={{adata.4}}">
										<h4>{{aname}}</h4>
										<span>{{adata.3}}</span>

									</a>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
			-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center">
                        <h2>Auction Houses</h2>
                        <!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> -->
						<hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            {% for aucdata in auctionhouses %}
                            <div class="item">
                                <div class="thumb">
                                    <a href="/auctionhouse/details/?aucid={{aucdata.aucid}}"><img src="{{aucdata.coverimage}}" alt=""></a>
                                </div>
                                <div class="down-content">
					<a href="/auctionhouse/details/?aucid={{aucdata.aucid}}" style="color:#000000;">
						<h4>{{aucdata.housename}}</h4>
						<h6>{{aucdata.location}}</h6>
						<h6>{{aucdata.description}}</h6>
					</a>
					{% if adminuser == 1 %}
					    <div><a style="color:#000000;bgcolor:#ffffff;padding-left:10px;" href='#adminScreen' onClick="javascript:t_editauctionhouse('{{aucdata.aucid}}');">Edit</a></div>
					{% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center">
                        <h2>Upcoming Auctions</h2>
                        <!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> -->
						<hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
			<div class="row align-items-end">
			{% for aucname, aucdata in upcomingauctions.items %}
		        <div class="column">
		            <div class="img-box">
				<a href="/auction/details/?lid={{aucdata.lid}}"><img src="{{aucdata.coverimage}}" alt=""></a>
		                <a href="/auction/details/?lid={{aucdata.lid}}" style="color:#000000;">
					<h4>{{aucname}}</h4>
					<h6>{{aucdata.description}}</h6>
				</a>
				{% if not user.is_authenticated %}
				<h6><a style="color:#000000;bgcolor:#ffffff;" data-toggle="modal" href="#exampleModal-login" aria-controls="exampleModal-login">Login to view</a></h6>
			        {% else %}
				{% if aucdata.favourite == 0 %}
				<div id='favourite_auc_{{forloop.counter}}'>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;" onclick="javascript:addtofavourites('auction', {{aucdata.aucid}}, 'favourite_auc_{{forloop.counter}}');">Add to Favourites</a></h6>
				</div>
				{% else %}
				<div id='favourite_auc_{{forloop.counter}}'>
				<h6><a href="#/" style="color:#000000;bgcolor:#ffffff;">My Favourite</a></h6>
				</div>
				{% endif %}
			        {% endif %}
				<a class="btn btn-slider" href="{{aucdata.auctionurl}}">Visit</a>
				{% if adminuser == 1 %}
				    <div><a style="color:#000000;bgcolor:#ffffff;padding-left:10px;" href='#adminScreen' onClick="javascript:t_editauction('{{aucdata.aucid}}');">Edit</a></div>
				{% endif %}
		            </div>
		        </div>
			{% endfor %}
		        
		    	</div>
			<!--
                        <div class="owl-men-item owl-carousel">
                            {% for aucname, aucdata in upcomingauctions.items %}
                            <div class="item">
                                <div class="thumb">
                                    <a href="/auction/details/?lid={{aucdata.lid}}"><img src="{{aucdata.coverimage}}" alt=""></a>
                                </div>
                                <div class="down-content">
					<a href="/auction/details/?lid={{aucdata.lid}}">
						<h4>{{aucname}}</h4>
						<span>{{aucdata.description}}</span>
					</a>
					<a class="btn btn-slider" href="{{aucdata.auctionurl}}">Visit</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="adminScreen">
	  <a href="#" class="cancel">×</a>
	  <form name='frmedit' id='frmedit'>
	    {% csrf_token %}
          </form>
      </div>
      <div id="cover" >
      </div>

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="/static/images/logo-white.png" alt="">
                        </div>
                        <ul>
                            <li><a href="#">1234 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                            <li><a href="#">demo@company.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                 <div class="col-lg-3">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/auctionhouse/index/">Featured Auction Houses</a></li>
                        <li><a href="/login/index/">Home</a></li>
                        <li><a href="/auction/index/">Current Auctions</a></li>
                        <li><a href="/artist/index/">Trending Artists</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="/about/">About Us</a></li>
                        <li><a href="/gallery/index/">Galleries</a></li>
                        <li><a href="/museum/index/">Museums</a></li>
                        <li><a href="/contactus/">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="/faq/">FAQ's</a></li>
                        <li><a href="/termsofuse/">Terms of Use</a></li>
                        <li><a href="/privacy/">Privacy Policy</a></li>
                        <li><a href="/security/">Security</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022. All Rights Reserved.
                       
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="/static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/js/owl-carousel.js"></script>
    <script src="/static/js/accordions.js"></script>
    <script src="/static/js/datepicker.js"></script>
    <script src="/static/js/scrollreveal.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/imgfix.min.js"></script> 
    <script src="/static/js/slick.js"></script> 
    <script src="/static/js/lightbox.js"></script> 
    <script src="/static/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="/static/js/custom.js"></script>
	
	<script>
jQuery(document).ready(function($) {
"use strict";
$('#customers-testimonials').owlCarousel( {
		loop: true,
		center: true,
		items: 3,
		margin: 5,
		autoplay: true,
		dots:true,
    		nav:true,
		autoplayTimeout: 8500,
		smartSpeed: 450,
  		navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
		responsive: {
			0: {
				items: 1
			},
			768: {
				items: 2
			},
			1170: {
				items: 3
			}
		}
	});
});

	</script>
    <script>
		
        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>
