<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>ArtBidder Plans</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/owl-carousel.css">
    <link rel="stylesheet" href="/static/css/lightbox.css">
    <link rel="stylesheet" href="/static/css/jquery.dropdown.min.css">

    <link rel="stylesheet" href="/static/css/newcarousel.css">
    <link rel="stylesheet" href="/static/css/autocomplete.css">

    <style>
	.owl-prev, .owl-next {
        width: 15px;
        height: 100px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block !important;
        border:0px solid black;
    }
    .owl-prev { left: -20px; }
    .owl-next { right: -20px; }
    .owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}
 
    </style>
    <style>
    #frmsearchauctions input[type=search]{width:430px !important;}
    </style>

<!--

TemplateMo 571 Hexashop

https://templatemo.com/tm-571-hexashop

-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <style type="text/css">
    .button
    {
      width: 150px;
      padding: 10px;
      background-color: #FF8C00;
      box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
      font-weight:bold;
      text-decoration:none;
    }
    #cover{
      position:fixed;
      top:0;
      left:0;
      background:rgba(0,0,0,0.6);
      z-index:5;
      width:100%;
      height:100%;
      display:none;
    }
    #adminScreen
    {
      height:680px;
      width:640px;
      margin:0 auto;
      position:relative;
      z-index:10;
      display:none;
      background: url(login.png) no-repeat;
      border:5px solid #cccccc;
      border-radius:10px;
    }
    #adminScreen:target, #adminScreen:target + #cover{
      display:block;
      opacity:2;
    }
    .cancel
    {
      display:block;
      position:absolute;
      top:3px;
      right:2px;
      background:rgb(245,245,245);
      color:black;
      height:30px;
      width:35px;
      font-size:30px;
      text-decoration:none;
      text-align:center;
      font-weight:bold;
    }
    </style>

    <style>
    td div:nth-of-type(odd) {
      background: #e0e0e0;
    }
    td div:nth-of-type(even) {
      background: #FFFFFF;
    }
    </style>

    <script src="/static/js/editfromfront.js"></script>
    <script src="/static/js/eolicoauth.js"></script>
    <script src="/static/js/autocomplete.js"></script>

    
    </head>
    
    <body>

    <!-- Sign up Modal -->
    <div class="modal fade z-index signup-modal" id="exampleModal-signup" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-logo">
                        <a href="index.html">
                            <img src="/static/images/logo1.png" alt="" class="img-fluid" width="150" />
                        </a>
                    </div>
                    <button type="button" class="close close-modals" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-head">
                        <h3>Sign up to see full auction records — for free</h3>
                    </div>
                    <div class="modal-form">
                        <form method="post" action="/login/registration/" name="frmsignup" id="frmsignup">
			    <label style="color:red;" id="errormsg"></label>
			    {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Username</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your full name" />
                            </div>
                            <div class="form-group">
                                <label for="emailid">Email</label>
                                <input type="text" class="form-control" id="emailid" name="emailid" placeholder="Enter your email address" />
                            </div>
                            <div class="form-group">
                                <label for="password1">Password</label>
                                <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter a password" />
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <p>Password must be at least 8 characters.</p>
                            </div>
			    <div class="form-group">
                                <label for="password2">Confirm Password</label>
                                <input type="password" class="form-control" id="password2" name="password2" placeholder="Re-type password" />
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <div class="form-group">
                                <div class="check-input">
                                    <span>
                                        <input type="checkbox" name="agree" id="agree" value="" />
                                    </span>
                                    <p>I agree to the <a href="terms.html" target="_blank">Terms of Use</a>, <a href="privacy-policy.html" target="_blank">Privacy Policy</a>, <a href="conditions-of-sale.html" target="_blank">Conditions of Sale</a>  and to receiving emails from ArtBidder.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" value="signup" name="btnsignup" class="btn btn-slider" onclick="javascript:doregister();">Sign up</button>
                            </div>
			    <!--
                            <div class="form-group">
                                <p class="or text-center">or</p>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-apple" aria-hidden="true"></i> Continue with Apple</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-google" aria-hidden="true"></i> Continue with Google</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-facebook" aria-hidden="true"></i> Continue with Facebook</a>
                            </div>
			    -->
                            <div class="form-group text-center">
                                <p>Already have an account? <a href="javascript:void(0)" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal-login">Log In</a></p>
                            </div>
                            <div class="form-group text-center">
                                <p>This site is protected by reCAPTCHA and the Google <a href="privacy-policy.html">Privacy Policy</a> and <a href="terms.html">Terms of Service</a> apply.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign up Modal -->
    <!-- Sign in Modal -->
    <div class="modal fade z-index signup-modal" id="exampleModal-login" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel-login" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-logo">
                        <a href="index.html">
                            <img src="/static/images/logo1.png" alt="" class="img-fluid" width="150" />
                        </a>
                    </div>
                    <button type="button" class="close close-modals" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-head">
                        <h3>Login</h3>
                    </div>
                    <div class="modal-form">
                        <form method="post" action='/login/dologin/' name='frmlogin' id='frmlogin'>
			    <label style="color:red;" id="errormsg"></label>
			    {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" name='username' id="username" placeholder="Enter your username" />
                            </div>
                            <div class="form-group">
                                <label for="password">password</label>
                                <input type="password" class="form-control" name='passwd' id="passwd" placeholder="Enter your password" />
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <!-- <div class="form-group">
                                <div class="check-input">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal-passwprd">Forgot Password?</a>
                                </div>
                            </div> -->
                            <div class="form-group">
                                <button type="button" value="submit" name="" class="btn btn-slider" onclick="javascript:dologin();">Log in</button>
                            </div>
                            <div class="form-group">
                                <p class="or text-center">or</p>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-apple" aria-hidden="true"></i> Continue with Apple</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-google" aria-hidden="true"></i> Continue with Google</a>
                            </div>
                            <div class="form-group">
                                <a class="btn btn-slider"><i class="fa fa-facebook" aria-hidden="true"></i> Continue with Facebook</a>
                            </div>
                            <div class="form-group text-center">
                                <p>Don't have an account? <a href="javascript:void(0)" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal-signup">Sign up</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign in Modal -->
    <!-- Sign in Modal -->
    <div class="modal fade z-index signup-modal" id="exampleModal-passwprd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-passwprd" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-logo">
                        <a href="index.html">
                            <img src="/static/images/logo1.png" alt="" class="img-fluid" width="150" />
                        </a>
                    </div>
                    <button type="button" class="close close-modals" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-head">
                        <h3>Reset your password</h3>
                    </div>
                    <div class="modal-form">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="email">password</label>
                                <input type="text" class="form-control" id="password" placeholder="Enter a password" />
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <div class="form-group">
                                <button type="submit" value="submit" name="" class="btn btn-slider">Send me reset instructions</button>
                            </div>
                            <div class="form-group text-center">
                                <p>Don’t need to reset?  <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal-login">login</a> or <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal">Sign up</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign in Modal -->
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/login/index/" class="logo">
                            <img src="/static/images/logo1.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <!-- <li class="scroll-to-section"><a href="/gallery/index/">Galleries</a></li>
			    <li class="scroll-to-section"><a href="/museum/index/">Museums</a></li> -->
			    <li class="scroll-to-section"><a href="/artist/index/">Artists</a></li>
			    <li class="scroll-to-section"><a href="/auctionhouse/index/">Auction Houses</a></li>
			    <li class="scroll-to-section"><a href="/auction/index/">Auctions</a></li>
			    <li class="scroll-to-section"><a href="/price/database/">Price Database</a></li>
                            <li class="scroll-to-section"><a href="/price/plans/" class="active">Plans</a></li>
			{% if not user.is_authenticated %}
			    <li><button type="button" class="btn btn-info btn-round" data-toggle="modal" data-target="#exampleModal-login" aria-controls="exampleModal-login">Login</button></li>
			{% else %}
			    <li><a href="/login/logout/">Logout</a></li>
			{% endif %}

			    <!-- <li><a class="nav-link" id="Login-tab" data-toggle="modal" href="#exampleModal-signup" role="tab" aria-controls="exampleModal-signup" aria-selected="false">Sign up</a></li> -->
				
			    <!-- <li><a class="nav-link" id="Login-tab" data-toggle="modal" href="#exampleModal-login" role="tab" aria-controls="exampleModal-login" aria-selected="false">Login</a></li> -->

                            <!--<li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li>-->
                            
                            
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    
   	<!-- Carousel -->
    <section class="testimonials">
     <div class="container">
      <!-- <div class="row">
        <div class="col-sm-12">
          <div id="customers-testimonials" class="owl-carousel owl-theme">
	    {% for d in carousel %}
            <div class="item">
              <div class="shadow-effect">
                <img class="img-responsive" src="{{d.artworkimage}}" alt="" style='width:300px;height:100px;'>
                <div class="item-details">
			<a class="btn btn-slider" href="/artist/artworkdetails/?awid={{d.artworkid}}">
			<h5>{{d.artworkname}}</h5>
			<p>{{d.medium}}</p>
			</a>
		</div>
              </div>
            </div>
	    {% endfor %}
          </div>
        </div>
      </div> -->
     </div>
    </section>
    <!-- END OF Carousels -->
    <section class="section gal-section" id="searchsitesection" style='width:1400px;'>
      	
	<div class="container">
	    <div class="row">
                  <div class="col-lg-12 text-center">
                      <div class="section-heading text-justify">
			<h2>ARTBIDER</h2>
		      </div>
		  </div>
	    </div>
	
	    <div class="row align-items-end">
                  <div class="d-lg-block text-justify" style="max-width: 1400px;padding-left:20px;padding-right:30px;">
                      Artbider is one of the fastest emerging online service of the auction market for fine art, antiques and collectibles. Artbider offers access to more than 10 millions auctioned records, dating back to 1970. Our team of fine art specialists, art historians and worlds best art data analyst working hard to compile the most up-to-date and precise Art Market information.
		  </div>
	    </div>
	</div>
    </section>
    <!-- ***** Main Banner Area End ***** -->


	<section class="section gal-section" id="" style='width:1400px;'>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading text-justify" id='sectionheaderdiv'>
                        <h2>ArtBidder Offers</h2>
			<hr>
                    </div>
                </div>
            </div>
            <div class="row align-items-end" id="offers">
                <div class="d-lg-block text-justify" style="max-width: 1400px;padding-left:20px;padding-right:30px;">
                      <label style='font-weight:bold;font-size:larger;'>Price Database - </label> Artbider offers a keyword-search to our comprehensive price database of over 10 million auctioned records with classified details – Title, Categories, Medium, Artwork Dates etc. You can access more than 500,000 artists records, with images, bio’s and art genre. Artbider covers more than 1000 top auction houses globally.
		</div>
            </div>
	    <br/>
	    <div class="row align-items-end" id="offers">
                <div class="d-lg-block text-justify" style="max-width: 1400px;padding-left:20px;padding-right:30px;">
                      <label style='font-weight:bold;font-size:larger;'>Market Alerts - </label> We send daily alerts of your favourite artists on their upcoming artworks and events.
You will not be missing any of your favourite Auctions and Events now.
		</div>
            </div>
	    <br/>
	    <div class="row align-items-end" id="offers">
                <div class="d-lg-block text-justify" style="max-width: 1400px;padding-left:20px;padding-right:30px;">
                      <label style='font-weight:bold;font-size:larger;'>Latest Art Market Updates - </label> Artbider keeps you ahead with the latest art market updates – Upcoming Auctions, News and Events.
		</div>
            </div>
            <br/>
	    <div class="row align-items-end" id="offers">
                <div class="d-lg-block text-justify" style="max-width: 1400px;padding-left:20px;padding-right:30px;">
                      <label style='font-weight:bold;font-size:larger;'>Collection Management - </label> Add and save your favourite artworks and artists to your collection. Artbider allows you to build and manage your own collection of your favourite Artworks, Artists and Auctions.
		</div>
            </div>
            <br/>
	    <div class="row align-items-end" id="offers">
                <div class="d-lg-block text-justify" style="max-width: 1400px;padding-left:20px;padding-right:30px;">
                      <label style='font-weight:bold;font-size:larger;'>Artist Insights - </label> Get the insights of your favourite artist annual performance – total lots sold, average sold price, selling rate and more to make better and precise decisions.
		</div>
            </div>
        </div>

	
	<!-- Begining of new auctions gallery -->
	<div>
	<section class="oth-works mrt-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading text-justify" id='sectionheaderdiv'>
                        <h2>Pocket Friendly Subscription Plans</h2>
			<hr>
                    </div>
                </div>
            </div>
            <div class="row align-items-end" id="offers">
                <div class="d-lg-block text-justify" style="max-width: 1400px;padding-left:20px;padding-right:30px;">
                      <ul class="entry-content"><li>Artbider offers you the most cost effective subscription plans amongst the other art databases.</li> </ul>
		</div>
            </div>
	    <br/>
	    <div class="row align-items-end" id="offers">
                <div class="d-lg-block text-justify" style="max-width: 1400px;padding-left:20px;padding-right:30px;">
                      <ul class="entry-content"><li>Special pricing plans starting from $99 (anual) for Art Institutions and Art Organizations.</li> </ul>
		</div>
            </div>
	    <br/>
	    <div class="row align-items-end" id="offers">
                <div class="d-lg-block text-justify" style="max-width: 1400px;padding-left:20px;padding-right:30px;">
                      <ul class="entry-content"><li><b>Special Launch Offer</b> – First 50 users will get 50% Off on our annual subscription, Use code FIRST50 (limited period offer)</li> </ul>
		</div>
            </div>
	    <br/>
        </div>
      </div>

      <div class="container">
      <div class="row">
      
	<table id="newtable" class="table table-bordered table-striped fixedtable">
	    <thead>
		<th><label style='font-weight:bold;font-size:larger;padding-left:10px;padding-right:10px;'>Basic</label></th>
		<th><label style='font-weight:bold;font-size:larger;padding-left:10px;padding-right:10px;'>Premium</label></th>
	    </thead>
	    <tbody>
		<tr>
		    <td>                
		        <ul class="entry-content"><li>&#9642; Unlimited Searches</li><li>&#9642; Artwork Details & Images</li><li>&#9642; Auction Results</li><li>&#9642; Upcoming Auctions</li></ul>                           
		    </td>
		    <td>
			<ul class="entry-content"><li>&#9642; Unlimited Searches</li><li>&#9642; Artwork Details & Images</li><li>&#9642; Auction Results</li><li>&#9642; Upcoming Auctions</li><li>&#9642; Market Alerts</li><li>&#9642; Artist Insights</li><li>&#9642; Collection Management</li></ul>
		    </td>
		</tr>

		<tr>
		    <td>                
		        <div>One day pass - $5.00</div>                        
		    </td>
		    <td>
			<div>One day pass - $9.00</div>
		    </td>
		</tr>

		<tr>
		    <td>                
		        <div>Monthly Subscription - $20.00</div>                       
		    </td>
		    <td>
			<div>Monthly Subscription - $29.00</div>
		    </td>
		</tr>

		<tr>
		    <td>                
		        <div>Annual Subscription - <strike>$240.00</strike> &nbsp;&nbsp;$149.00 (save 38%)</div>            
		    </td>
		    <td>
			<div>Annual Subscription - <strike>$348.00</strike> &nbsp;&nbsp;$199.00 (save 43%)</div>
		    </td>
		</tr>
	    </tbody>    
	</table> 
      
      </div>
      </div>
    </section>
    	
	<!-- <div class="container">
	    <div class="row">
	    	<div class="col-lg-12">
		    <a class="btn btn-slider" href="/auction/moreauctions/?atype=0">View More</a>
	    	</div>
	    </div>
	</div> -->
	
	<!-- End of new auctions gallery -->
	
	<!-- <div class="container">
	    <div class="row">
	    	<div class="col-lg-12">
		    <a class="btn btn-slider" href="/auction/moreauctions/?atype=1">View More</a>
	    	</div>
	    </div>
	</div> -->
    </section>
    </div>


    <div id="adminScreen">
	  <a href="#" class="cancel">×</a>
	  <form name='frmedit' id='frmedit'>
	    {% csrf_token %}
          </form>
      </div>
      <div id="cover" >
      </div>
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="/static/images/logo-white.png" alt="">
                        </div>
                        <ul>
                            <li><a href="#">1234 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                            <li><a href="#">demo@company.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                 <div class="col-lg-3">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/auctionhouse/index/">Featured Auction Houses</a></li>
                        <li><a href="/login/index/">Home</a></li>
                        <li><a href="/auction/index/">Current Auctions</a></li>
                        <li><a href="/artist/index/">Trending Artists</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="/about/">About Us</a></li>
                        <li><a href="/gallery/index/">Galleries</a></li>
                        <li><a href="/museum/index/">Museums</a></li>
                        <li><a href="/contactus/">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="/faq/">FAQ's</a></li>
                        <li><a href="/termsofuse/">Terms of Use</a></li>
                        <li><a href="/privacy/">Privacy Policy</a></li>
                        <li><a href="/security/">Security</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022. All Rights Reserved.</p>
                       
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="/static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/js/owl-carousel.js"></script>
    <script src="/static/js/accordions.js"></script>
    <script src="/static/js/datepicker.js"></script>
    <script src="/static/js/scrollreveal.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/imgfix.min.js"></script> 
    <script src="/static/js/slick.js"></script> 
    <script src="/static/js/lightbox.js"></script> 
    <script src="/static/js/isotope.js"></script> 
    <script src="/static/js/jquery.dropdown.min.js"></script> 
    
    <!-- Global Init -->
    <script src="/static/js/custom.js"></script>

    <script>
    function openNav() {
  	document.getElementById("mySidebar").style.width = "350px";
  	//document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
  	document.getElementById("mySidebar").style.width = "0";
  	document.getElementById("main").style.marginLeft= "0";
    }
    </script>
	
	<script>
	/*https://www.jqueryscript.net/demo/Searchable-Multi-select-jQuery-Dropdown/*/
	$('.demo').dropdown({
		limitCount: 1,
		input:'<input type="text" maxLength="20" placeholder="Search">'
	});

jQuery(document).ready(function($) {
"use strict";
$('#customers-testimonials').owlCarousel( {
		loop: true,
		center: true,
		items: 3,
		margin: 30,
		autoplay: true,
		dots:true,
    		nav:true,
		autoplayTimeout: 8500,
		smartSpeed: 450,
  		navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
		responsive: {
			0: {
				items: 1
			},
			768: {
				items: 2
			},
			1170: {
				items: 3
			}
		}
	});
});
	</script>
    <script>
		
        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>
