<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Eolico</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">

    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/owl-carousel.css">

    <link rel="stylesheet" href="/static/css/lightbox.css">
    <link rel="stylesheet" href="/static/css/jquery.dropdown.min.css">

    <script type='text/javascript'>

      function removeItemOnce(arr, value) {
        var index = arr.indexOf(value);
        if (index > -1) {
          arr.splice(index, 1);
        }
        return arr;
      }

      function filter(ftype, fval, elid){
	const artworks = {
		{% for evname, valueslist in allartworks.items %}
		  "{{ evname }}" : [ 
			{% for val in valueslist %}
			   { 
			     {% for k, v in val.items %}
			     "{{k}}" : "{{v}}",
			     {% endfor %} 
			   }, 
			{% endfor %}
		  ],
		{% endfor %}
	};
	targetcheckbox = document.getElementById(elid);
        
        targetdiv = document.getElementById('allworks');
    	s1 = "";
	s2 = "";
	s3 = "";
	s4 = "";
	selections = {};
	artistslen = {{filterartists|length}};
        natlen = {{nationalities|length}};
        // Check which artists are selected
	selections['Artists'] = Array();
        for(actr=1; actr <= artistslen; actr++){
	  achkbox = document.getElementById("Artist" + actr);
	  if (achkbox.checked == true){
	    av = achkbox.value;
	    selections['Artists'].push(av);
	  }
	}
	// Check Medium selected
	selections['Medium'] = Array();
	for(dctr=1; dctr <= 6; dctr++){
	  dchkbox = document.getElementById('Medium' + dctr);
	  if (dchkbox.checked == true){
	    dv = dchkbox.value;
	    selections['Medium'].push(dv);
	  }
	}
	// Check Material selected
	selections['Material'] = Array();
	for(mctr=1; mctr <= 34; mctr++){
	  mchkbox = document.getElementById('Material' + mctr);
	  if (mchkbox.checked == true){
	    mv = mchkbox.value;
	    selections['Material'].push(mv);
	  }
	}
	// Check Size selected
	selections['Size'] = Array();
	for(zctr=1; zctr <= 3; zctr++){
	  zchkbox = document.getElementById('Size' + zctr);
	  if (zchkbox.checked == true){
	    zv = zchkbox.value;
	    selections['Size'].push(zv);
	  }
	}
	// Check Nationalities selected
	selections['Nationality'] = Array();
	for(nctr=1; nctr <= natlen; nctr++){
	  nchkbox = document.getElementById('nat' + nctr);
	  if (nchkbox.checked == true){
	    nv = nchkbox.value;
	    selections['Nationality'].push(nv);
	  }
	}
	// Check Color selected
	selections['Color'] = Array();
	for(cctr=1; cctr <= 3; cctr++){
	  cchkbox = document.getElementById('Color' + cctr);
	  if (cchkbox.checked == true){
	    cv = cchkbox.value;
	    selections['Color'].push(cv);
	  }
	}
	// Check Period selected
	selections['Period'] = Array();
	for(pctr=1; pctr <= 12; pctr++){
	  pchkbox = document.getElementById('Period' + pctr);
	  if (pchkbox.checked == true){
	    pv = pchkbox.value;
	    selections['Period'].push(pv);
	  }
	}
	if(targetcheckbox.checked == false){
	    // Logic for unchecked value here
	    l = selections[ftype];
	    v = targetcheckbox.value;
	    for(j=0; j < l.length; j++){
		if(l[j] == v){
		    l = removeItemOnce(l, v);
		}
	    }
	    selections[ftype] = l;
	}
	s1 += "<div class='column'>";
	s2 += "<div class='column'>";
 	s3 += "<div class='column'>";
	s4 += "<div class='column'>";
	if(targetcheckbox.checked == true){
	for(evname in artworks){
	  l = artworks[evname];
	  k = 0
	  for(var i=0; i < l.length; i++){
	    e = l[i];
	    if(ftype == "Artists" && fval.toLowerCase() == e.artistname.toLowerCase()){
	    if(k == 0){
	    s1 += "<div class='img-box'>";
	    s1 += "<img src='" + e.image + "' style='width:100%'>";
	    s1 += "<h4>" + e.artworkname + "</h4>";
	    s1 += "<h6>" + e.medium + "</h6>";
	    s1 += "<p>" + e.description + "</p>";
	    s1 += "</div>";
	    }
	    if(k == 1){
	    s2 += "<div class='img-box'>";
	    s2 += "<img src='" + e.image + "' style='width:100%'>";
	    s2 += "<h4>" + e.artworkname + "</h4>";
	    s2 += "<h6>" + e.medium + "</h6>";
	    s2 += "<p>" + e.description + "</p>";
	    s2 += "</div>";
	    }
	    if(k == 2){
	    s3 += "<div class='img-box'>";
	    s3 += "<img src='" + e.image + "' style='width:100%'>";
	    s3 += "<h4>" + e.artworkname + "</h4>";
	    s3 += "<h6>" + e.medium + "</h6>";
	    s3 += "<p>" + e.description + "</p>";
	    s3 += "</div>";
	    }
	    if(k == 3){
	    s4 += "<div class='img-box'>";
	    s4 += "<img src='" + e.image + "' style='width:100%'>";
	    s4 += "<h4>" + e.artworkname + "</h4>";
	    s4 += "<h6>" + e.medium + "</h6>";
	    s4 += "<p>" + e.description + "</p>";
	    s4 += "</div>";
	    }
	    k += 1;
	    if(k == 4){
		k = 0;
	    }
	    }
	    if(ftype == "Medium" && e.description.toLowerCase().includes(fval.toLowerCase())){
	    if(k == 0){
	    s1 += "<div class='img-box'>";
	    s1 += "<img src='" + e.image + "' style='width:100%'>";
	    s1 += "<h4>" + e.artworkname + "</h4>";
	    s1 += "<h6>" + e.medium + "</h6>";
	    s1 += "<p>" + e.description + "</p>";
	    s1 += "</div>";
	    }
	    if(k == 1){
	    s2 += "<div class='img-box'>";
	    s2 += "<img src='" + e.image + "' style='width:100%'>";
	    s2 += "<h4>" + e.artworkname + "</h4>";
	    s2 += "<h6>" + e.medium + "</h6>";
	    s2 += "<p>" + e.description + "</p>";
	    s2 += "</div>";
	    }
	    if(k == 2){
	    s3 += "<div class='img-box'>";
	    s3 += "<img src='" + e.image + "' style='width:100%'>";
	    s3 += "<h4>" + e.artworkname + "</h4>";
	    s3 += "<h6>" + e.medium + "</h6>";
	    s3 += "<p>" + e.description + "</p>";
	    s3 += "</div>";
	    }
	    if(k == 3){
	    s4 += "<div class='img-box'>";
	    s4 += "<img src='" + e.image + "' style='width:100%'>";
	    s4 += "<h4>" + e.artworkname + "</h4>";
	    s4 += "<h6>" + e.medium + "</h6>";
	    s4 += "<p>" + e.description + "</p>";
	    s4 += "</div>";
	    }
	    k += 1;
	    if(k == 4){
		k = 0;
	    }
	    }
	    if(ftype == "Material" && e.medium.toLowerCase().includes(fval.toLowerCase())){
	    if(k == 0){
	    s1 += "<div class='img-box'>";
	    s1 += "<img src='" + e.image + "' style='width:100%'>";
	    s1 += "<h4>" + e.artworkname + "</h4>";
	    s1 += "<h6>" + e.medium + "</h6>";
	    s1 += "<p>" + e.description + "</p>";
	    s1 += "</div>";
	    }
	    if(k == 1){
	    s2 += "<div class='img-box'>";
	    s2 += "<img src='" + e.image + "' style='width:100%'>";
	    s2 += "<h4>" + e.artworkname + "</h4>";
	    s2 += "<h6>" + e.medium + "</h6>";
	    s2 += "<p>" + e.description + "</p>";
	    s2 += "</div>";
	    }
	    if(k == 2){
	    s3 += "<div class='img-box'>";
	    s3 += "<img src='" + e.image + "' style='width:100%'>";
	    s3 += "<h4>" + e.artworkname + "</h4>";
	    s3 += "<h6>" + e.medium + "</h6>";
	    s3 += "<p>" + e.description + "</p>";
	    s3 += "</div>";
	    }
	    if(k == 3){
	    s4 += "<div class='img-box'>";
	    s4 += "<img src='" + e.image + "' style='width:100%'>";
	    s4 += "<h4>" + e.artworkname + "</h4>";
	    s4 += "<h6>" + e.medium + "</h6>";
	    s4 += "<p>" + e.description + "</p>";
	    s4 += "</div>";
	    }
	    k += 1;
	    if(k == 4){
		k = 0;
	    }
	    }
	    if(ftype == "Nationality" && e.artistnationality.toLowerCase().includes(fval.toLowerCase())){
	    if(k == 0){
	    s1 += "<div class='img-box'>";
	    s1 += "<img src='" + e.image + "' style='width:100%'>";
	    s1 += "<h4>" + e.artworkname + "</h4>";
	    s1 += "<h6>" + e.medium + "</h6>";
	    s1 += "<p>" + e.description + "</p>";
	    s1 += "</div>";
	    }
	    if(k == 1){
	    s2 += "<div class='img-box'>";
	    s2 += "<img src='" + e.image + "' style='width:100%'>";
	    s2 += "<h4>" + e.artworkname + "</h4>";
	    s2 += "<h6>" + e.medium + "</h6>";
	    s2 += "<p>" + e.description + "</p>";
	    s2 += "</div>";
	    }
	    if(k == 2){
	    s3 += "<div class='img-box'>";
	    s3 += "<img src='" + e.image + "' style='width:100%'>";
	    s3 += "<h4>" + e.artworkname + "</h4>";
	    s3 += "<h6>" + e.medium + "</h6>";
	    s3 += "<p>" + e.description + "</p>";
	    s3 += "</div>";
	    }
	    if(k == 3){
	    s4 += "<div class='img-box'>";
	    s4 += "<img src='" + e.image + "' style='width:100%'>";
	    s4 += "<h4>" + e.artworkname + "</h4>";
	    s4 += "<h6>" + e.medium + "</h6>";
	    s4 += "<p>" + e.description + "</p>";
	    s4 += "</div>";
	    }
	    k += 1;
	    if(k == 4){
		k = 0;
	    }
	    }
	    if(ftype == "Period"){
		if(e.artistbirthyear > 1800 && e.artistbirthyear < 1900){
	     	    if(k == 0){
		    s1 += "<div class='img-box'>";
		    s1 += "<img src='" + e.image + "' style='width:100%'>";
		    s1 += "<h4>" + e.artworkname + "</h4>";
		    s1 += "<h6>" + e.medium + "</h6>";
		    s1 += "<p>" + e.description + "</p>";
		    s1 += "</div>";
		    }
		    if(k == 1){
		    s2 += "<div class='img-box'>";
		    s2 += "<img src='" + e.image + "' style='width:100%'>";
		    s2 += "<h4>" + e.artworkname + "</h4>";
		    s2 += "<h6>" + e.medium + "</h6>";
		    s2 += "<p>" + e.description + "</p>";
		    s2 += "</div>";
		    }
		    if(k == 2){
		    s3 += "<div class='img-box'>";
		    s3 += "<img src='" + e.image + "' style='width:100%'>";
		    s3 += "<h4>" + e.artworkname + "</h4>";
		    s3 += "<h6>" + e.medium + "</h6>";
		    s3 += "<p>" + e.description + "</p>";
		    s3 += "</div>";
		    }
		    if(k == 3){
		    s4 += "<div class='img-box'>";
		    s4 += "<img src='" + e.image + "' style='width:100%'>";
		    s4 += "<h4>" + e.artworkname + "</h4>";
		    s4 += "<h6>" + e.medium + "</h6>";
		    s4 += "<p>" + e.description + "</p>";
		    s4 += "</div>";
		    }
		    k += 1;
		    if(k == 4){
			k = 0;
		    }
		}
	    }
	  } // end for i
	  
	} // for evname
	} // end if targetcheckbox.checked == true
  	k = 0;
	for(evname in artworks){
	    l = artworks[evname];
	    for(i=0; i < l.length; i++){
		e = l[i];
	        if(selections.hasOwnProperty('Artists')){
		    artistslist = selections['Artists'];
		    
		    for(ax=0; ax < artistslist.length; ax++){
		        a = artistslist[ax];
			if(a.toLowerCase() == e.artistname.toLowerCase()){
			    if(k == 0){
				s1 += "<div class='img-box'>";
			        s1 += "<img src='" + e.image + "' style='width:100%'>";
			        s1 += "<h4>" + e.artworkname + "</h4>";
			        s1 += "<h6>" + e.medium + "</h6>";
			        s1 += "<p>" + e.description + "</p>";
			        s1 += "</div>";
			    }
			    if(k == 1){
				s2 += "<div class='img-box'>";
			        s2 += "<img src='" + e.image + "' style='width:100%'>";
			        s2 += "<h4>" + e.artworkname + "</h4>";
			        s2 += "<h6>" + e.medium + "</h6>";
			        s2 += "<p>" + e.description + "</p>";
			        s2 += "</div>";
			    }
			    if(k == 2){
				s3 += "<div class='img-box'>";
			        s3 += "<img src='" + e.image + "' style='width:100%'>";
			        s3 += "<h4>" + e.artworkname + "</h4>";
			        s3 += "<h6>" + e.medium + "</h6>";
			        s3 += "<p>" + e.description + "</p>";
			        s3 += "</div>";
			    }
			    if(k == 3){
				s4 += "<div class='img-box'>";
			        s4 += "<img src='" + e.image + "' style='width:100%'>";
			        s4 += "<h4>" + e.artworkname + "</h4>";
			        s4 += "<h6>" + e.medium + "</h6>";
			        s4 += "<p>" + e.description + "</p>";
			        s4 += "</div>";
			    }
			    k = k + 1;
			    if(k == 4){
				k = 0;
			    }
			}
		    }
	        } // if hasOwnProperty
		if(selections.hasOwnProperty('Medium')){
		    mediumslist = selections['Medium'];
		    for(ax=0; ax < mediumslist.length; ax++){
			a = mediumslist[ax];
			if(e.description.toLowerCase().includes(a.toLowerCase())){
			    if(k == 0){
				s1 += "<div class='img-box'>";
			        s1 += "<img src='" + e.image + "' style='width:100%'>";
			        s1 += "<h4>" + e.artworkname + "</h4>";
			        s1 += "<h6>" + e.medium + "</h6>";
			        s1 += "<p>" + e.description + "</p>";
			        s1 += "</div>";
			    }
			    if(k == 1){
				s2 += "<div class='img-box'>";
			        s2 += "<img src='" + e.image + "' style='width:100%'>";
			        s2 += "<h4>" + e.artworkname + "</h4>";
			        s2 += "<h6>" + e.medium + "</h6>";
			        s2 += "<p>" + e.description + "</p>";
			        s2 += "</div>";
			    }
			    if(k == 2){
				s3 += "<div class='img-box'>";
			        s3 += "<img src='" + e.image + "' style='width:100%'>";
			        s3 += "<h4>" + e.artworkname + "</h4>";
			        s3 += "<h6>" + e.medium + "</h6>";
			        s3 += "<p>" + e.description + "</p>";
			        s3 += "</div>";
			    }
			    if(k == 3){
				s4 += "<div class='img-box'>";
			        s4 += "<img src='" + e.image + "' style='width:100%'>";
			        s4 += "<h4>" + e.artworkname + "</h4>";
			        s4 += "<h6>" + e.medium + "</h6>";
			        s4 += "<p>" + e.description + "</p>";
			        s4 += "</div>";
			    }
			    k = k + 1;
			    if(k == 4){
				k = 0;
			    }
			}
		    }
		} // if hasOwnProperty
		if(selections.hasOwnProperty('Material')){
		    materialslist = selections['Material'];
		    for(ax=0; ax < materialslist.length; ax++){
			a = materialslist[ax];
			if(e.medium.toLowerCase().includes(a.toLowerCase())){
			    if(k == 0){
				s1 += "<div class='img-box'>";
			        s1 += "<img src='" + e.image + "' style='width:100%'>";
			        s1 += "<h4>" + e.artworkname + "</h4>";
			        s1 += "<h6>" + e.medium + "</h6>";
			        s1 += "<p>" + e.description + "</p>";
			        s1 += "</div>";
			    }
			    if(k == 1){
				s2 += "<div class='img-box'>";
			        s2 += "<img src='" + e.image + "' style='width:100%'>";
			        s2 += "<h4>" + e.artworkname + "</h4>";
			        s2 += "<h6>" + e.medium + "</h6>";
			        s2 += "<p>" + e.description + "</p>";
			        s2 += "</div>";
			    }
			    if(k == 2){
				s3 += "<div class='img-box'>";
			        s3 += "<img src='" + e.image + "' style='width:100%'>";
			        s3 += "<h4>" + e.artworkname + "</h4>";
			        s3 += "<h6>" + e.medium + "</h6>";
			        s3 += "<p>" + e.description + "</p>";
			        s3 += "</div>";
			    }
			    if(k == 3){
				s4 += "<div class='img-box'>";
			        s4 += "<img src='" + e.image + "' style='width:100%'>";
			        s4 += "<h4>" + e.artworkname + "</h4>";
			        s4 += "<h6>" + e.medium + "</h6>";
			        s4 += "<p>" + e.description + "</p>";
			        s4 += "</div>";
			    }
			    k = k + 1;
			    if(k == 4){
				k = 0;
			    }
			}
		    }
		} // if hasOwnProperty
		if(selections.hasOwnProperty('Nationality')){
		    natlist = selections['Nationality'];
		    for(ax=0; ax < natlist.length; ax++){
			a = natlist[ax];
			if(a.toLowerCase() == e.artistnationality.toLowerCase()){
			    if(k == 0){
				s1 += "<div class='img-box'>";
			        s1 += "<img src='" + e.image + "' style='width:100%'>";
			        s1 += "<h4>" + e.artworkname + "</h4>";
			        s1 += "<h6>" + e.medium + "</h6>";
			        s1 += "<p>" + e.description + "</p>";
			        s1 += "</div>";
			    }
			    if(k == 1){
				s2 += "<div class='img-box'>";
			        s2 += "<img src='" + e.image + "' style='width:100%'>";
			        s2 += "<h4>" + e.artworkname + "</h4>";
			        s2 += "<h6>" + e.medium + "</h6>";
			        s2 += "<p>" + e.description + "</p>";
			        s2 += "</div>";
			    }
			    if(k == 2){
				s3 += "<div class='img-box'>";
			        s3 += "<img src='" + e.image + "' style='width:100%'>";
			        s3 += "<h4>" + e.artworkname + "</h4>";
			        s3 += "<h6>" + e.medium + "</h6>";
			        s3 += "<p>" + e.description + "</p>";
			        s3 += "</div>";
			    }
			    if(k == 3){
				s4 += "<div class='img-box'>";
			        s4 += "<img src='" + e.image + "' style='width:100%'>";
			        s4 += "<h4>" + e.artworkname + "</h4>";
			        s4 += "<h6>" + e.medium + "</h6>";
			        s4 += "<p>" + e.description + "</p>";
			        s4 += "</div>";
			    }
			    k = k + 1;
			    if(k == 4){
				k = 0;
			    }
			}
		    }
		} // if hasOwnProperty
	    }
	}
	s1 += "</div>";
	s2 += "</div>";
	s3 += "</div>";
	s4 += "</div>";
	targetdiv.innerHTML = s1 + s2 + s3 + s4;
      }
    </script>

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/login/index/" class="logo">
                            <img src="/static/images/logo1.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            	 <ul class="nav">
				 <li class="scroll-to-section"><a href="/gallery/index/" class="active">Galleries</a></li>
				 <li class="scroll-to-section"><a href="/museum/index/">Museums</a></li>
				 <li class="scroll-to-section"><a href="/artist/index/">Artists</a></li>
				 <li class="scroll-to-section"><a href="/auctionhouse/index/">Auction Houses</a></li>
				 <li class="scroll-to-section"><a href="/auction/index/">Auctions</a></li>
				 <li class="scroll-to-section"><a href="/price/database/">Price Database</a></li>
                            <!--<li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li>-->
                            
                            
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <section class="inner-top-banner"></section>
	
    <!-- ***** Main Banner Area End ***** -->
	<section class="section gal-section gal-dtl-sec" id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center">
						<div class="gal-logo-box">
							<a href="/gallery/index/?gid={{gallery.gid}}" class="">
								<img src="{{gallery.galleryimage}}">
								<h2>{{gallery.galleryname}}</h2>
							 </a>
							<p>{{gallery.gallerylocation}}</p>
							<!-- <a href="{{gallery.galleryurl}}" class="btn btn-slider">Follow</a> -->
						</div>
                    </div>
                </div>
            </div>
        </div>
		<div class="container">
            <!-- START TABS DIV -->
      <div class="tabbable-responsive">
        <div class="tabbable">
          <ul class="nav nav-tabs" id="gal-Tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="Overview-tab" data-toggle="tab" href="#Overview" role="tab" aria-controls="Overview" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="Events-tab" data-toggle="tab" href="#Events" role="tab" aria-controls="Events" aria-selected="false">Events</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" id="ViewingRooms-tab" data-toggle="tab" href="#ViewingRooms" role="tab" aria-controls="ViewingRooms" aria-selected="false">Viewing Rooms</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" id="Works-tab" data-toggle="tab" href="#Works" role="tab" aria-controls="Works" aria-selected="false">Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="Artists-tab" data-toggle="tab" href="#Artists" role="tab" aria-controls="Artists" aria-selected="false">Artists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="Contact-tab" data-toggle="tab" href="#Contact" role="tab" aria-controls="Contact" aria-selected="false">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
	<div class="container">
    <div class="card-body">
      
      <div class="tab-content">
        <div class="tab-pane fade show active" id="Overview" role="tabpanel" aria-labelledby="Overview-tab">
			<div class="container">
				<div class="row gl-ov-row">
					<div class="col-md-7">
						<h2>{{latestevent.eventname}}</h2>
						<h4>{{latestevent.eventperiod}}</h4>
						<h6>{{latestevent.eventlocation}}</h6>
						<p></p>
						<!-- <a href="" class="btn btn-slider" >Read More</a> -->
					</div>
					<div class="col-md-5">
						<img src="{{latestevent.eventimage}}" class="img-fluid"/>
					</div>
				</div>
				<div class="row gal-tab-row">
					<div class="col-lg-12 gl-abt">
						<div class="section-heading text-center">
							<h3>About</h3>
							<hr>
							<p>{{latestevent.eventinfo}}</p>
							<!-- <p><a href="#">demolink.com</a></p> -->
						</div>
					</div>
				</div>
				<div class="row">
				   <div class="col-lg-12">
					   <div class="section-heading text-center">
							<h3>All Events</h3>
							<!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> -->
							<hr>
					   </div>
				   </div>
			<div class="col-lg-12">
			<div class="men-item-carousel">
			<div class="row align-items-end">
			{% for evobj in previouseventselection %}
		        <div class="column">
		            <div class="img-box">
				<a href="/gallery/eventdetails/?gevid={{evobj.eventid}}"><img src="{{evobj.eventimage}}" alt=""></a>
		                <a href="/gallery/eventdetails/?gevid={{evobj.eventid}}" style="color:#000000;">
					<h4 style="padding-left:0px;">{{evobj.eventname}}</h4>
					<span>{{evobj.eventinfo}}</span>
					<span>{{evobj.eventperiod}}</span>
				</a>
		            </div>
		        </div>
			{% endfor %}
		        </div>

			<!--
                        <div class="owl-men-item owl-carousel">
			{% for evobj in previousevents %}
                            <div class="item">
                                <div class="thumb">
                                    <a href="/gallery/eventdetails/?gevid={{evobj.eventid}}"><img src="{{evobj.eventimage}}" alt=""></a>
                                </div>
                                <div class="down-content">
									<a href="/gallery/eventdetails/?gevid={{evobj.eventid}}" style="color:#000000;">
										<h4>{{evobj.eventname}}</h4>
										<span>{{evobj.eventinfo}}</span>
										<span>{{evobj.eventperiod}}</span>
									</a>
                                </div>
                            </div>
			{% endfor %}
			
                            
                        </div> -->
                    </div>
				   </div>
				</div>
				<div class="row art-box align-items-end">
					<div class="col-md-12">
						<div class="section-heading text-center">
							<h3>Artists</h3>
							<!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> -->
							<hr>
					   </div>
					</div>
					<div class="col-md-12">
						<div class="art-list">
							<div class="list-item">
							{% for artist in artists %}
								<p><a href="{{artist.artisturl}}" style="color:#000000;">{{artist.artistname}}</a></p>
							{% endfor %}
							{% if artists|length == 0%}
							<span>There are no artists listed for the featured events.</span>
							{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        <div class="tab-pane fade" id="Events" role="tabpanel" aria-labelledby="Events-tab">
          <div class="container">
			<div class="row gl-ov-row">
				<div class="col-md-7">
					<h2>{{latestevent.eventname}}</h2>
					<h4>{{latestevent.eventperiod}}</h4>
					<h6>{{latestevent.eventlocation}}</h6>
					<p>{{latestevent.eventinfo}}</p>
					<!-- <a href="" class="btn btn-slider" >Read More</a> -->
				</div>
				<div class="col-md-5">
					
					<img src="{{latestevent.eventimage}}" class="img-fluid"/>
				</div>
			</div>
			<div class="row gal-tab-row pst-ev">
				<div class="col-lg-12">
					   <div class="section-heading text-center">
							<h3>Past Events</h3>
							<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
						<hr>
					   </div>
				   </div>
			</div>
			<div class="row align-items-end">
                                  {% for evobj in previousevents %}
				  <div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="/gallery/eventdetails/?gevid={{evobj.eventid}}"><img src="{{evobj.eventimage}}" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>{{evobj.eventname}}</h4>
							<span>{{evobj.eventinfo}}</span>
							<span>{{evobj.eventperiod}}</span>
						</div>
					</div>
				  </div>
				  {% endfor %}
				  
			  </div>
		  </div>
        </div>
        <!-- <div class="tab-pane fade" id="ViewingRooms" role="tabpanel" aria-labelledby="ViewingRooms-tab">
          <div class="row viewing-rooms">
			   <div class="col-lg-12">
				   <div class="section-heading">
						<h3>Past Viewing Rooms</h3>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
				   </div>
			   </div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="/static/images/men-02.jpg" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>Béchir Boussandel</h4>
							<span>Taymour Grahne Projects</span>
							<span>Feb 11 to Apr 15</span>
						</div>
					</div>
				  </div>
				  <div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="/static/images/men-02.jpg" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>Béchir Boussandel</h4>
							<span>Taymour Grahne Projects</span>
							<span>Feb 11 to Apr 15</span>
						</div>
					</div>
				  </div>
				  <div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="/static/images/men-02.jpg" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>Béchir Boussandel</h4>
							<span>Taymour Grahne Projects</span>
							<span>Feb 11 to Apr 15</span>
						</div>
					</div>
				  </div>
				  <div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="/static/images/men-02.jpg" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>Béchir Boussandel</h4>
							<span>Taymour Grahne Projects</span>
							<span>Feb 11 to Apr 15</span>
						</div>
					</div>
				  </div>
				  <div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="/static/images/men-02.jpg" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>Béchir Boussandel</h4>
							<span>Taymour Grahne Projects</span>
							<span>Feb 11 to Apr 15</span>
						</div>
					</div>
				  </div>
				  <div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="/static/images/men-02.jpg" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>Béchir Boussandel</h4>
							<span>Taymour Grahne Projects</span>
							<span>Feb 11 to Apr 15</span>
						</div>
					</div>
				  </div>
			</div>
        </div> -->
        <div class="tab-pane fade" id="Works" role="tabpanel" aria-labelledby="Works-tab">
          <div id="mySidebar" class="sidebar">
			<div class="fixed-sidbr-header">
				<h5>Filter</h5>
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
			</div>
			<div id="accordion" class="accordion">
				<div class="card mb-0">
					<div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
						<a class="card-title">
							Artists
						</a>
					</div>
					<div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
						{% for artist, v in filterartists.items %}
						 <div class="form-check">
						  <label class="form-check-label" for="Artist{{forloop.counter}}">
							<input type="checkbox" class="form-check-input" id="Artist{{forloop.counter}}" name="option{{artist}}" value="{{artist}}" onclick="javascript:filter('Artists', '{{artist}}', 'Artist{{forloop.counter}}');">{{artist}}
						  </label>
						</div>
						{% endfor %}
					</div>
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						<a class="card-title">
						  Rarity
						</a>
					</div>
					<div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
						<div class="form-check">
						  <label class="form-check-label" for="Rarity1">
							<input type="checkbox" class="form-check-input" id="Rarity1" name="option1" value="unique"  onclick="javascript:filter('Rarity', 'unique', 'Rarity1');">Unique
						  </label>
						</div>
						<div class="form-check">
						  <label class="form-check-label" for="Rarity2">
							<input type="checkbox" class="form-check-input" id="Rarity2" name="option1" value="limited edition" onclick="javascript:filter('Rarity', 'limited edition', 'Rarity2');">Limited Edition
						  </label>
						</div>
						<div class="form-check">
						  <label class="form-check-label" for="Rarity3">
							<input type="checkbox" class="form-check-input" id="Rarity3" name="option1" value="open edition" onclick="javascript:filter('Rarity', 'open edition', 'Rarity3');">Open Edition
						  </label>
						</div>
					</div>
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						<a class="card-title">
						  Medium
						</a>
					</div>
					<div id="collapseThree" class="collapse" data-parent="#accordion" >
						<div class="card-body">
							<div class="form-check">
							  <label class="form-check-label" for="Medium1">
								<input type="checkbox" class="form-check-input" id="Medium1" name="option1" value="photography" onclick="javascript:filter('Medium', 'photography', 'Medium1');">Photography
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Medium2">
								<input type="checkbox" class="form-check-input" id="Medium2" name="option2" value="painting" onclick="javascript:filter('Medium', 'painting', 'Medium2');">Painting
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Medium3">
								<input type="checkbox" class="form-check-input" id="Medium3" name="option3" value="sculpture" onclick="javascript:filter('Medium', 'sculpture', 'Medium3');">Sculpture
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Medium4">
								<input type="checkbox" class="form-check-input" id="Medium4" name="option4" value="works on paper" onclick="javascript:filter('Medium', 'works on paper', 'Medium4');">Works On Paper
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Medium5">
								<input type="checkbox" class="form-check-input" id="Medium5" name="option5" value="prints" onclick="javascript:filter('Medium', 'prints', 'Medium5');">Prints
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Medium6">
								<input type="checkbox" class="form-check-input" id="Medium6" name="option6" value="installation" onclick="javascript:filter('Medium', 'installation', 'Medium6');">Installation
							  </label>
							</div>
						</div>
					</div>
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
						<a class="card-title">
						  Size
						</a>
					</div>
					<div id="collapse4" class="collapse" data-parent="#accordion" >
						<div class="card-body">
							<div class="form-check">
							  <label class="form-check-label" for="Size1">
								<input type="checkbox" class="form-check-input" id="Size1" name="option1" value="small" onclick="javascript:filter('Size', 'small', 'Size1');">Small (under 40cm)
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Size2">
								<input type="checkbox" class="form-check-input" id="Size2" name="option2" value="medium" onclick="javascript:filter('Size', 'medium', 'Size2');">Medium (40 – 100cm)
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Size3">
								<input type="checkbox" class="form-check-input" id="Size3" name="option3" value="large" onclick="javascript:filter('Size', 'large', 'Size3');">Large (over 100cm)
							  </label>
							</div>
						</div>
					</div>
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
						<a class="card-title">
						  Material
						</a>
					</div>
					<div id="collapse5" class="collapse" data-parent="#accordion" >
						<div class="card-body">
							<div class="form-check">
							  <label class="form-check-label" for="Material1">
								<input type="checkbox" class="form-check-input" id="Material1" name="option1" value="acrylic" onclick="javascript:filter('Material', 'acrylic', 'Material1');">Acrylic
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material2">
								<input type="checkbox" class="form-check-input" id="Material2" name="option1" value="aluminum" onclick="javascript:filter('Material', 'aluminium', 'Material2');">Aluminum
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material3">
								<input type="checkbox" class="form-check-input" id="Material3" name="option1" value="art paper" onclick="javascript:filter('Material', 'art paper', 'Material3');">Art paper
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material4">
								<input type="checkbox" class="form-check-input" id="Material4" name="option1" value="bronze" onclick="javascript:filter('Material', 'bronze', 'Material4');">Bronze
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material5">
								<input type="checkbox" class="form-check-input" id="Material5" name="option1" value="c-print" onclick="javascript:filter('Material', 'c-print', 'Material5');">C-print
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material6">
								<input type="checkbox" class="form-check-input" id="Material6" name="option1" value="canvas" onclick="javascript:filter('Material', 'canvas', 'Material6');">Canvas
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material7">
								<input type="checkbox" class="form-check-input" id="Material7" name="option1" value="cardboard" onclick="javascript:filter('Material', 'cardboard', 'Material7');">Cardboard
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material8">
								<input type="checkbox" class="form-check-input" id="Material8" name="option1" value="ceramic" onclick="javascript:filter('Material', 'ceramic', 'Material8');">Ceramic
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material9">
								<input type="checkbox" class="form-check-input" id="Material9" name="option1" value="charcoal" onclick="javascript:filter('Material', 'charcoal', 'Material9');">Charcoal
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material10">
								<input type="checkbox" class="form-check-input" id="Material10" name="option1" value="collage" onclick="javascript:filter('Material', 'collage', 'Material10');">Collage
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material11">
								<input type="checkbox" class="form-check-input" id="Material11" name="option1" value="copper" onclick="javascript:filter('Material', 'copper', 'Material11');">Copper
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material12">
								<input type="checkbox" class="form-check-input" id="Material12" name="option1" value="cotton" onclick="javascript:filter('Material', 'cotton', 'Material12');">Cotton
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material13">
								<input type="checkbox" class="form-check-input" id="Material13" name="option1" value="digital" onclick="javascript:filter('Material', 'digital', 'Material13');">Digital
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material14">
								<input type="checkbox" class="form-check-input" id="Material14" name="option1" value="enamel" onclick="javascript:filter('Material', 'enamel', 'Material14');">Enamel
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material15">
								<input type="checkbox" class="form-check-input" id="Material15" name="option1" value="glass" onclick="javascript:filter('Material', 'glass', 'Material15');">Glass
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material16">
								<input type="checkbox" class="form-check-input" id="Material16" name="option1" value="gouache" onclick="javascript:filter('Material', 'gouache', 'Material16');">Gouache
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material17">
								<input type="checkbox" class="form-check-input" id="Material17" name="option1" value="ink" onclick="javascript:filter('Material', 'ink', 'Material17');">Ink
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material18">
								<input type="checkbox" class="form-check-input" id="Material18" name="option1" value="inkjet" onclick="javascript:filter('Material', 'inkjet', 'Material18');">Inkjet
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material19">
								<input type="checkbox" class="form-check-input" id="Material19" name="option1" value="linen" onclick="javascript:filter('Material', 'linen', 'Material19');">Linen
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material20">
								<input type="checkbox" class="form-check-input" id="Material20" name="option1" value="mixedmedia" onclick="javascript:filter('Material', 'mixed media', 'Material20');">Mixed Media
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material21">
								<input type="checkbox" class="form-check-input" id="Material21" name="option1" value="oil" onclick="javascript:filter('Material', 'oil', 'Material21');">Oil
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material22">
								<input type="checkbox" class="form-check-input" id="Material22" name="option1" value="paint" onclick="javascript:filter('Material', 'paint', 'Material22');">Paint
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material23">
								<input type="checkbox" class="form-check-input" id="Material23" name="option1" value="panel" onclick="javascript:filter('Material', 'panel', 'Material23');">Panel
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material24">
								<input type="checkbox" class="form-check-input" id="Material24" name="option1" value="paper" onclick="javascript:filter('Material', 'paper', 'Material24');">Paper
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material25">
								<input type="checkbox" class="form-check-input" id="Material25" name="option1" value="pigment" onclick="javascript:filter('Material', 'pigment', 'Material25');">Pigment
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material26">
								<input type="checkbox" class="form-check-input" id="Material26" name="option1" value="polaroid" onclick="javascript:filter('Material', 'polaroid', 'Material26');">Polaroid
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material27">
								<input type="checkbox" class="form-check-input" id="Material27" name="option1" value="gelatin" onclick="javascript:filter('Material', 'gelatin', 'Material27');">Gelatin
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material28">
								<input type="checkbox" class="form-check-input" id="Material28" name="option1" value="spraypaint" onclick="javascript:filter('Material', 'spray paint', 'Material28');">Spray Paint
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material29">
								<input type="checkbox" class="form-check-input" id="Material29" name="option1" value="stone" onclick="javascript:filter('Material', 'stone', 'Material29');">Stone
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material30">
								<input type="checkbox" class="form-check-input" id="Material30" name="option1" value="vinyl" onclick="javascript:filter('Material', 'vinyl', 'Material30');">Vinyl
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material31">
								<input type="checkbox" class="form-check-input" id="Material31" name="option1" value="wash" onclick="javascript:filter('Material', 'wash', 'Material31');">Wash
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material32">
								<input type="checkbox" class="form-check-input" id="Material32" name="option1" value="watercolor" onclick="javascript:filter('Material', 'watercolor', 'Material32');">Water Color
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material33">
								<input type="checkbox" class="form-check-input" id="Material33" name="option1" value="wire" onclick="javascript:filter('Material', 'wire', 'Material33');">Wire
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Material34">
								<input type="checkbox" class="form-check-input" id="Material34" name="option1" value="wood" onclick="javascript:filter('Material', 'wood', 'Material34');" >Wood
							  </label>
							</div>
						</div>
					</div>
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
						<a class="card-title">
						  Artist Nationality
						</a>
					</div>
					<div id="collapse6" class="collapse" data-parent="#accordion" >
						<div class="card-body">
							{% for nat in nationalities %}
							<div class="form-check">
							  <label class="form-check-label" for="nat{{ forloop.counter }}">
								<input type="checkbox" class="form-check-input" id="nat{{ forloop.counter }}" name="option1" value="{{nat}}" onclick="javascript:filter('Nationality', '{{nat}}', 'nat{{ forloop.counter }}');">{{nat}}
							  </label>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
						<a class="card-title">
						  Time Period
						</a>
					</div>
					<div id="collapse7" class="collapse" data-parent="#accordion" >
						<div class="card-body">
							<div class="form-check">
							  <label class="form-check-label" for="Period1">
								<input type="checkbox" class="form-check-input" id="Period1" name="option1" value="2020" onclick="javascript:filter('Period', '2020s', 'Period1');">2020s
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Period2">
								<input type="checkbox" class="form-check-input" id="Period2" name="option1" value="2010" onclick="javascript:filter('Period', '2010s', 'Period2');">2010s
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Period3">
								<input type="checkbox" class="form-check-input" id="Period3" name="option1" value="2000" onclick="javascript:filter('Period', '2000s', 'Period3');">2000s
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Period4">
								<input type="checkbox" class="form-check-input" id="Period4" name="option1" value="1990" onclick="javascript:filter('Period', '1990s', 'Period4');">1990s
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Period5">
								<input type="checkbox" class="form-check-input" id="Period5" name="option1" value="1980" onclick="javascript:filter('Period', '1980s', 'Period5');">1980s
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Period6">
								<input type="checkbox" class="form-check-input" id="Period6" name="option1" value="1970" onclick="javascript:filter('Period', '1970s', 'Period6');">1970s
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Period7">
								<input type="checkbox" class="form-check-input" id="Period7" name="option1" value="1960" onclick="javascript:filter('Period', '1960s', 'Period7');">1960s
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Period8">
								<input type="checkbox" class="form-check-input" id="Period8" name="option1" value="early-20th" onclick="javascript:filter('Period', 'early 20th', 'Period8');">Early 20th Century
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Period9">
								<input type="checkbox" class="form-check-input" id="Period9" name="option1" value="late-19th" onclick="javascript:filter('Period', 'late 19th', 'Period9');">Late 19th Century
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Period10">
								<input type="checkbox" class="form-check-input" id="Period10" name="option1" value="mid-19th" onclick="javascript:filter('Period', 'mid 19th', 'Period10');">Mid 19th Century
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Period11">
								<input type="checkbox" class="form-check-input" id="Period11" name="option1" value="early-19th" onclick="javascript:filter('Period', 'early 19th', 'Period11');">Early 19th Century
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Period12">
								<input type="checkbox" class="form-check-input" id="Period12" name="option1" value="18th-earlier" onclick="javascript:filter('Period', '18th', 'Period12');">18th Century and Earlier
							  </label>
							</div>
						</div>
					</div>
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
						<a class="card-title">
						  Color
						</a>
					</div>
					<div id="collapse8" class="collapse" data-parent="#accordion" >
						<div class="card-body">
							<div class="form-check">
							  <label class="form-check-label" for="Color1">
								<input type="checkbox" class="form-check-input" id="Color1" name="option1" value="red" onclick="javascript:filter('Color', 'red', 'Color1');">Red <span class="color-span" style="background:red;"></span>
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Color2">
								<input type="checkbox" class="form-check-input" id="Color2" name="option1" value="blue" onclick="javascript:filter('Color', 'blue', 'Color2');">Blue <span class="color-span" style="background:blue;"></span>
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Color3">
								<input type="checkbox" class="form-check-input" id="Color3" name="option1" value="green" onclick="javascript:filter('Color', 'green', 'Color3');">Green <span class="color-span" style="background:green;"></span>
							  </label>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>

			<div id="main">
				<div class="work-top-pnl">
					<button class="openbtn" onclick="openNav()"> Filter</button>
					<div class="dropdown">Sort By:
						<select>
							<option value="1">Defult</option>
							<option value="2">Defult</option>
						</select>
					  </div>
				  </div>
				<div class="row align-items-end" id='allworks'>
			  <div class="column">
                                {% for evname, artworkslist in allartworks1.items %}
                                {% for artwork in artworkslist %}
				<div class="img-box">
				<a href='/gallery/artworkdetails/?awid={{artwork.awid}}' style="color:#000000;">
				<img src="{{artwork.image}}" style="width:100%">
				<h4>{{artwork.artworkname}}</h4>
				<h6>{{artwork.medium}}</h6>
				<p>{{artwork.description}}</p>
				</a>
				</div>
				{% endfor %}
				{% endfor %}
				
			  </div>
			  <div class="column">
				{% for evname, artworkslist in allartworks2.items %}
                                {% for artwork in artworkslist %}
				<div class="img-box">
				<a href='/gallery/artworkdetails/?awid={{artwork.awid}}' style="color:#000000;">
				<img src="{{artwork.image}}" style="width:100%">
				<h4>{{artwork.artworkname}}</h4>
				<h6>{{artwork.medium}}</h6>
				<p>{{artwork.description}}</p>
				</a>
				</div>
				{% endfor %}
				{% endfor %}
				
			  </div>
			  <div class="column">
				{% for evname, artworkslist in allartworks3.items %}
                                {% for artwork in artworkslist %}
				<div class="img-box">
				<a href='/gallery/artworkdetails/?awid={{artwork.awid}}' style="color:#000000;">
				<img src="{{artwork.image}}" style="width:100%">
				<h4>{{artwork.artworkname}}</h4>
				<h6>{{artwork.medium}}</h6>
				<p>{{artwork.description}}</p>
				</a>
				</div>
				{% endfor %}
				{% endfor %}
				
			  </div>
			  <div class="column">
				{% for evname, artworkslist in allartworks4.items %}
                                {% for artwork in artworkslist %}
				<div class="img-box">
				<a href='/gallery/artworkdetails/?awid={{artwork.awid}}' style="color:#000000;">
				<img src="{{artwork.image}}" style="width:100%">
				<h4>{{artwork.artworkname}}</h4>
				<h6>{{artwork.medium}}</h6>
				<p>{{artwork.description}}</p>
				</a>
				</div>
				{% endfor %}
				{% endfor %}
				
			  </div>
			  </div>
			</div>
        </div>
        <div class="tab-pane fade" id="Artists" role="tabpanel" aria-labelledby="Artists-tab">
          <div class="row  align-items-end">
				<div class="col-md-12">
					<div class="section-heading ">
						<h3>Artists</h3>
						<!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> -->
				   </div>
				</div>
					<div class="col-md-12">
						<div class="art-list">
							<div class="list-item">
							{% for artist in allartists %}
								<p><a href="/artist/details/?aid={{artist.artistid}}" style="color:#000000;">{{artist.artistname}}</a></p>
							{% endfor %}
							{% if allartists|length == 0%}
							<span>There are no artists listed for the featured event.</span>
							{% endif %}
							</div>
						</div>
					</div>
				</div>
        </div>
        <div class="tab-pane fade" id="Contact" role="tabpanel" aria-labelledby="Contact-tab">
          <h5 class="card-title">Sixth Tab header</h5>
          <p class="card-text">Proin ornare purus vitae magna viverra suscipit. Etiam rutrum lorem cursus libero scelerisque lacinia. Praesent bibendum risus id aliquam finibus. Donec sed orci sodales, viverra dolor a, dignissim mi. Pellentesque nec lectus enim. Suspendisse eu ligula ac tortor mollis lobortis. Nulla a laoreet neque, sit amet luctus dolor. Nam facilisis at odio ac commodo. Nullam vehicula blandit dui, vel suscipit orci.</p>
        </div>
      </div>
		</div>
		</div>
	</section>

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="/static/images/logo-white.png" alt="">
                        </div>
                        <ul>
                            <li><a href="#">1234 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                            <li><a href="#">demo@company.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                 <div class="col-lg-3">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/auctionhouse/index/">Featured Auction Houses</a></li>
                        <li><a href="/login/index/">Home</a></li>
                        <li><a href="/auction/index/">Current Auctions</a></li>
                        <li><a href="/artist/index/">Trending Artists</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="/about/">About Us</a></li>
                        <li><a href="/gallery/index/">Galleries</a></li>
                        <li><a href="/museum/index/">Museums</a></li>
                        <li><a href="/contactus/">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="/faq/">FAQ's</a></li>
                        <li><a href="/termsofuse/">Terms of Use</a></li>
                        <li><a href="/privacy/">Privacy Policy</a></li>
                        <li><a href="/security/">Security</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022. All Rights Reserved.</p>
                       
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="/static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/js/owl-carousel.js"></script>
    <script src="/static/js/accordions.js"></script>
    <script src="/static/js/datepicker.js"></script>
    <script src="/static/js/scrollreveal.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/imgfix.min.js"></script> 
    <script src="/static/js/slick.js"></script> 
    <script src="/static/js/lightbox.js"></script> 
    <script src="/static/js/isotope.js"></script> 
    <script src="/static/js/jquery.dropdown.min.js"></script> 
    
    <!-- Global Init -->
    <script src="/static/js/custom.js"></script>
	<script>
	function openNav() {
	  document.getElementById("mySidebar").style.width = "350px";
	  //document.getElementById("main").style.marginLeft = "250px";
	}

	function closeNav() {
	  document.getElementById("mySidebar").style.width = "0";
	  document.getElementById("main").style.marginLeft= "0";
	}
	</script>
	<script>
	/*https://www.jqueryscript.net/demo/Searchable-Multi-select-jQuery-Dropdown/*/
	$('.demo').dropdown({
		limitCount: 1,
		input:'<input type="text" maxLength="20" placeholder="Search">'
	});
		
	</script>
    <script>
		
        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>
