<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Eolico</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">

    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="/static/css/owl-carousel.css">

    <link rel="stylesheet" href="/static/css/lightbox.css">
    <link rel="stylesheet" href="/static/css/jquery.dropdown.min.css">

    <script type='text/javascript'>
      function filter(ftype, fval){
	const artworks = {
		{% for evname, valueslist in allartworks.items %}
		  "{{ evname }}" : [ 
			{% for val in valueslist %}
			   { 
			     {% for k, v in val.items %}
			     "{{k}}" : "{{v}}",
			     {% endfor %} 
			   }, 
			{% endfor %}
		  ],
		{% endfor %}
	};
        targetdiv = document.getElementById('allworks');
    	s = "";
	for(evname in artworks){
	  l = artworks[evname];
	  for(var j=0; j < 4; j++){
	  s += "<div class='column'>";
          var last = 7;
          if(l.length < last){
	    last = l.length;
	  }
	  for(var i=0; i < last; i++){
	    e = l[i];
	    if(ftype == "Artists" && fval.toLowerCase() == e.artistname.toLowerCase()){
	    s += "<div class='img-box'>";
	    s += "<img src='" + e.image + "' style='width:100%'>";
	    s += "<h4>" + e.artworkname + "</h4>";
	    s += "<h6>" + e.medium + "</h6>";
	    s += "<p>" + e.description + "</p>";
	    s += "</div>";
	    }
	    if(ftype == "Medium" && e.description.toLowerCase().includes(fval.toLowerCase())){
	    s += "<div class='img-box'>";
	    s += "<img src='" + e.image + "' style='width:100%'>";
	    s += "<h4>" + e.artworkname + "</h4>";
	    s += "<h6>" + e.medium + "</h6>";
	    s += "<p>" + e.description + "</p>";
	    s += "</div>";
	    }
	    if(ftype == "Material" && e.medium.toLowerCase().includes(fval.toLowerCase())){
	    s += "<div class='img-box'>";
	    s += "<img src='" + e.image + "' style='width:100%'>";
	    s += "<h4>" + e.artworkname + "</h4>";
	    s += "<h6>" + e.medium + "</h6>";
	    s += "<p>" + e.description + "</p>";
	    s += "</div>";
	    }
	    if(ftype == "Nationality" && e.artistnationality.toLowerCase().includes(fval.toLowerCase())){
	    s += "<div class='img-box'>";
	    s += "<img src='" + e.image + "' style='width:100%'>";
	    s += "<h4>" + e.artworkname + "</h4>";
	    s += "<h6>" + e.medium + "</h6>";
	    s += "<p>" + e.description + "</p>";
	    s += "</div>";
	    }
	    if(ftype == "Period"){
		if(e.artistbirthyear > 1800 && e.artistbirthyear < 1900){
	     	s += "<div class='img-box'>";
	    	s += "<img src='" + e.image + "' style='width:100%'>";
	    	s += "<h4>" + e.artworkname + "</h4>";
	    	s += "<h6>" + e.medium + "</h6>";
	    	s += "<p>" + e.description + "</p>";
	    	s += "</div>";
		}
	    }
	  } // end for i
	  s += "</div>";
	  } // end for j
	} // for evname
	targetdiv.innerHTML = s;
      }
    </script>

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="/static/images/logo1.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/login/index/">Home</a></li>
			    <li class="scroll-to-section"><a href="#">About</a></li>
                            <li class="scroll-to-section"><a href="/viewingroom/index/">Viewing Rooms</a></li>
                            <li class="scroll-to-section"><a href="/gallery/index/" class="active">Galleries</a></li>
                            <li class="scroll-to-section"><a href="/museum/index/">Museums</a></li>
                            <li class="scroll-to-section"><a href="#">Contact</a></li>
                            <!--<li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li>-->
                            
                            
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <section class="inner-top-banner"></section>
	
    <!-- ***** Main Banner Area End ***** -->
	<section class="section gal-section gal-dtl-sec" id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center">
						<div class="gal-logo-box">
							<a href="index.html" class="">
								<img src="{{gallery.galleryimage}}">
								<h2>{{gallery.galleryname}}</h2>
							 </a>
							<p>{{gallery.gallerylocation}}</p>
							<a href="{{gallery.galleryurl}}" class="btn btn-slider">Follow</a>
						</div>
                    </div>
                </div>
            </div>
        </div>
		<div class="container">
            <!-- START TABS DIV -->
      <div class="tabbable-responsive">
        <div class="tabbable">
          <ul class="nav nav-tabs" id="gal-Tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="Overview-tab" data-toggle="tab" href="#Overview" role="tab" aria-controls="Overview" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="Events-tab" data-toggle="tab" href="#Events" role="tab" aria-controls="Events" aria-selected="false">Events</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" id="ViewingRooms-tab" data-toggle="tab" href="#ViewingRooms" role="tab" aria-controls="ViewingRooms" aria-selected="false">Viewing Rooms</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" id="Works-tab" data-toggle="tab" href="#Works" role="tab" aria-controls="Works" aria-selected="false">Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="Artists-tab" data-toggle="tab" href="#Artists" role="tab" aria-controls="Artists" aria-selected="false">Artists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="Contact-tab" data-toggle="tab" href="#Contact" role="tab" aria-controls="Contact" aria-selected="false">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
	<div class="container">
    <div class="card-body">
      
      <div class="tab-content">
        <div class="tab-pane fade show active" id="Overview" role="tabpanel" aria-labelledby="Overview-tab">
			<div class="container">
				<div class="row gl-ov-row">
					<div class="col-md-7">
						<h2>{{latestevent.eventname}}</h2>
						<h4>{{latestevent.eventperiod}}</h4>
						<h6>{{latestevent.eventlocation}}</h6>
						<p>{{latestevent.eventinfo}}</p>
						<!-- <a href="" class="btn btn-slider" >Read More</a> -->
					</div>
					<div class="col-md-5">
						<img src="{{latestevent.eventimage}}" class="img-fluid"/>
					</div>
				</div>
				<div class="row gal-tab-row">
					<div class="col-lg-12 gl-abt">
						<div class="section-heading text-center">
							<h3>About</h3>
							<hr>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							<p><a href="#">demolink.com</a></p>
						</div>
					</div>
				</div>
				<div class="row">
				   <div class="col-lg-12">
					   <div class="section-heading text-center">
							<h3>All Events</h3>
							<!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> -->
							<hr>
					   </div>
				   </div>
				   <div class="col-lg-12">
					 <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
			{% for evobj in previousevents %}
                            <div class="item">
                                <div class="thumb">
                                    <a href="#"><img src="/static/images/men-01.jpg" alt=""></a>
                                </div>
                                <div class="down-content">
									<a href="#">
										<h4>{{evobj.eventname}}</h4>
										<span>{{evobj.eventinfo}}</span>
										<span>{{evobj.eventperiod}}</span>
									</a>
                                </div>
                            </div>
			{% endfor %}
			<!--
                            <div class="item">
                                <div class="thumb">
                                    <a href="#"><img src="/static/images/men-02.jpg" alt=""></a>
                                </div>
                                <div class="down-content">
									<h4>Béchir Boussandel</h4>
									<span>Taymour Grahne Projects</span>
									<span>Feb 11 to Apr 15</span>
								</div>
                            </div>
			-->
                            
                        </div>
                    </div>
				   </div>
				</div>
				<div class="row art-box">
					<div class="col-md-12">
						<div class="section-heading text-center">
							<h3>Artists</h3>
							<!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> -->
							<hr>
					   </div>
					</div>
					<div class="col-md-12">
						<div class="art-list">
							<div class="list-item">
							{% for artist in artists %}
								<p><a href="{{artist.artisturl}}">{{artist.artistname}}</a></p>
							{% endfor %}
							{% if artists|length == 0%}
							<span>There are no artists listed for the featured events.</span>
							{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        <div class="tab-pane fade" id="Events" role="tabpanel" aria-labelledby="Events-tab">
          <div class="container">
			<div class="row gl-ov-row">
				<div class="col-md-7">
					<h2>{{latestevent.eventname}}</h2>
					<h4>{{latestevent.eventperiod}}</h4>
					<h6>{{latestevent.eventlocation}}</h6>
					<p>{{latestevent.eventinfo}}</p>
					<!-- <a href="" class="btn btn-slider" >Read More</a> -->
				</div>
				<div class="col-md-5">
					<!-- <img src="/static/images/men-04.jpg" class="img-fluid"/> -->
					<img src="{{latestevent.eventimage}}" class="img-fluid"/>
				</div>
			</div>
			<div class="row gal-tab-row pst-ev">
				<div class="col-lg-12">
					   <div class="section-heading text-center">
							<h3>Past Events</h3>
							<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
						<hr>
					   </div>
				   </div>
			</div>
			<div class="row">
                                  {% for evobj in previousevents %}
				  <div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="{{evobj.eventimage}}" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>{{evobj.eventname}}</h4>
							<span>{{evobj.eventinfo}}</span>
							<span>{{evobj.eventperiod}}</span>
						</div>
					</div>
				  </div>
				  {% endfor %}
				  
			  </div>
		  </div>
        </div>
        <!-- <div class="tab-pane fade" id="ViewingRooms" role="tabpanel" aria-labelledby="ViewingRooms-tab">
          <div class="row viewing-rooms">
			   <div class="col-lg-12">
				   <div class="section-heading">
						<h3>Past Viewing Rooms</h3>
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
				   </div>
			   </div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="/static/images/men-02.jpg" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>Béchir Boussandel</h4>
							<span>Taymour Grahne Projects</span>
							<span>Feb 11 to Apr 15</span>
						</div>
					</div>
				  </div>
				  <div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="/static/images/men-02.jpg" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>Béchir Boussandel</h4>
							<span>Taymour Grahne Projects</span>
							<span>Feb 11 to Apr 15</span>
						</div>
					</div>
				  </div>
				  <div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="/static/images/men-02.jpg" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>Béchir Boussandel</h4>
							<span>Taymour Grahne Projects</span>
							<span>Feb 11 to Apr 15</span>
						</div>
					</div>
				  </div>
				  <div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="/static/images/men-02.jpg" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>Béchir Boussandel</h4>
							<span>Taymour Grahne Projects</span>
							<span>Feb 11 to Apr 15</span>
						</div>
					</div>
				  </div>
				  <div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="/static/images/men-02.jpg" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>Béchir Boussandel</h4>
							<span>Taymour Grahne Projects</span>
							<span>Feb 11 to Apr 15</span>
						</div>
					</div>
				  </div>
				  <div class="col-md-4">
					<div class="item gl-dt-item">
						<div class="thumb">
							<a href="#"><img src="/static/images/men-02.jpg" alt="" class="img-fluid"></a>
						</div>
						<div class="down-content">
							<h4>Béchir Boussandel</h4>
							<span>Taymour Grahne Projects</span>
							<span>Feb 11 to Apr 15</span>
						</div>
					</div>
				  </div>
			</div>
        </div> -->
        <div class="tab-pane fade" id="Works" role="tabpanel" aria-labelledby="Works-tab">
          <div id="mySidebar" class="sidebar">
			<div class="fixed-sidbr-header">
				<h5>Filter</h5>
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
			</div>
			<div id="accordion" class="accordion">
				<div class="card mb-0">
					<div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
						<a class="card-title">
							Artists
						</a>
					</div>
					<div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
						{% for artist in artists %}
						 <div class="form-check">
						  <label class="form-check-label" for="Artist{{artist.artistid}}">
							<input type="checkbox" class="form-check-input" id="Artist{{artist.artistid}}" name="option{{artist.artistid}}" value="{{artist.artistid}}" onclick="javascript:filter('Artists', '{{artist.artistname}}');">{{artist.artistname}}
						  </label>
						</div>
						{% endfor %}
					</div>
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						<a class="card-title">
						  Rarity
						</a>
					</div>
					<div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
						<div class="form-check">
						  <label class="form-check-label" for="Unique">
							<input type="checkbox" class="form-check-input" id="Unique" name="option1" value="unique"  onclick="javascript:filter('Rarity', 'unique');">Unique
						  </label>
						</div>
						<div class="form-check">
						  <label class="form-check-label" for="LimitedEdition">
							<input type="checkbox" class="form-check-input" id="LimitedEdition" name="option1" value="limited edition" onclick="javascript:filter('Rarity', 'limited edition');">Limited Edition
						  </label>
						</div>
						<div class="form-check">
						  <label class="form-check-label" for="OpenEdition">
							<input type="checkbox" class="form-check-input" id="OpenEdition" name="option1" value="open edition" onclick="javascript:filter('Rarity', 'open edition');">Open Edition
						  </label>
						</div>
					</div>
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						<a class="card-title">
						  Medium
						</a>
					</div>
					<div id="collapseThree" class="collapse" data-parent="#accordion" >
						<div class="card-body">
							<div class="form-check">
							  <label class="form-check-label" for="Photography">
								<input type="checkbox" class="form-check-input" id="Photography" name="option1" value="photography" onclick="javascript:filter('Medium', 'photography');">Photography
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Painting">
								<input type="checkbox" class="form-check-input" id="Painting" name="option2" value="painting" onclick="javascript:filter('Medium', 'painting');">Painting
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Sculpture">
								<input type="checkbox" class="form-check-input" id="Sculpture" name="option3" value="sculpture" onclick="javascript:filter('Medium', 'sculpture');">Sculpture
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="WorksOnPaper">
								<input type="checkbox" class="form-check-input" id="WorksOnPaper" name="option4" value="worksonpaper" onclick="javascript:filter('Medium', 'works on paper');">Works On Paper
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Prints">
								<input type="checkbox" class="form-check-input" id="Prints" name="option5" value="prints" onclick="javascript:filter('Medium', 'prints');">Prints
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Installation">
								<input type="checkbox" class="form-check-input" id="Installation" name="option6" value="installation" onclick="javascript:filter('Medium', 'installation');">Installation
							  </label>
							</div>
						</div>
					</div>
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
						<a class="card-title">
						  Size
						</a>
					</div>
					<div id="collapse4" class="collapse" data-parent="#accordion" >
						<div class="card-body">
							<div class="form-check">
							  <label class="form-check-label" for="SmallSize">
								<input type="checkbox" class="form-check-input" id="SmallSize" name="option1" value="small" onclick="javascript:filter('Size', 'small');">Small (under 40cm)
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Medium">
								<input type="checkbox" class="form-check-input" id="Medium" name="option2" value="medium" onclick="javascript:filter('Size', 'medium');">Medium (40 – 100cm)
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Large">
								<input type="checkbox" class="form-check-input" id="Large" name="option3" value="large" onclick="javascript:filter('Size', 'large');">Large (over 100cm)
							  </label>
							</div>
						</div>
					</div>
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
						<a class="card-title">
						  Material
						</a>
					</div>
					<div id="collapse5" class="collapse" data-parent="#accordion" >
						<div class="card-body">
							<div class="form-check">
							  <label class="form-check-label" for="Acrylic">
								<input type="checkbox" class="form-check-input" id="Acrylic" name="option1" value="acrylic" onclick="javascript:filter('Material', 'acrylic');">Acrylic
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Aluminum">
								<input type="checkbox" class="form-check-input" id="Aluminum" name="option1" value="aluminum" onclick="javascript:filter('Material', 'aluminium');">Aluminum
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Artpaper">
								<input type="checkbox" class="form-check-input" id="Artpaper" name="option1" value="art paper" onclick="javascript:filter('Material', 'art paper');">Art paper
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Bronze">
								<input type="checkbox" class="form-check-input" id="Bronze" name="option1" value="bronze" onclick="javascript:filter('Material', 'bronze');">Bronze
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="C-print">
								<input type="checkbox" class="form-check-input" id="C-print" name="option1" value="c-print" onclick="javascript:filter('Material', 'c-print');">C-print
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Canvas">
								<input type="checkbox" class="form-check-input" id="Canvas" name="option1" value="canvas" onclick="javascript:filter('Material', 'canvas');">Canvas
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Cardboard">
								<input type="checkbox" class="form-check-input" id="Cardboard" name="option1" value="cardboard" onclick="javascript:filter('Material', 'cardboard');">Cardboard
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Ceramic">
								<input type="checkbox" class="form-check-input" id="Ceramic" name="option1" value="ceramic" onclick="javascript:filter('Material', 'ceramic');">Ceramic
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Charcoal">
								<input type="checkbox" class="form-check-input" id="Charcoal" name="option1" value="charcoal" onclick="javascript:filter('Material', 'charcoal');">Charcoal
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Collage">
								<input type="checkbox" class="form-check-input" id="Collage" name="option1" value="collage" onclick="javascript:filter('Material', 'collage');">Collage
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Copper">
								<input type="checkbox" class="form-check-input" id="Copper" name="option1" value="copper" onclick="javascript:filter('Material', 'copper');">Copper
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Cotton">
								<input type="checkbox" class="form-check-input" id="Cotton" name="option1" value="cotton" onclick="javascript:filter('Material', 'cotton');">Cotton
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Digital">
								<input type="checkbox" class="form-check-input" id="Digital" name="option1" value="digital" onclick="javascript:filter('Material', 'digital');">Digital
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Enamel">
								<input type="checkbox" class="form-check-input" id="Enamel" name="option1" value="enamel" onclick="javascript:filter('Material', 'enamel');">Enamel
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Glass">
								<input type="checkbox" class="form-check-input" id="Glass" name="option1" value="glass" onclick="javascript:filter('Material', 'glass');">Glass
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Gouache">
								<input type="checkbox" class="form-check-input" id="Gouache" name="option1" value="gouache" onclick="javascript:filter('Material', 'gouache');">Gouache
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Ink">
								<input type="checkbox" class="form-check-input" id="Ink" name="option1" value="ink" onclick="javascript:filter('Material', 'ink');">Ink
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Inkjet">
								<input type="checkbox" class="form-check-input" id="Inkjet" name="option1" value="inkjet" onclick="javascript:filter('Material', 'inkjet');">Inkjet
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Linen">
								<input type="checkbox" class="form-check-input" id="Linen" name="option1" value="linen" onclick="javascript:filter('Material', 'linen');">Linen
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="MixedMedia">
								<input type="checkbox" class="form-check-input" id="MixedMedia" name="option1" value="mixedmedia" onclick="javascript:filter('Material', 'mixed media');">Mixed Media
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Oil">
								<input type="checkbox" class="form-check-input" id="Oil" name="option1" value="oil" onclick="javascript:filter('Material', 'oil');">Oil
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Paint">
								<input type="checkbox" class="form-check-input" id="Paint" name="option1" value="paint" onclick="javascript:filter('Material', 'paint');">Paint
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Panel">
								<input type="checkbox" class="form-check-input" id="Panel" name="option1" value="panel" onclick="javascript:filter('Material', 'panel');">Panel
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Paper">
								<input type="checkbox" class="form-check-input" id="Paper" name="option1" value="paper" onclick="javascript:filter('Material', 'paper');">Paper
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Pigment">
								<input type="checkbox" class="form-check-input" id="Pigment" name="option1" value="pigment" onclick="javascript:filter('Material', 'pigment');">Pigment
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Polaroid">
								<input type="checkbox" class="form-check-input" id="Polaroid" name="option1" value="polaroid" onclick="javascript:filter('Material', 'polaroid');">Polaroid
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Gelatin">
								<input type="checkbox" class="form-check-input" id="Gelatin" name="option1" value="gelatin" onclick="javascript:filter('Material', 'gelatin');">Gelatin
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="SprayPaint">
								<input type="checkbox" class="form-check-input" id="SprayPaint" name="option1" value="spraypaint" onclick="javascript:filter('Material', 'spray paint');">Spray Paint
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Stone">
								<input type="checkbox" class="form-check-input" id="Stone" name="option1" value="stone" onclick="javascript:filter('Material', 'stone');">Stone
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Vinyl">
								<input type="checkbox" class="form-check-input" id="Vinyl" name="option1" value="vinyl" onclick="javascript:filter('Material', 'vinyl');">Vinyl
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Wash">
								<input type="checkbox" class="form-check-input" id="Wash" name="option1" value="wash" onclick="javascript:filter('Material', 'wash');">Wash
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="WaterColor">
								<input type="checkbox" class="form-check-input" id="WaterColor" name="option1" value="watercolor" onclick="javascript:filter('Material', 'watercolor');">Water Color
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Wire">
								<input type="checkbox" class="form-check-input" id="Wire" name="option1" value="wire" onclick="javascript:filter('Material', 'wire');">Wire
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Wood">
								<input type="checkbox" class="form-check-input" id="Wood" name="option1" value="wood" >Wood
							  </label>
							</div>
						</div>
					</div>
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
						<a class="card-title">
						  Artist Nationality
						</a>
					</div>
					<div id="collapse6" class="collapse" data-parent="#accordion" >
						<div class="card-body">
							{% for nat in nationalities %}
							<div class="form-check">
							  <label class="form-check-label" for="{{nat}}">
								<input type="checkbox" class="form-check-input" id="nat{{ forloop.counter }}" name="option1" value="{{nat}}" onclick="javascript:filter('Nationality', '{{nat}}');">{{nat}}
							  </label>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
						<a class="card-title">
						  Time Period
						</a>
					</div>
					<div id="collapse7" class="collapse" data-parent="#accordion" >
						<div class="card-body">
							<div class="form-check">
							  <label class="form-check-label" for="time-2020">
								<input type="checkbox" class="form-check-input" id="time-2020" name="option1" value="2020" onclick="javascript:filter('Period', '2020s');">2020s
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="time-2010">
								<input type="checkbox" class="form-check-input" id="time-2010" name="option1" value="2010" onclick="javascript:filter('Period', '2010s');">2010s
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="time-2000">
								<input type="checkbox" class="form-check-input" id="time-2000" name="option1" value="2000" onclick="javascript:filter('Period', '2000s');">2000s
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="time-1990">
								<input type="checkbox" class="form-check-input" id="time-1990" name="option1" value="1990" onclick="javascript:filter('Period', '1990s');">1990s
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="time-1980">
								<input type="checkbox" class="form-check-input" id="time-1980" name="option1" value="1980" onclick="javascript:filter('Period', '1980s');">1980s
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="time-1970">
								<input type="checkbox" class="form-check-input" id="time-1970" name="option1" value="1970" onclick="javascript:filter('Period', '1970s');">1970s
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="time-1960">
								<input type="checkbox" class="form-check-input" id="time-1960" name="option1" value="1960" onclick="javascript:filter('Period', '1960s');">1960s
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="early-20th">
								<input type="checkbox" class="form-check-input" id="early-20th" name="option1" value="early-20th" onclick="javascript:filter('Period', 'early 20th');">Early 20th Century
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="late-19th">
								<input type="checkbox" class="form-check-input" id="late-19th" name="option1" value="late-19th" onclick="javascript:filter('Period', 'late 19th');">Late 19th Century
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="mid-19th">
								<input type="checkbox" class="form-check-input" id="mid-19th" name="option1" value="mid-19th" onclick="javascript:filter('Period', 'mid 19th');">Mid 19th Century
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="early-19th">
								<input type="checkbox" class="form-check-input" id="early-19th" name="option1" value="early-19th" onclick="javascript:filter('Period', 'early 19th');">Early 19th Century
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="18th-earlier">
								<input type="checkbox" class="form-check-input" id="18th-earlier" name="option1" value="18th-earlier" onclick="javascript:filter('Period', '18th');">18th Century and Earlier
							  </label>
							</div>
						</div>
					</div>
					<div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
						<a class="card-title">
						  Color
						</a>
					</div>
					<div id="collapse8" class="collapse" data-parent="#accordion" >
						<div class="card-body">
							<div class="form-check">
							  <label class="form-check-label" for="Color-red">
								<input type="checkbox" class="form-check-input" id="Color-red" name="option1" value="red" onclick="javascript:filter('Color', 'red');">Red <span class="color-span" style="background:red;"></span>
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Color-blue">
								<input type="checkbox" class="form-check-input" id="Color-blue" name="option1" value="blue" onclick="javascript:filter('Color', 'blue');">Blue <span class="color-span" style="background:blue;"></span>
							  </label>
							</div>
							<div class="form-check">
							  <label class="form-check-label" for="Color-green">
								<input type="checkbox" class="form-check-input" id="Color-green" name="option1" value="green" onclick="javascript:filter('Color', 'green');">Green <span class="color-span" style="background:green;"></span>
							  </label>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>

			<div id="main">
				<div class="work-top-pnl">
					<button class="openbtn" onclick="openNav()"> Filter</button>
					<div class="dropdown">Sort By:
						<select>
							<option value="1">Defult</option>
							<option value="2">Defult</option>
						</select>
					  </div>
				  </div>
				<div class="row" id='allworks'>
			  <div class="column">
                                {% for evname, artworkslist in allartworks1.items %}
                                {% for artwork in artworkslist %}
				<div class="img-box">
				<img src="{{artwork.image}}" style="width:100%">
				<h4>{{artwork.artworkname}}</h4>
				<h6>{{artwork.medium}}</h6>
				<p>{{artwork.description}}</p>
				</div>
				{% endfor %}
				{% endfor %}
				
			  </div>
			  <div class="column">
				{% for evname, artworkslist in allartworks2.items %}
                                {% for artwork in artworkslist %}
				<div class="img-box">
				<img src="{{artwork.image}}" style="width:100%">
				<h4>{{artwork.artworkname}}</h4>
				<h6>{{artwork.medium}}</h6>
				<p>{{artwork.description}}</p>
				</div>
				{% endfor %}
				{% endfor %}
				
			  </div>
			  <div class="column">
				{% for evname, artworkslist in allartworks3.items %}
                                {% for artwork in artworkslist %}
				<div class="img-box">
				<img src="{{artwork.image}}" style="width:100%">
				<h4>{{artwork.artworkname}}</h4>
				<h6>{{artwork.medium}}</h6>
				<p>{{artwork.description}}</p>
				</div>
				{% endfor %}
				{% endfor %}
				
			  </div>
			  <div class="column">
				{% for evname, artworkslist in allartworks4.items %}
                                {% for artwork in artworkslist %}
				<div class="img-box">
				<img src="{{artwork.image}}" style="width:100%">
				<h4>{{artwork.artworkname}}</h4>
				<h6>{{artwork.medium}}</h6>
				<p>{{artwork.description}}</p>
				</div>
				{% endfor %}
				{% endfor %}
				
			  </div>
			  </div>
			</div>
        </div>
        <div class="tab-pane fade" id="Artists" role="tabpanel" aria-labelledby="Artists-tab">
          <div class="row ">
				<div class="col-md-12">
					<div class="section-heading ">
						<h3>Artists</h3>
						<!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> -->
				   </div>
				</div>
					<div class="col-md-12">
						<div class="art-list">
							<div class="list-item">
							{% for artist in allartists %}
								<p><a href="{{artist.artisturl}}">{{artist.artistname}}</a></p>
							{% endfor %}
							{% if allartists|length == 0%}
							<span>There are no artists listed for the featured event.</span>
							{% endif %}
							</div>
						</div>
					</div>
				</div>
        </div>
        <div class="tab-pane fade" id="Contact" role="tabpanel" aria-labelledby="Contact-tab">
          <h5 class="card-title">Sixth Tab header</h5>
          <p class="card-text">Proin ornare purus vitae magna viverra suscipit. Etiam rutrum lorem cursus libero scelerisque lacinia. Praesent bibendum risus id aliquam finibus. Donec sed orci sodales, viverra dolor a, dignissim mi. Pellentesque nec lectus enim. Suspendisse eu ligula ac tortor mollis lobortis. Nulla a laoreet neque, sit amet luctus dolor. Nam facilisis at odio ac commodo. Nullam vehicula blandit dui, vel suscipit orci.</p>
        </div>
      </div>
		</div>
		</div>
	</section>

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="/static/images/logo-white.png" alt="">
                        </div>
                        <ul>
                            <li><a href="#">1234 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                            <li><a href="#">demo@company.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                 <div class="col-lg-3">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#">Featured shows</a></li>
                        <li><a href="#">Market News</a></li>
                        <li><a href="#">Current Fairs</a></li>
                        <li><a href="#">Trending Artists</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Galleries</a></li>
                        <li><a href="#">Museums</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Security</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022. All Rights Reserved.</p>
                       
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="/static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/js/owl-carousel.js"></script>
    <script src="/static/js/accordions.js"></script>
    <script src="/static/js/datepicker.js"></script>
    <script src="/static/js/scrollreveal.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/imgfix.min.js"></script> 
    <script src="/static/js/slick.js"></script> 
    <script src="/static/js/lightbox.js"></script> 
    <script src="/static/js/isotope.js"></script> 
    <script src="/static/js/jquery.dropdown.min.js"></script> 
    
    <!-- Global Init -->
    <script src="/static/js/custom.js"></script>
	<script>
	function openNav() {
	  document.getElementById("mySidebar").style.width = "350px";
	  //document.getElementById("main").style.marginLeft = "250px";
	}

	function closeNav() {
	  document.getElementById("mySidebar").style.width = "0";
	  document.getElementById("main").style.marginLeft= "0";
	}
	</script>
	<script>
	/*https://www.jqueryscript.net/demo/Searchable-Multi-select-jQuery-Dropdown/*/
	$('.demo').dropdown({
		limitCount: 1,
		input:'<input type="text" maxLength="20" placeholder="Search">'
	});
		
	</script>
    <script>
		
        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>
