<!DOCTYPE html>
<html lang="en">
 <head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initialscale=1, shrink-to-fit=no">
 <meta name="description" content="">
 <meta name="author" content="">
 <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
 <title>Eolico Galleries</title>

 <!-- Additional CSS Files -->
 <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
 <link rel="stylesheet" href="/static/css/style.css">
 <link rel="stylesheet" href="/static/css/responsive.css">
 <link rel="stylesheet" href="/static/css/owl-carousel.css">
 <link rel="stylesheet" href="/static/css/lightbox.css">
 <link rel="stylesheet" href="/static/css/jquery.dropdown.min.css">

 <link rel="stylesheet" href="/static/css/newcarousel.css">


    <style>
	.owl-prev, .owl-next {
        width: 15px;
        height: 100px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block !important;
        border:0px solid black;
    }
    .owl-prev { left: -20px; }
    .owl-next { right: -20px; }
    .owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}
 
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script type='text/javascript'>
	
	function dofilter(selectid){
	  //alert("hi");
	  const galleriesdict = {
	    {% for gname, glist in allgalleries.items %}
		"{{gname}}" : Array("{{glist.0}}", "{{glist.1}}", "{{glist.2}}", "{{glist.3}}", "{{glist.4}}"),
	    {% endfor %}
	  };
	  sectiontag = document.getElementById("galleries");
	  selecttag = document.getElementById(selectid);
	  selectedoption = selecttag.options[selecttag.options.selectedIndex].value;
	  //alert(selectedoption);
          html = "";
 	  if(selectid == "bylocation"){
	    for(gname in galleriesdict){
		gvlist = galleriesdict[gname];
		starter = 0;
		  if(selectedoption != "1"){
		  //alert(gvlist[0].toLowerCase() + "gvlist"); alert(selectedoption.toLowerCase());
		  if(gvlist[0].toLowerCase().includes(selectedoption.toLowerCase())){
                  //if(gvlist[0].toLowerCase() == selectedoption.toLowerCase() ){
		    if(starter == 0){
            		html += "<section class='section gal-section'><div class='container'><div class='row align-items-end'><div class='col-lg-12'><div class='section-heading text-center'><h2>" + "" + "</h2><!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> --><hr></div></div> </div></div>";
			html += "<div class='container'><div class='row align-items-end'><div class='col-lg-12'><div class='men-item-carousel'><div class='owl-men-item owl-carousel' style='display:inline-block'>";
		        starter = 1;
		    }
		    html += "<div class='item'><div class='thumb'><a href='/gallery/details/?gid=" + gvlist[3] + "'><img src='" + gvlist[1] + "' alt=''></a></div><div class='down-content'><a href='/gallery/details/?gid=" + gvlist[3] + "'>		<h4>" + gname + "</h4><span>" + gvlist[0] + "</span><a class='btn btn-slider' href='/gallery/follow/?gid=" + gvlist[3] + "'>Follow</a></a></div></div>";        
		  }
		}// if selectedoption != 1
		else{
		    if(starter == 0){
            		html += "<section class='section gal-section'><div class='container'><div class='row align-items-end'><div class='col-lg-12'><div class='section-heading text-center'><h2>" + "" + "</h2><!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> --><hr></div></div> </div></div>";
			html += "<div class='container'><div class='row align-items-end'><div class='col-lg-12'><div class='men-item-carousel'><div class='owl-men-item owl-carousel' style='display:inline-block'>";
		        starter = 1;
		    }
		    html += "<div class='item'><div class='thumb'><a href='/gallery/details/?gid=" + gvlist[3] + "'><img src='" + gvlist[1] + "' alt=''></a></div><div class='down-content'><a href='/gallery/details/?gid=" + gvlist[3] + "'>		<h4>" + gname + "</h4><span>" + gvlist[0] + "</span><a class='btn btn-slider' href='/gallery/follow/?gid=" + gvlist[3] + "'>Follow</a></a></div></div>";  
		}
		html += "</div></div></div></div></div></section>";
	    } 
	  }
	  if(selectid == "byspeciality"){
	    for(gname in galleriesdict){
		if(gname.toLowerCase() == selectedoption.toLowerCase()){
		  gvlist = galleriesdict[gname];
		  starter = 0;

		  if(selectedoption != "1"){
		  if(gvlist[0].toLowerCase() == selectedoption.toLowerCase()){
		    if(starter == 0){
            		html += "<section class='section gal-section'><div class='container'><div class='row align-items-end'><div class='col-lg-12'><div class='section-heading text-center'><h2>" + "" + "</h2><!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> --><hr></div></div> </div></div>";
			html += "<div class='container'><div class='row align-items-end'><div class='col-lg-12'><div class='men-item-carousel'><div class='owl-men-item owl-carousel' style='display:inline-block'>";
		        starter = 1;
		    }
		    html += "<div class='item'><div class='thumb'><a href='/gallery/details/?gid=" + gvlist[3] + "'><img src='" + gvlist[1] + "' alt=''></a></div><div class='down-content'><a href='/gallery/details/?gid=" + gvlist[3] + "'>		<h4>" + gname + "</h4><span>" + gvlist[0] + "</span><a class='btn btn-slider' href='/gallery/follow/?gid=" + gvlist[3] + "'>Follow</a></a></div></div>";  
		  }
		} // if selectedoption != 1
		else{
		    if(starter == 0){
            		html += "<section class='section gal-section'><div class='container'><div class='row align-items-end'><div class='col-lg-12'><div class='section-heading text-center'><h2>" + "" + "</h2><!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> --><hr></div></div> </div></div>";
			html += "<div class='container'><div class='row align-items-end'><div class='col-lg-12'><div class='men-item-carousel'><div class='owl-men-item owl-carousel' style='display:inline-block'>";
		        starter = 1;
		    }
		    html += "<div class='item'><div class='thumb'><a href='/gallery/details/?gid=" + gvlist[3] + "'><img src='" + gvlist[1] + "' alt=''></a></div><div class='down-content'><a href='/gallery/details/?gid=" + gvlist[3] + "'>		<h4>" + gname + "</h4><span>" + gvlist[0] + "</span><a class='btn btn-slider' href='/gallery/follow/?gid=" + gvlist[3] + "'>Follow</a></a></div></div>";    
		}

		html += "</div></div></div></div></div></section>";
		}
	    }
	  }
	  sectiontag.innerHTML = html;
	}
    </script>
 </head>

 <body>

 <!-- ***** Preloader Start ***** -->
 <div id="preloader">
 <div class="jumper">
 <div></div>
 <div></div>
 <div></div>
 </div>
 </div>
 <!-- ***** Preloader End ***** -->


 <!-- ***** Header Area Start ***** -->
 <header class="header-area header-sticky">
 <div class="container">
 <div class="row">
 <div class="col-12">
 <nav class="main-nav">
 <!-- ***** Logo Start ***** -->
 <a href="/login/index/" class="logo">
 <img src="/static/images/logo1.png">
 </a>
 <!-- ***** Logo End ***** -->
 <!-- ***** Menu Start ***** -->
 <ul class="nav">
 <li class="scroll-to-section"><a href="/gallery/index/" class="active">Galleries</a></li>
 <li class="scroll-to-section"><a href="/museum/index/">Museums</a></li>
 <li class="scroll-to-section"><a href="/artist/index/">Artists</a></li>
 <li class="scroll-to-section"><a href="/auctionhouse/index/">Auction Houses</a></li>
 <li class="scroll-to-section"><a href="/auction/index/">Auctions</a></li>
 <li class="scroll-to-section"><a href="/price/database/">Price Database</a></li>
 
 <!--<li class="submenu">
 <a href="javascript:;">Pages</a>
 <ul>
 <li><a href="about.html">About Us</a></li>
 <li><a href="products.html">Products</a></li>
 <li><a href="singleproduct.html">Single Product</a></li>
 <li><a href="contact.html">Contact Us</a></li>
 </ul>
 </li>  
 -->

 </ul>
 <a class='menu-trigger'> <span>Menu</span> </a>
 <!-- ***** Menu End ***** -->
 </nav>
 </div>
 </div>
 </div>
 </header>
 <!-- ***** Header Area End ***** -->
 <!-- ***** Main Banner Area Start ***** -->
<!-- 
<div id="Top-owl-carousel" class="owl-carousel owl-theme">
<div class="item"><img src="/static/images/slider-bg1.jpg" class="img-fluid" alt=""><div class="slide-cap"><h2>Aliquam
tincidunt dolor</h2><p>Lorem ipsum dolor sit amet, consectetur
adipiscing elit. Consectetur adipiscing elit. Fusce facilisis</p><a
class="btn btn-slider" href="#">Explore</a></div></div>
<div class="item"><img src="/static/images/slider-bg2.jpg" class="img-fluid" alt=""><div class="rit-cap"><h2>Phasellus
placerat</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing
elit. Consectetur adipiscing elit. Fusce facilisis</p><a class="btn
btn-slider" href="#">Explore</a></div></div>
<div class="item"><img src="/static/images/slider-bg3.jpg" class="img-fluid" alt=""><div class="slide-cap"><h2>Maecenas
molestie</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing
elit. Consectetur adipiscing elit. Fusce facilisis</p><a class="btn
btn-slider" href="#">Explore</a></div></div>
</div>
-->
	
    <!-- Carousel -->
    <section class="testimonials">
     <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="customers-testimonials" class="owl-carousel owl-theme">
	    {% for d in carousel %}
            {% if d.datatype == "gallery" %}
            <div class="item">
              <div class="shadow-effect">
                <img class="img-responsive" src="{{d.img}}" alt="">
                <div class="item-details">
			<a class="btn btn-slider" href="/gallery/details/?gid={{d.data_id}}">
			<h5>{{d.title}}</h5>
			<p>{{d.text}}</p>
			</a>
		</div>
              </div>
            </div>
	    {% endif %}
	    {% if d.datatype == "gevent" %}
            <div class="item">
              <div class="shadow-effect">
                <img class="img-responsive" src="{{d.img}}" alt="">
                <div class="item-details">
			<a class="btn btn-slider" href="/gallery/eventdetails/?gevid={{d.data_id}}">
			<h5>{{d.title}}</h5>
			<p>{{d.text}}</p>
			</a>
		</div>
              </div>
            </div>
	    {% endif %}
	    {% if d.datatype == "museum" %}
            <div class="item">
              <div class="shadow-effect">
                <img class="img-responsive" src="{{d.img}}" alt="">
                <div class="item-details">
			<a class="btn btn-slider" href="/museum/details/?mid={{d.data_id}}">
			<h5>{{d.title}}</h5>
			<p>{{d.text}}</p>
			</a>
		</div>
              </div>
            </div>
	    {% endif %}
	    {% if d.datatype == "mevent" %}
            <div class="item">
              <div class="shadow-effect">
                <img class="img-responsive" src="{{d.img}}" alt="">
                <div class="item-details">
			<a class="btn btn-slider" href="/museum/eventdetails/?mevid={{d.data_id}}">
			<h5>{{d.title}}</h5>
			<p>{{d.text}}</p>
			</a>
		</div>
              </div>
            </div>
	    {% endif %}
	    {% endfor %}
          </div>
        </div>

	<div class="owl-controls">
        <div class="owl-nav">
            <div class="owl-prev"></div>
            <div class="owl-next"></div>
        </div>
    	</div>

      </div>
      </div>
    </section>
    <!-- END OF Carousels -->

<!-- ***** Main Banner Area End ***** -->

<section class="section gal-section" id="">
 <div class="container">
 <div class="row">
 <div class="col-lg-12">
 <div class="section-heading text-center">
 <h2>Browse Galleries</h2>
<hr>
 </div>
 </div>
 </div>
 </div>
<div class="container">
 <div class="row">
 <div class="col-md-4">
<div class="row">
<!-- <div class="demo"> -->
 <select name="bylocation" placeholder="Select" id='bylocation' class="form-control" onChange="javascript:dofilter('bylocation');">
<option value="1">All Locations</option>
{% for gloc, v in gallerylocations.items %}
<option value="{{gloc}}">{{gloc}}</option>
{% endfor %}
 </select>
</div>
</div>
<!-- 
 <div class="col-md-4">
<div class="demo">
 <select style="display:none" name="byspeciality" placeholder="Select" id='byspeciality' onChange="javascript:dofilter('byspeciality');">
<option value="1">All Specialties</option>
{% for gtype in gallerytypes %}
<option value="{{gtype}}">{{gtype}}</option>
{% endfor %}
 </select>
</div>
</div>

 <div class="col-md-4">
<div class="demo">
 <select style="display:none" placeholder="Select">
<option value="1">All Galleries</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
 </select>
</div>
</div>
 -->
</div>
</div>
</section>
<!-- Begining of addition -->
  <div id="galleries">
    <section class="oth-works mrt-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading section-heading-2 mrb-50">
                        <h2>{{gallerytypes.0}}</h2>
                        <!-- <span>
                            <a href="">View All</a>
                        </span> -->
                    </div>
                </div>
            </div>
            <div class="row align-items-end">
		{% for galleryname, gdata in galleries1.items %}
                <div class="column">
                    <div class="img-box">
			<a href="/gallery/details/?gid={{gdata.3}}"><img src="{{gdata.1}}" alt=""></a>
                        <a href="/gallery/details/?gid={{gdata.3}}" style="color:#000000;">
			<h4>{{galleryname}}</h4>
			<span style="padding-left:10px;">{{gdata.0}}</span>
			<!-- <a class="btn btn-slider" href="#">Follow</a> -->
			</a>
                    </div>
                </div>
		{% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="oth-works mrt-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading section-heading-2 mrb-50">
                        <h2>{{gallerytypes.1}}</h2>
                        <span>
                            <!-- <a href="">View All</a> -->
                        </span>
                    </div>
                </div>
            </div>
            <div class="row align-items-end">
		{% for galleryname, gdata in galleries2.items %}
                <div class="column">
                    <div class="img-box">
			<a href="/gallery/details/?gid={{gdata.3}}"><img src="{{gdata.1}}" alt=""></a>
                        <a href="/gallery/details/?gid={{gdata.3}}" style="color:#000000;">
			<h4>{{galleryname}}</h4>
			<span style="padding-left:10px;">{{gdata.0}}</span>
			<!-- <a class="btn btn-slider" href="#">Follow</a> -->
			</a>
                    </div>
                </div>
		{% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="oth-works mrt-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading section-heading-2 mrb-50">
                        <h2>{{gallerytypes.2}}</h2>
                        <span>
                            <!-- <a href="">View All</a> -->
                        </span>
                    </div>
                </div>
            </div>
            <div class="row align-items-end">
		{% for galleryname, gdata in galleries3.items %}
                <div class="column">
                    <div class="img-box">
			<a href="/gallery/details/?gid={{gdata.3}}"><img src="{{gdata.1}}" alt=""></a>
                        <a href="/gallery/details/?gid={{gdata.3}}" style="color:#000000;">
			<h4>{{galleryname}}</h4>
			<span style="padding-left:10px;">{{gdata.0}}</span>
			<!-- <a class="btn btn-slider" href="#">Follow</a> -->
			</a>
                    </div>
                </div>
		{% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="oth-works mrt-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading section-heading-2 mrb-50">
                        <h2>{{gallerytypes.3}}</h2>
                        <span>
                            <!-- <a href="">View All</a> -->
                        </span>
                    </div>
                </div>
            </div>
            <div class="row align-items-end">
		{% for galleryname, gdata in galleries4.items %}
                <div class="column">
                    <div class="img-box">
			<a href="/gallery/details/?gid={{gdata.3}}"><img src="{{gdata.1}}" alt=""></a>
                        <a href="/gallery/details/?gid={{gdata.3}}" style="color:#000000;">
			<h4>{{galleryname}}</h4>
			<span style="padding-left:10px;">{{gdata.0}}</span>
			<!-- <a class="btn btn-slider" href="#">Follow</a> -->
			</a>
                    </div>
                </div>
		{% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="oth-works mrt-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading section-heading-2 mrb-50">
                        <h2>{{gallerytypes.4}}</h2>
                        <span>
                            <!-- <a href="">View All</a> -->
                        </span>
                    </div>
                </div>
            </div>
            <div class="row align-items-end">
		{% for galleryname, gdata in galleries5.items %}
                <div class="column">
                    <div class="img-box">
			<a href="/gallery/details/?gid={{gdata.3}}"><img src="{{gdata.1}}" alt=""></a>
                        <a href="/gallery/details/?gid={{gdata.3}}" style="color:#000000;">
			<h4>{{galleryname}}</h4>
			<span style="padding-left:10px;">{{gdata.0}}</span>
			<!-- <a class="btn btn-slider" href="#">Follow</a> -->
			</a>
                    </div>
                </div>
		{% endfor %}
                </div>
            </div>
        </div>
    </section>
  </div>

<!-- End of addition -->
<!--
<div id="galleries">
<section class="section gal-section">
 <div class="container">
 <div class="row">
 <div class="col-lg-12">
 <div class="section-heading text-center">
 <h2>{{gallerytypes.0}}</h2>
 
<hr>
 </div>
 </div>
 </div>
 </div>
 <div class="container">
 <div class="row">
 <div class="col-lg-12">
 <div class="men-item-carousel">
 <div class="owl-men-item owl-carousel">
{% for galleryname, gdata in galleries1.items %}
 <div class="item">
 <div class="thumb">
 <a href="/gallery/details/?gid={{gdata.3}}"><img src="{{gdata.1}}" alt=""></a>
 </div>

 <div class="down-content">
<a href="/gallery/details/?gid={{gdata.3}}">
<h4>{{galleryname}}</h4>
<span>{{gdata.0}}</span>
<a class="btn btn-slider" href="#">Follow</a>
</a>
 </div>
 </div>
{% endfor %}
 </div>
 </div>
 </div>
 </div>
 </div>
 </section>
 <section class="section gal-section" id="">
 <div class="container">
 <div class="row">
 <div class="col-lg-12">
 <div class="section-heading text-center">
 <h2>{{gallerytypes.1}}</h2>
 
<hr>
 </div>
 </div>
 </div>
 </div>
 <div class="container">
 <div class="row">
 <div class="col-lg-12">
 <div class="men-item-carousel">
 <div class="owl-men-item owl-carousel">
{% for galleryname, gdata in galleries2.items %}
 <div class="item">
 <div class="thumb">
 <a href="/gallery/details/?gid={{gdata.3}}"><img src="{{gdata.1}}" alt=""></a>
 </div>
 <div class="down-content">
<a href="/gallery/details/?gid={{gdata.3}}">
<h4>{{galleryname}}</h4>
<span>{{gdata.0}}</span>
<a class="btn btn-slider" href="#">Follow</a>
</a>
 </div>
 </div>
{% endfor %}
 </div>
 </div>
 </div>
 </div>
 </div>
 </section>
<section class="section gal-section" id="">
 <div class="container">
 <div class="row">
 <div class="col-lg-12">
 <div class="section-heading text-center">
 <h2>{{gallerytypes.2}}</h2>
 
<hr>
 </div>
 </div>
 </div>
 </div>
 <div class="container">
 <div class="row">
 <div class="col-lg-12">
 <div class="men-item-carousel">
 <div class="owl-men-item owl-carousel">
{% for galleryname, gdata in galleries3.items %}
 <div class="item">
 <div class="thumb">
 <a href="/gallery/details/?gid={{gdata.3}}"><img src="{{gdata.1}}" alt=""></a>
 </div>
 <div class="down-content">
<a href="/gallery/details/?gid={{gdata.3}}">
<h4>{{galleryname}}</h4>
<span>{{gdata.0}}</span>
<a class="btn btn-slider" href="#">Follow</a> 
</a>
 </div>
 </div>
{% endfor %}
 </div>
 </div>
 </div>
 </div>
 </div>
 </section>
<section class="section gal-section" id="">
 <div class="container">
 <div class="row">
 <div class="col-lg-12">
 <div class="section-heading text-center">
 <h2>{{gallerytypes.3}}</h2>
 
<hr>
 </div>
 </div>
 </div>
 </div>
 <div class="container">
 <div class="row">
 <div class="col-lg-12">
 <div class="men-item-carousel">
 <div class="owl-men-item owl-carousel">
{% for galleryname, gdata in galleries4.items %}
 <div class="item">
 <div class="thumb">
 <a href="/gallery/details/?gid={{gdata.3}}"><img src="{{gdata.1}}" alt=""></a>
 </div>
 <div class="down-content">
<a href="/gallery/details/?gid={{gdata.3}}">
<h4>{{galleryname}}</h4>
<span>{{gdata.0}}</span>
<a class="btn btn-slider" href="#">Follow</a>
</a>
 </div>
 </div>
{% endfor %}
  </div>
 </div>
 </div>
 </div>
 </div>
 </section>
<section class="section gal-section" id="">
 <div class="container">
 <div class="row">
 <div class="col-lg-12">
 <div class="section-heading text-center">
 <h2>{{gallerytypes.4}}</h2>
 
<hr>
 </div>
 </div>
 </div>
 </div>
 <div class="container">
 <div class="row">
 <div class="col-lg-12">
 <div class="men-item-carousel">
 <div class="owl-men-item owl-carousel">
{% for galleryname, gdata in galleries5.items %}
 <div class="item">
 <div class="thumb">
 <a href="/gallery/details/?gid={{gdata.3}}"><img src="{{gdata.1}}" alt=""></a>
 </div>
 <div class="down-content">
<a href="/gallery/details/?gid={{gdata.3}}">
<h4>{{galleryname}}</h4>
<span>{{gdata.0}}</span>
<a class="btn btn-slider" href="#">Follow</a>
</a>
 </div>
 </div>
{% endfor %}
 </div>
 </div>
 </div>
 </div>
 </div>
 </section>
 </div>
-->
 <!-- ***** Footer Start ***** -->
 <footer>
 <div class="container">
 <div class="row">
 <div class="col-lg-3">
 <div class="first-item">
 <div class="logo">
 <img src="/static/images/logo-white.png" alt="">
 </div>
 <ul>
 <li><a href="#">1234 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
 <li><a href="#">demo@company.com</a></li>
 <li><a href="#">010-020-0340</a></li>
 </ul>
 </div>
 </div>
 <div class="col-lg-3">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/auctionhouse/index/">Featured Auction Houses</a></li>
                        <li><a href="/login/index/">Home</a></li>
                        <li><a href="/auction/index/">Current Auctions</a></li>
                        <li><a href="/artist/index/">Trending Artists</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="/about/">About Us</a></li>
                        <li><a href="/gallery/index/">Galleries</a></li>
                        <li><a href="/museum/index/">Museums</a></li>
                        <li><a href="/contactus/">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="/faq/">FAQ's</a></li>
                        <li><a href="/termsofuse/">Terms of Use</a></li>
                        <li><a href="/privacy/">Privacy Policy</a></li>
                        <li><a href="/security/">Security</a></li>
                    </ul>
                </div>
 <div class="col-lg-12">
 <div class="under-footer">
 <p>Copyright © 2022. All Rights Reserved.</p>

 <ul>
 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
 <li><a href="#"><i class="fa fa-twitter"></i></a></li>
 <li><a href="#"><i class="fa fainstagram"></i></a></li>
 </ul>
 </div>
 </div>
 </div>
 </div>
 </footer>

 <!-- jQuery -->
 <script src="/static/js/jquery-2.1.0.min.js"></script>
 <!-- Bootstrap -->
 <script src="/static/js/popper.js"></script>
 <script src="/static/js/bootstrap.min.js"></script>
 <!-- Plugins -->
 <script src="/static/js/owl-carousel.js"></script>
 <script src="/static/js/accordions.js"></script>
 <script src="/static/js/datepicker.js"></script>
 <script src="/static/js/scrollreveal.min.js"></script>
 <script src="/static/js/waypoints.min.js"></script>
 <script src="/static/js/jquery.counterup.min.js"></script>
 <script src="/static/js/imgfix.min.js"></script>
 <script src="/static/js/slick.js"></script>
 <script src="/static/js/lightbox.js"></script>
 <script src="/static/js/isotope.js"></script>
 <script src="/static/js/jquery.dropdown.min.js"></script>

 <!-- Global Init -->
 <script src="/static/js/custom.js"></script>
<script>
/*https://www.jqueryscript.net/demo/Searchable-Multi-selectjQuery-Dropdown/*/
$('.demo').dropdown({
  limitCount: 1, input:'<input type="text" maxLength="20" placeholder="Search">'
});

jQuery(document).ready(function($) {
"use strict";
$('#customers-testimonials').owlCarousel( {
		loop: true,
		center: true,
		items: 3,
		margin: 30,
		autoplay: true,
		dots:true,
    		nav:true,
		autoplayTimeout: 8500,
		smartSpeed: 450,
  		navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
		responsive: {
			0: {
				items: 1
			},
			768: {
				items: 2
			},
			1170: {
				items: 3
			}
		}
	});
});
</script>
 <script>
 $(function() {
   var selectedClass = "";
   $("p").click(function(){
     selectedClass = $(this).attr("data-rel");
     $("#portfolio").fadeTo(50, 0.1);
     $("#portfolio div").not("."+selectedClass).fadeOut();
     setTimeout(function() {
 	$("."+selectedClass).fadeIn();
 	$("#portfolio").fadeTo(50, 1);
     }, 500);

   });
 });
 </script>
 </body>
</html>
